<div class="b-sections-slider__slide swiper-slide" data-hash="section-<%=index %>">
    <div class="b-chess b-chess--spanto<%=_.last(floors).flats.length %>">
        <div class="b-chess__inner">
            <% _.forEach(floors, function(floor){%>
            <div class="b-chess__row">
                <% if(floor.flats.length){%>
                    <% _.forEach(floor.flats, function(flat){%>
                        <div class="b-chess__cell b-chess__cell--1of<%=floor.flats.length %>">
                            <% if(flat.filtered){%>
                                <a href="<%=flat.href %>" class="b-chess__flatlink <% if(!!flat.discount){%> b-chess__flatlink--discount<%}; %> b-chess__flatlink--active<% if(flat.status !=='sale'){%> b-chess__flatlink--sold-out<%}; %><% if(!!flat.apartament){%> b-chess__flatlink--apart<%}; %>">
                                    <%=flat.rooms %>
                                </a>
                                <%}else{%>
                                    <% if(flat.status==='sale'){%>
                                        <a href="<%=flat.href %>" class="b-chess__flatlink <% if(!!flat.discount){%> b-chess__flatlink--discount<%}; %>">
                                            <%=flat.rooms %>
                                        </a>
                                        <%}else{%> <span class="b-chess__flatlink b-chess__flatlink--sold-out"><%=flat.rooms %></span>
                                            <%}; %>
                                                <%}; %>
                                                    <% if(flat.status==="sale"){%>
                                                        <div class="b-chess__cell-tooltip">
                                                            <div class="b-chess__info-type">
                                                                <%=flat.rooms %>-к
                                                                    <% if(flat.plantype==2 ){%>
                                                                        <%}else{%> Классика
                                                                            <%}; %>
                                                            </div>
                                                            <div class="b-chess__info-bottom-line clearfix">
                                                                <div class="b-chess__info-area">
                                                                    <%=flat.area %> м²</div>
                                                                <div class="b-chess__info-price">
                                                                    <%=parseInt(flat.price).toLocaleString('ru-RU') %> ₽</div>
                                                            </div>
                                                        </div>
                                                        <%}else{%>
                                                            <div class="b-chess__cell-tooltip"> ПРОДАНО... </div>
                                                            <%}; %>
                        </div>
                        <%}); %>
                            <div class="b-chess__row-num">
                                <%=floor.floor %>
                            </div>
                            <%}; %>
            </div>
            <%}); %>
                    <div class="b-chess__row b-chess__row--footer">
                        <div class="b-chess__cell b-chess__cell--footer">
                            <div class="b-chess__footer-block"></div>
                        </div>
                        <div class="b-chess__row-num">1</div>
                    </div>
        </div>
        <div class="b-chess__title">
            <%=title %>
        </div>
    </div>
</div>
