{% set pageType = "404" %}
{% set title =  "404" %}
{% extends "layout.html" %}
{% set isHeaderWhite = false %}
{% set isFooterWhite = false %}
{% set hideControls = false %}

{% block content %}

<div class="undefined_content">
    <h2>404</h2>
    <p>Страница не найдена</p>
    <a href="#" class="underfined_link">Перейти на главную</a>
</div>


{% endblock %}