{% set pageType = "about_genplan" %}
{% set title = "Генплан" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}

<div class="container-fluid container-fluid-aboutGenplan">
	
	<div class="AboutGenplanContent">
		<h2 class='AboutGenplanContent_header'>Генплан</h2>
		<p class="AboutGenplanContent_text">
			«Серебряный фонтан» - это не просто жилой комплекс, а целый микрорайон с прекрасными видами и полностью готовой к жизни инфраструктурой.
		</p>
		<p class="AboutGenplanContent_text">
			Посмотрите на генплан, выберите корпус, который в наибольшей степени отвечает вашим пожеланиям, и переходите к выбору квартиры!
		</p>
		<a href="#">
			<button class="AboutGenplanContent_button">Скачать PDF</button>
		</a>
	</div>
	<div class="map_mask">
		<img class="map_mask__genplan" src="img/plan_genplan.png" alt="">
	</div>
</div>

{% endblock %}