{% set pageType = "actions" %}
{% set title = "Акции" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% extends "layout.html" %}
{% block content %}

<div class="h1 actions">Акции</div>

<div class="actions_list_wrap">
<h2 class="b-current-page-subheader b-current-page-subheader--actions">Акции<span class="b-current-page-subheader__addendum hidden-xs">на май 2017</span></h2>

<div class="b-actsly" id="actionsSlider">
    <div class="b-actsly__arrows">
        <a href="#" class="b-actsly__arrow b-actsly__arrow--prev"></a>
        <a href="#" class="b-actsly__arrow b-actsly__arrow--next"></a>
    </div>
    <div class="b-actsly__inner">
        <div class="b-actsly__track">
            {% for i in range(1,20) %}
            <div class="b-actsly__leaf">
                <a href="#" class="b-actcard">
                    <div class="b-actcard__img" style="background-image:url(img/trash_news_1_1.jpg);"></div>
                    <div class="b-actcard__text">
                        <h4 class="b-actcard__header">Успей купить!</h4>
                        <p class="b-actcard__desc">Ограниченный список квартир <b>147&nbsp;000&nbsp;руб/м²</b></p>
                        <span class="b-actcard__more-link"><span class="b-actcard__more-text">Подробнее</span> &rarr;</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>
<div class="time_slide">
    <a href="#" class="time_slide_cntrls"></a>
</div>
</div>

{#  <div class="actions_list_wrap" id="wrapper">
    
    <div id="scroller" class="row">
        
            <div style="width: 6000px; background: yellow; height: 10px;"></div>
       
    </div>

   <div class="row actions_list">
        <div class="actions_list_item disable">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_1.jpg);"></div>
            <div class="actions_list_text">
                <h4>Успей купить!</h4>
                <p>Ограниченный список квартир <b>147 000 руб/м&sup2;</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_controls">
            <div class="current_page">Акции<span class="text_xs">на май 2017</span></div>
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_1.jpg);"></div>
            <div class="actions_list_text">
                <h4>Успей купить!</h4>
                <p>Ограниченный список квартир <b>147&nbsp;000&nbsp;руб/м&sup2;</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_2.jpg);"></div>
            <div class="actions_list_text">
                <h4>Рассрочка 0%</h4>
                <p>Ограниченные сроки подачи заявления <b>до декабря 2017</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_3.jpg);"></div>
            <div class="actions_list_text">
                <h4>Скидка на машиноместо</h4>
                <p>Ограниченные сроки подачи заявления <b>50 000 руб</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_4.jpg);"></div>
            <div class="actions_list_text">
                <h4>Успей купить!</h4>
                <p>Ограниченный список квартир <b>147 000 руб/м&sup2;</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_1.jpg);"></div>
            <div class="actions_list_text">
                <h4>Успей купить!</h4>
                <p>Ограниченный список квартир <b>147&nbsp;000&nbsp;руб/м&sup2;</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_2.jpg);"></div>
            <div class="actions_list_text">
                <h4>Рассрочка 0%</h4>
                <p>Ограниченные сроки подачи заявления <b>до декабря 2017</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_3.jpg);"></div>
            <div class="actions_list_text">
                <h4>Скидка на машиноместо</h4>
                <p>Ограниченные сроки подачи заявления <b>50 000 руб</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
        <div class="actions_list_item">
            <div class="actions_list_img" style="background-image:url(img/trash_news_1_4.jpg);"></div>
            <div class="actions_list_text">
                <h4>Успей купить!</h4>
                <p>Ограниченный список квартир <b>147 000 руб/м&sup2;</b></p>
                <span class="actions_list_more"><span>Подробнее</span>&rarr;</span>
            </div>
            <a href="#"></a>
        </div>
    </div> 
    
</div>
#}

{% endblock %}
