{% set pageType = "commercial" %}
{% set title = "Коммерческая недвижимость" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="about_wrap _commercial">
    <div class="b-aboutpage-bg visible-md visible-lg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-5 col-sm-6">
                <div class="current_page">Коммерческая недвижимость</div>
            </div>
            <div class="col-sm-6">
                <h1>Продажа<br>коммерческой<br>недвижемостии</h1>
            </div>
        </div>
    </div>
    <div class="container about_container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-5 col-sm-6">
                <h2><span>Коммерческие помещения</span></h2>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-md-12">
                <p>В бизнесе самое главное — скорость окупаемости и гарантия будущей прибыли. На этой странице вы можете сделать первый шаг к успеху, выбрав наиболее подходящее для ваших целей коммерческое помещения в жилом комплексе «Серебряный фонтан».

                <p>Все помещения расположены на первых этажах корпусов бизнес-класса. Потолки высотой 4,7 м, панорамное остекление, подключенные инженерные сети позволят вам быстро и с минимальными затратами создать свое предприятие и привлечь новых клиентов. А выгодные условия покупки и возможность использования беспроцентной рассрочки обеспечат быструю окупаемость и высокую прибыль в дальнейшем.</p>

                <p>Общая реализуемая площадь проекта на земельном участке 7,72 Га составит 181 290 тыс. кв. м, включая паркинг на 2100 машиномест.</p>
                <p>&nbsp;</p>
                <div class="swiper-container slider-gallery" data-slider-gallery>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/commercial/slider_1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/commercial/slider_2.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/commercial/slider_3.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/commercial/slider_4.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/commercial/slider_5.jpg" alt="">
                        </div>
                    </div>

                    <div class="swiper-arrow _left" data-gallery-slider-prev>
                        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M2.5,10.5 L11.5,1.5" id="Line" stroke="#fff" stroke-width="2"></path>
                                <path d="M2.5,10.5 L11.5,19.5" id="Line-2" stroke="#fff" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,1.5" id="Line-Copy" stroke="#fff" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,19.5" id="Line-2-Copy" stroke="#fff" stroke-width="2"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="swiper-arrow _right" data-gallery-slider-next>
                        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M2.5,10.5 L11.5,1.5" id="Line" stroke="#fff" stroke-width="2"></path>
                                <path d="M2.5,10.5 L11.5,19.5" id="Line-2" stroke="#fff" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,1.5" id="Line-Copy" stroke="#fff" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,19.5" id="Line-2-Copy" stroke="#fff" stroke-width="2"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-md-12">
                <div class="swiper-container-helper">
                    <div class="swiper-arrow _left" data-simple-slider-prev>
                        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M2.5,10.5 L11.5,1.5" id="Line" stroke="#435178" stroke-width="2"></path>
                                <path d="M2.5,10.5 L11.5,19.5" id="Line-2" stroke="#435178" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,1.5" id="Line-Copy" stroke="#435178" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,19.5" id="Line-2-Copy" stroke="#435178" stroke-width="2"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="swiper-arrow _right" data-simple-slider-next>
                        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M2.5,10.5 L11.5,1.5" id="Line" stroke="#435178" stroke-width="2"></path>
                                <path d="M2.5,10.5 L11.5,19.5" id="Line-2" stroke="#435178" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,1.5" id="Line-Copy" stroke="#435178" stroke-width="2"></path>
                                <path d="M8.5,10.5 L17.5,19.5" id="Line-2-Copy" stroke="#435178" stroke-width="2"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="swiper-container simple-slider" data-slider-simple>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-slide__tlt">Помещение №1</div>
                                <img src="/img/commercial/В-1-1.svg" alt="">
                                <div class="swiper-slide__tlt _bottom">145.6 м2</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide__tlt">Помещение №1</div>
                                <img src="/img/commercial/В-1-2.svg" alt="">
                                <div class="swiper-slide__tlt _bottom">145.6 м2</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide__tlt">Помещение №1</div>
                                <img src="/img/commercial/В-1-3.svg" alt="">
                                <div class="swiper-slide__tlt _bottom">145.6 м2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-md-12">
                <div class="commercial-footer">
                    <a href="#callmeFormModal" data-fancybox="inline-callme-form" class="btn _simple">Оставить заявку</a>
                    <p><a href="" class="actions">Акционные предложения</a></p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
{% endblock %}
