{% set pageType = "contacts" %}
{% set title = "Контакты" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% extends "layout.html" %}
{% block content %}
{% include "./includes/chunks/gmaps_style_override.html" %}<div class="contacts_wrap dark_page">
    <div class="h1">Контакты</div>
    <div class="contacts_list" id="accordion">
        <div class="current_page">Контакты</div>
        <h5 class="ContactsSubHeader">
            <a href="#contacts-form-popup" class="ContactsSubHeader_link" data-fancybox="inline">Помогите нам стать лучше</a>
        </h5>

        <div class="panel contacts_item">
            <a class="contacts_name singe-office-trigger collapsed" data-toggle="collapse" data-parent="#accordion" href="#contacts_1" aria-expanded="false">Офис продаж на объекте</a>

            <div id="contacts_1" class="panel-collapse collapse" aria-expanded="false" data-map='{"position": [55.809621, 37.649130], "title": "Офис продаж на объекте", "icon" : {"url" : "/img/mark_logo_new.png", "size" : [100, 120]}}'>
                <dl class="dl-horizontal">
                    <dt>Тел.:</dt>
                    <dd id="contacts_phone--change">+7 495 378-88-88</dd>
                    <dt>Адрес:</dt>
                    <dd>ул. Новоалексеевская, д.&nbsp;16, стр. 10</dd>
                    <dt>Режим работы:</dt>
                    <dd>пн. - вс. 10:00 - 20:00</dd>
                    <dt class="contacts_routeText">Проложить маршрут</dt>
                    <dd class="contacts_routeButtons">
                        <a href="https://maps.google.com/?daddr=55.809638,37.648993">
                            <img src="img/svg_icons/google.svg">
                        </a>
                        <a href="yandexnavi://build_route_on_map?lat_to=55.809638&lon_to=37.648993">
                            <img src="img/svg_icons/yandex.svg">
                        </a>
                    </dd>
                </dl>
                <a href="http://etalonsilver.ru/navigator/" target="_blank" class="hidden-xs hidden-sm">Проложить маршрут</a>
            </div>
        </div>

        <div class="panel contacts_item">
            <a class="contacts_name singe-office-trigger collapsed" data-toggle="collapse" data-parent="#accordion" href="#contacts_2" aria-expanded="false">Центральный офис продаж<br>Эталон-Инвест</a>

            <div id="contacts_2" class="panel-collapse collapse" aria-expanded="false" data-map='{"position": [55.770914164711, 37.622942415344], "title": "Центральный офис продаж", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                <dl class="dl-horizontal">
                    <dt>Тел.:</dt>
                    <dd>+7&nbsp;495 123-45-57</dd>
                    <dt>Адрес:</dt>
                    <dd>127051, Москва, Цветной бульвар, д.&nbsp;22, стр.1</dd>
                    <dt>Метро:</dt>
                    <dd>&laquo;Цветной бульвар&raquo;</dd>
                    <dt>Режим работы:</dt>
                    <dd>пн. -&nbsp;пт.&nbsp;9:00&nbsp;-&nbsp;20:00 (без перерыва на&nbsp;обед)
                        <br>сб.&nbsp;вс., праздничные дни 10:00&nbsp;-&nbsp;17:00</dd>
                    <dt>Режим работы кассы:</dt>
                    <dd>пн. -&nbsp;пт.&nbsp;9:00&nbsp;-&nbsp;19:30 (обед 13:00&nbsp;-&nbsp;14:00)
                        <br>сб.&nbsp;10:00&nbsp;-&nbsp;16:30 (без перерыва на&nbsp;обед)
                        <br>вс. выходной</dd>
                </dl>
            </div>
        </div>

        <div class="panel contacts_item">
            <a class="contacts_name singe-office-trigger collapsed" data-toggle="collapse" data-parent="#accordion" href="#contacts_3" data-gmap-new-state="{&quot;position&quot;: {&quot;lat&quot;:55.772454975059, &quot;lng&quot;:37.622504261902}, &quot;title&quot;: &quot;Отдел постпродажного обслуживания&quot;}" aria-expanded="false">Отдел постпродажного обслуживания</a>

            <div id="contacts_3" class="panel-collapse collapse" aria-expanded="false" data-map='{"position": [55.772454975059, 37.622504261902], "title": "Отдел постпродажного обслуживания", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                <dl class="dl-horizontal">
                    <dt>Тел.:</dt>
                    <dd>+7&nbsp;495 378-88-88</dd>
                    <dt>Адрес:</dt>
                    <dd>127051, Москва, Цветной бульвар, Деловой центр &laquo;Цветной&nbsp;30&raquo; (&laquo;Эталон-Инвест&raquo;)</dd>
                    <dt>Метро:</dt>
                    <dd>&laquo;Цветной бульвар&raquo;</dd>
                    <dt>Режим работы:</dt>
                    <dd>пн. -&nbsp;пт.&nbsp;8:30&nbsp;-&nbsp;19:00 (без перерыва на&nbsp;обед) сб.&nbsp;10:00&nbsp;-&nbsp;17:00</dd>
                </dl>
                <p><a href="/img/eskro-route.jpg" class="more">Как пройти</a> <a href="/img/eskro-view.jpg" class="more">Как выглядит</a></p>
            </div>
        </div>

        <div class="panel contacts_item">
            <a class="contacts_name all-regional-offices-trigger collapsed" data-toggle="collapse" data-parent="#accordion" href="#contacts_4"  aria-expanded="false">Офисы продаж в регионах</a>

            <div id="contacts_4" class="panel-collapse collapse" aria-expanded="false" data-map='{"position": [61.484317, 98.179034], "title": "Отдел постпродажного обслуживания", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}, "zoom": 3}'>
                <ul>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [64.546800, 40.519365], "title": "Архангельск",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Архангельск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Архангельске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">163000, г. Архангельск, ул. Попова, д. 14, офис 226</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 8182 200-345</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [56.836300, 60.614530], "title": "Екатеринбург",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Екатеринбург
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Екатеринбурге</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">620075, Россия, г. Екатеринбург, БЦ «Высоцкий»,  улица Малышева, дом 51, офис 14/01</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 343 385-66-25</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [52.271573, 104.318391], "title": "Иркутск",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Иркутск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Иркутске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">664047, г. Иркутск, ул. Трудовая, д.60, офис 111</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 3952 488-600</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [45.037234, 38.975710], "title": "Краснодар", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Краснодар
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Краснодаре</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">350000, г. Краснодар, ул. Красная, д. 154, офис 204</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 861 298-05-25</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [59.567530, 150.809368], "title": "Магадан", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Магадан
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Магадане</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">685000, г. Магадан, гостиница «Магадан», ул. Пролетарская, д.8, офис 323</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 4132 607-437</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [68.969910, 33.072629], "title": "Мурманск", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Мурманск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Мурманске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">183038, г. Мурманск, Конгресс – Отель «Меридиан»,  ул. Воровского, 5/23, офис 545</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 8152 288-920</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [60.940009, 76.556044], "title": "Нижневартовск",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Нижневартовск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Нижневартовске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">628616, г. Нижневартовск, ул. Ленина, д.5, оф. 220 </dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 3466 491-888, 491-970</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [66.081283, 76.670424], "title": "Новый Уренгой",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Новый Уренгой
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Новом Уренгое</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">629300, г. Новый Уренгой, ул. Юбилейная, д.5, блок 4, 1 этаж. (Центральный вход)</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 3494 92-55-77</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [69.354795, 88.186696], "title": "Норильск",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Норильск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Норильске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">663300, Красноярский край, г. Норильск,  пр-т Ленинский, д. 39, корп. 1, пом 103</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 3919 48-19-00</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [53.055092, 158.639205], "title": "Петропавловск-Камчатский",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Петропавловск-Камчатский
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Петропавловск-Камчатском</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 4152 26-00-36</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [61.254685, 73.386272], "title": "Сургут", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Сургут
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Сургуте</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">628415, г. Сургут, проспект Ленина, д. 41, ТЦ «МИР», 3 этаж</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 3462 951-200</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [48.469001, 135.063317], "title": "Хабаровск", "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Хабаровск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Хабаровске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">680000, г. Хабаровск, ул. Тургенева, дом 46, офис 102</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 4212 41-51-25, 413-100</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [46.958210, 142.730846], "title": "Южно-Сахалинск",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Южно-Сахалинск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Южно-Сахалинске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">693000, г. Южно-Сахалинск, Коммунистический проспект 49,  офис 301</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 4242 22-46-39, факс 22-48-17</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [62.029660, 129.727903], "title": "Якутск",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Якутск
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство в Якутске</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">677027, г. Якутск, ул. Кирова, д.18, корп. В, офис 1202</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 4112 50-05-25</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="regional-office-trigger" data-map-regions='{"position": [62.029660, 129.727903], "title": "Владивосток",  "icon" : {"url" : "/img/etalon-group-marker.png", "size" : [106, 83]}}'>
                            Владивосток
                            <template>
                                <div class="b-marker-bubble">
                                    <div class="b-marker-bubble__inner">
                                        <h5 class="b-marker-bubble__header">Представительство во Владивостоке</h5>
                                        <dl class="dl-horizontal b-marker-buble__detlist">
                                            <dt class="b-marker-bubble__label">Aдрес:</dt>
                                            <dd class="b-marker-bubble__infoitem">690014, г. Владивосток, бизнес-центр «Pacific Ocean», офис 404, улица Некрасовская, дом 36Б, этаж 4.</dd>
                                            <dt class="b-marker-bubble__label">Тел.:</dt>
                                            <dd class="b-marker-bubble__infoitem">+7 423 243-25-88</dd>
                                        </dl>
                                    </div>
                                </div>
                            </template>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contacts_maps">
        <div class="b-map map" id="map"></div>
    </div>
</div>

<div id="contacts-form-popup" style="display: none;">
    {% include "includes/blocks/HelpUsForm.html" %}
</div>

{% endblock %}
