{% set pageType = "developer" %}
{% set title = "Застройщик" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="aboutDev_bg" style="background-image: url(/img/bg_aboutDev.jpg);"></div>
<div class="aboutDev_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-5 col-sm-6">
                <div class="current_page">О застройщике</div>
            </div>
            <div class="col-sm-6">
                <h1>гк «Эталон»<br>холдинг<br>с&nbsp;30-летней<br>историей</h1>
            </div>
        </div>
    </div>
    <div class="container aboutDev_container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-11">
                <h2><img src="img/logo_etalon_big.png"></h2></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6">
                <p>Компания «Эталон-Инвест» входит в состав одного из крупнейших девелоперских холдингов страны с 30-летней историей — группу компаний «Эталон». Мы работаем в Московском регионе больше 10 лет и за это время построили и вели в эксплуатацию свыше 750 000 квадратных метров жилья и почти полторы сотни помещений, относящихся к категории коммерческой недвижимости.</p>
                <p>По итогам 2016 года компания «Эталон-Инвест» вошла в пятерку крупнейших девелоперов столицы по объему портфеля реализуемых на первичном рынке проектов – 1,9 млн. квадратных метров. Каждый жилой комплекс компании – по-настоящему амбициозный и масштабный проект, выполненный с использованием самых современных технологий. Среди них микрорайон «Изумрудные холмы», комплексы «Эталон-Сити», «Летний Сад», «Золотая Звезда».</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-lg-4 col-sm-5">
                <div class="dev_progress">
                    <div class="dev_progress_item">
                        <div class="biger">
                            <span class="text_undeline">10</span>
                            <span class="big">ЛЕТ</span>
                        </div>
                        <p>работаем
                            <br>в Московском регионе</p>
                    </div>
                    <div class="dev_progress_item">
                        <div class="biger">
                            <span class="text_undeline">750</span> 000
                            <span class="big">м&sup2;</span>
                        </div>
                        <p>и более 150 помещений
                            <br>построено за 10 лет</p>
                    </div>
                    <div class="dev_progress_item">
                        <div class="biger">
                            <span class="text_undeline">1200</span>
                        </div>
                        <p>Человек настоящих профессионалов
                            <br>своего дела.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6">
                <p>В «Эталон-Инвест» инновации применяются на всех уровнях и этапах деятельности — от проектирования до эксплуатации зданий. Компания одной из первых в регионе внедрила технологию информационного моделирования зданий, известную как BIM-технология. Прогрессивная методика моделирования помогла оптимизировать многие процессы и выйти на новый уровень качества строительства, сократить сроки проектирования и возведения зданий.</p>
                <p>Своими достижениями компания в первую очередь обязана слаженной работе команды «Эталон-Инвест». Сегодня это уже более 1200 человек – настоящих профессионалов своего дела. Их слаженность и компетентность позволяют компании всегда в полном объеме выполнять обязательства перед клиентами, партнерами, инвесторами и государством. Безупречная репутация «Эталон-Инвест» — результат многолетней добросовестной работы на одном из ключевых жилищных рынков страны с неизменно качественным результатом в каждом реализованном проекте.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>

{% endblock %}








