{% set pageType = "diary" %}
{% set title = "Динамика строительства" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}{% set isFooterWhite = true %}
{% set hideControls = false %}

{% block content %}
<div class="dynamics_wrap dark_page">
    <div class="h1">Динамика</div>
    <div class="current_page">Динамика строительства</div>
    <a class="broadcast-link broadcast-link_xsHor" data-src="#broadcast-popup" href="#">
        <img class="broadcast-link__img" src="img/icon_webcam.svg" alt="">
        <span class="broadcast-link__text">Смотреть веб-камеру</span>
    </a>
    <div class="dynamics_month">
        <div class="b-months-slider swiper-container">
            <div class="swiper-wrapper">
                {% for i in range(1,6) %}
                <div class="b-months-slider__slide swiper-slide">
                    Март 201{{i}}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="month active visible-xs visible-sm">&nbsp;</div>
        <div class="dynamics_month_controls">
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
        </div>
    </div>
    <div class="b-diary-outersly swiper-container">
        <div class="b-diary-outersly__wrapper swiper-wrapper">
            {% for i in range(1,6) %}
            <div class="b-diary-outersly__slide swiper-slide">
                <a class="broadcast-link" data-src="#broadcast-popup" href="#">
                <img class="broadcast-link__img" src="img/icon_webcam.svg" alt="">
                <span class="broadcast-link__text">Смотреть веб-камеру</span>
            </a>
                <div class="dynamics_foto">
                    {% include "./includes/blocks/b-diary-innersly.html" %}
                </div>
                <div class="dynamics_autor_foto">
                    <p>
                        <!-- Загружено 15.02.2017 19:54 -->
                    </p>
                    <p>
                        <!-- Воздвиженский И.В. -->
                    </p>
                </div>
                <div class="dynamics_foto_count">
                    <div class="count">{# 1 из 30 #}</div>
                    <div class="dynamics_foto_count_controls">
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="dynamics_timeline">
        <div class="dynamics_timeline_count dynamics_timeline_count--invisible" style="left: 20%;top: 90%;">10%</div>
        <div class="dynamics_timeline_active_wrap" id="diaryProgressCircle">
            {#
            <div class="dynamics_timeline active"></div> #}
        </div>
    </div>
</div>
<div style="display: none;" id="broadcast-popup" class="broadcast-popup">


	

	<div class="broadcast-slider swiper-container">    
		<div class="swiper-wrapper">			
			<div class="swiper-slide is-selected">				
				<iframe class="broadcast-iframe" src="https://www.youtube.com/embed/jddUiw_DJB8" 
				height="100%" align="left" frameborder="no" scrolling="no" 
				allowfullscreen></iframe>
				
			</div>
			<div class="swiper-slide">				
				<iframe class="broadcast-iframe" src="https://www.youtube.com/embed/tPdLZ9g0l28?t=1s" width="100%" 
				height="100%" align="left" frameborder="no" scrolling="no" 
				allowfullscreen></iframe>
				
			</div>
		</div>	

	</div>

	<div class="broadcast-slider-controls">
		<span class="broadcast-slider-controls__prev"></span>
		<span class="broadcast-slider-controls__next"></span>
	</div>


	<div class="swiper-container broadcast-slider-thumbs">
		<div class="swiper-wrapper">
			<div class="swiper-slide is-selected">
				<div class="broadcast-slider-thumbs__imgwrap">
					<img class="broadcast-slider-thumbs__img" src="img/broadcast-thumb-1.jpg"></img>
				</div>			
				<div class="broadcast-slider-thumbs__text">Веб-камера 1</div>
			</div>
			<div class="swiper-slide">
				<div class="broadcast-slider-thumbs__imgwrap">
					<img class="broadcast-slider-thumbs__img" src="img/broadcast-thumb-1.jpg"></img>
				</div>	
				<div class="broadcast-slider-thumbs__text">Веб-камера 2</div>
			</div>

		</div>
	</div>

</div>
{% endblock %}