{% set pageType = "docs" %}
{% set title = "Документы" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}


<div class="l-docs">
	<h2 class="b-current-page-subheader">Документы</h2>
	<h3 class="b-cardlist-header">
		ЭКСПЕРТОЕ ЗАКЛЮЧЕНИЕ
	</h3>
	<div class="l-docs__listwrap">
	    {% for i in range(1,8) %} {% include "./includes/blocks/b-doccard.html" %} {% endfor %}
	</div>

	<h3 class="b-cardlist-header">
		ДЛИННОЕ НАЗВАНИЕ СЕКЦИИ
	</h3>
	<div class="l-docs__listwrap">
	    {% for i in range(1,8) %} {% include "./includes/blocks/b-doccard.html" %} {% endfor %}
	</div>
</div>



{% endblock %}