{% set pageType = "filters" %}
{% set title = "Выбор по параметрам" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="choose_bg_bd" style="background-image: url(/img/bg_location.jpg);"></div>
<div class="choose_wrap">
    <div class="container">
        <div class="current_page">Выбор квартиры</div>

        {# <form class="choose_filtr" method="post" id="pickupFlatFilterForm" action="http://etalonsilver.ru/flats/house-1/?ajax=1&action=get_flats"> #}

        <form class="choose_filtr" method="GET" id="pickupFlatFilterForm" action="/ajax/filter_result.json">
            <a href="#" class="open_filtr">
                <span class="fg"><i></i></span> Фильтр по параметрам
            </a>
            <a href="#" class="close_filtr">Закрыть фильтр</a>
            <div class="row">
                <div class="choose_filtr_item_1">
                    <div class="choose_filtr_param_1 checkboxradio">
                        <h5>Тип планировки</h5>
                        <input type="checkbox" name="plantype[]" value="2" id="typeInputEuro">
                        <label for="typeInputEuro">Евро</label>
                        <input type="checkbox" name="plantype[]" value="3" id="typeInputClassic">
                        <label for="typeInputClassic">Классика</label>
                        <div class="note">Евро - кухня и гостиная являются единым пространством</div>
                    </div>
                    <div class="choose_filtr_param_4 checkboxradio">
                        <h5>Количество комнат</h5>
                        <input type="checkbox" name="rooms[]" value="1" id="bedroomCheckbox1">
                        <label for="bedroomCheckbox1">1</label>
                        <input type="checkbox" name="rooms[]" value="2" id="bedroomCheckbox2">
                        <label for="bedroomCheckbox2">2</label>
                        <input type="checkbox" name="rooms[]" value="3" id="bedroomCheckbox3">
                        <label for="bedroomCheckbox3">3</label>
                        <input type="checkbox" name="rooms[]" value="4" id="bedroomCheckbox4">
                        <label for="bedroomCheckbox4">4</label>
                        <input type="checkbox" name="rooms[]" value="5" id="bedroomCheckbox5">
                        <label for="bedroomCheckbox5">5</label>
                        <input type="checkbox" name="rooms[]" value="6" id="bedroomCheckbox6">
                        <label for="bedroomCheckbox6">6</label>
                    </div>
                </div>
                <div class="choose_filtr_item_2">
                    <div class="choose_filtr_param_2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Площадь, м²</h5>
                                <div class="slider_range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="squareSlider" data-opts="{&quot;min&quot;:39,&quot;max&quot;:182,&quot;valueMin&quot;:39,&quot;valueMax&quot;: 182}">
                                    <div class="slider_result" style="left:0%;">
                                        <input type="text" name="area_from" value="39" id="areaInputFrom" readonly="readonly">
                                    </div>
                                    <div class="slider_result" style="left:100%;">
                                        <input type="text" name="area_to" value="182" id="areaInputTo" readonly="readonly">
                                    </div>
                                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            </div>
                            <div class="col-md-6">
                                <h5>Этаж</h5>
                                <div class="slider_range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="floorSlider" data-opts="{&quot;min&quot;:2,&quot;max&quot;: 19,&quot;valueMin&quot;:2,&quot;valueMax&quot;: 19}">
                                    <div class="slider_result" style="left:0%;">
                                        <input type="text" value="2" id="amount_2min" name="floor_from" readonly="readonly">
                                    </div>
                                    <div class="slider_result" style="left:100%;">
                                        <input type="text" value="19" id="amount_2max" name="floor_to" readonly="readonly">
                                    </div>
                                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="choose-single-checkbox-wrap">
                            <div class="choose_filtr_param_5 checkboxradio">
                                <input type="checkbox" name="discount" id="discountCheckbox" value="1" class="ui-checkboxradio ui-helper-hidden-accessible">
                                <label for="discountCheckbox" class="ui-checkboxradio-label ui-corner-all ui-button ui-widget">Специальное предложение</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="choose_filtr_param_3">
                    <h5>ул. Новоалексеевская</h5>
                    <div class="b-filter-scheme clearfix">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 106 95" enable-background="new 0 0 106 95" xml:space="preserve" class="b-filter-scheme__svg">
                            <polygon class="b-filter-scheme__polygon" title="Секция 1" points="1,40.251 1,24 16,24 16,32.747 25.395,39.932 15.887,51.523  " />
                            <polygon class="b-filter-scheme__polygon" title="Секция 2" points="22,1 22,16 16,16 16,23 1,23 1,1" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 3" points="43,16 36,16 23,16 23,1 43,1" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 4" points="44,1 44,16 58,16 64,16 64,1" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 5" points="65,1 65,16 77,16 85,16 85,1" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 6" points="86,1 86,16 90,16 90,30 105,30 105,1" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 7" points="105,47.348 98.37,55.984 87.059,47.359 90,43.689 90,31 105,31" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 8" points="85.526,72.926 73.894,64.171 86.5,48.128 97.824,56.763  " />
                            <polygon class="b-filter-scheme__polygon" title="Секция 9" points="70.404,92.8 53.54,80.031 62.485,68.295 67.588,72.197 73.276,64.958 84.92,73.722" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 10" points="36.256,66.945 45.597,55.38 61.691,67.688 52.742,79.427" />
                            <polygon class="b-filter-scheme__polygon" title="Секция 11" points="16.685,52.127 26.184,40.548 25.942,40.35 44.696,54.692 44.67,54.697 35.458,66.341  " />
                            <g id="k">
                                <path fill="#FFFFFF" d="M0,0v40.749L70.596,94.2L106,47.5V0H0z M65,1h20v15H65V1z M17,32.253V17h72v26.327L67.412,70.803L17,32.253
            z M44,1h20v15H44V1z M23,1h20v15H23V1z M1,1h21v15h-6v7H1V1z M1,40.251V24h15v8.747l9.395,7.185l-9.508,11.591L1,40.251z
             M16.685,52.127l9.498-11.58l-0.241-0.198l18.754,14.341l-0.026,0.006l-9.211,11.644L16.685,52.127z M36.256,66.945l9.34-11.565
            l16.094,12.308l-8.949,11.74L36.256,66.945z M70.404,92.8L53.54,80.031l8.945-11.736l5.103,3.902l5.689-7.24l11.644,8.764
            L70.404,92.8z M85.526,72.926l-11.631-8.755L86.5,48.128l11.324,8.635L85.526,72.926z M105,47.348l-6.63,8.636l-11.312-8.625
            L90,43.689V31h15V47.348z M105,30H90V16h-4V1h19V30z" />
                            </g>
                        </svg>
                        {% for i in range(1,12) %}
                        <input type="checkbox" class="b-filter-scheme__checkbox" name="sections[]" value="{{i}}"> {% endfor %}
                    </div>
                    <img src="img/rose.svg" alt="" class="rose">
                </div>
            </div>
            <div class="row chose_filtr_view">
                <h5>Вид из окна</h5>
                <div class="choose_filtr_param_6 checkboxradio">
                    <input type="checkbox" name="view_direction[]" value="4" id="viewInput_1">
                    <label for="viewInput_1" class="view_1">Вид&nbsp;на&nbsp;Парк Сокольники</label>
                    <input type="checkbox" name="view_direction[]" value="5" id="viewInput_2">
                    <label for="viewInput_2" class="view_2">Вид&nbsp;на&nbsp;внутреннее пространство двора</label>
                    <input type="checkbox" name="view_direction[]" value="6" id="viewInput_3">
                    <label for="viewInput_3" class="view_3">Вид на&nbsp;липовую&nbsp;аллею</label>
                    <input type="checkbox" name="view_direction[]" value="7" id="viewInput_4">
                    <label for="viewInput_4" class="view_4">Вид на город</label>
                </div>
            </div>

        </form>


    </div>
    {% include 'includes/chunks/filters-results-block.html' %}
</div>
{% endblock %}