<link rel="stylesheet" href="../styles/includes/style.css">{% extends "layout.html" %}
{% set pageType = "flat" %}
{% set title = "Квартира" %}
{% set isHeaderWhite = false %}
{% set isFooterWhite = false %}
{% set hideControls = true %}
{% block content %}
<div class="flat_bg_bd" style="background-image: url(/img/bg_flat.jpg);"></div>
<div class="container flat_wrap">
    <a href="/filters.html#section-3" class="back"></a>
    <div class="row">
        <div class="flat_about">
            <h2>Квартира №84</h2>
            <div class="flatParam">
                <div class="flatParam_item">Корпус <span>1</span></div>
                <div class="flatParam_item">секция <span>2</span></div>
            </div>

            <dl class="dl-horizontal">
                <dt>Тип:</dt>
                <dd>Классика</dd>
                <dt>Комнат:</dt>
                <dd>3</dd>
                <dt>Площадь:</dt>
                <dd>92.8 м²</dd>
                <dt>Этаж:</dt>
                <dd>18<span class="glow">/19</span></dd>
                <dt>Вид из окон:</dt>
                <dd>Вид на внутреннее пространство двора,
                    <br>Вид на город</dd>
                <dt>Высота потолков:</dt>
                <dd>3м</dd>
            </dl>

            <div class="flat_about_warning">
                *Специальные условия на старте продаж, количество аппартаментов и квартир по акции ограничено
            </div>

            <div class="flat_about_btn">
                <a data-fancybox="inline" data-src="#flatOrderModal" href="javascript:;" class="flat_about_btn_1">Оставить заявку</a>
                <a href="http://etalonsilver.ru/flats/flat-500/pdf/" target="_blank" class="flat_about_btn_3">Загрузить презентацию</a>
                <a href="http://etalonsilver.ru/flats/flat-500/pdf/" target="_blank" class="flat_about_btn_2">Распечатать планировку</a>
            </div>
        </div>
        <div class="flat_rose" style="background-image:url(http://etalonsilver.ru/img/rose/rose8.svg);"></div>
        <div class="flat_section">
            <img src="http://etalonsilver.ru/upload/shop_1/0/0/3/group_3/shop_property_file_3_334.svg" alt="">
        </div>
        <div class="flat_plan">
            <div class="flat_planTypes">
                <button data-flat-type="flat_fur" class="flat_planTypes_btn flat_planTypes_btn-active">С мебелью</button>
                <button data-flat-type="flat_empty" class="flat_planTypes_btn">Без мебели</button>
                <button data-flat-type="flat_fur_alt" class="flat_planTypes_btn">Планировка с мебелью</button>
                <button data-flat-type="flat_empty_alt" class="flat_planTypes_btn">Планировка без мебели</button>
            </div>
            <div id="flat_fur" class="flat_scheme_img flat_scheme_img-active" style="background-image: url('http://etalonsilver.ru/upload/information_system_8/3/1/4/item_314/information_items_property_300.svg');"></div>
            <div id="flat_empty" class="flat_scheme_img" style="background-image: url('http://etalonsilver.ru/upload/information_system_8/3/1/4/item_314/information_items_property_300.svg');"></div>
            <div id="flat_fur_alt" class="flat_scheme_img" style="opacity:0.4; background-image: url('http://etalonsilver.ru/upload/information_system_8/3/1/4/item_314/information_items_property_300.svg');"></div>
            <div id="flat_empty_alt" class="flat_scheme_img" style="opacity:0.2; background-image: url('http://etalonsilver.ru/upload/information_system_8/3/1/4/item_314/information_items_property_300.svg');"></div>
            <div class="flat_plan_btn">
                <a href="#flatOnFloorModal" data-fancybox="floor-shcheme" class="flat_plan_view_2 sel">На этаже</a>
            </div>
        </div>
    </div>
    <div class="flat_view_list">
        <div class="row">
            <div class="col-sm-6">
                <a href="img/trash_flat_img_1_1.jpg" data-fancybox="images" data-caption="My caption 1"><span>Вид из окон на ВДНХ</span></a>
                <img src="img/trash_flat_img_1_1.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <a href="img/trash_flat_img_1_2.jpg" data-fancybox="images" data-caption="My caption 2"><span>Вид из окон на ВДНХ</span></a>
                <img src="img/trash_flat_img_1_2.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="img/trash_flat_img_1_3.jpg" data-fancybox="images" data-caption="My caption 3"><span>Вид из окон во двор</span></a>
                <img src="img/trash_flat_img_1_3.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <a href="img/trash_flat_img_1_4.jpg" data-fancybox="images" data-caption="My caption 4"></a>
                <img src="img/trash_flat_img_1_4.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="flat_similar_plan">
        <h2>Похожие планировки</h2>
        <div class="flat_similar_plan_table">
            {% for i in range(1,5) %}
            <a href="#" class="row">
                <div class="col col_1">Квартира №23{{i}}</div>
                <div class="col col_2">Этаж 1{{i}} / 19</div>
                <div class="col col_3">3 комн.</div>
                <div class="col col_4">59,3 м&sup2;</div>
                <div class="col col_5">Евро</div>
                <div class="col col_6">вид на ВДНХ</div>
                <div class="col col_7">4 500 000 руб.</div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="flat-description">
        <h2>Достоинства квартиры!</h2>

        <ul>
            <li>Функциональная классическая планировка с 6 комнатами.</li>

            <li>Квартира состоит из одних достоинств!</li>

            <li>Просторная прихожая зона, где удобно собираться всей семьей. А наличие вместительной кладовой позволяет не задумываться о хранение сезонных вещей и, например, спортинвентаря.</li>

            <li>Просторная угловая гостиная с 3 окнами где будет по вечерам уютно собираться всей семьей или встречать гостей и проводить вечеринки! Гостиную, при желании, можно объединить с кухней.</li>

            <li>В квартире имеется мастер блок с собственным санузлом и дополнительной комнатой, где можно оборудовать кабинет, библиотеку или организовать умопомрачительную светлую гардеробную с окном!</li>

            <li>Так же можно выделить второй хозяйский блок, где расположены 3 спальни. В хозяйском блоке расположена просторная ванная комната.</li>

            <li>Две угловые спальни имеют уникальные черты: одна спальня имеет 3 окна, гардеробную и лоджию, вторая спальня имеет два окна и вместительную гардеробную с окном.</li>

            <li>Компактная 3-комнатная квартира, которая выходит на две стороны света.</li>

            <li>Эргономичная планировка –кухня, как общественная зона, находится непосредственно у входа. Пожелани хозяев можно объединить кухню с гостиной в единое пространство.</li>

            <li>В квартире предусмотрен полноценный мастер-блок с гардеробной, санузлом и лоджией.</li>
        </ul>
    </div>
</div>
<div style="display: none;" id="flatOrderModal">
    <div class="call_me">
        <div class="call_me_head">
            Оставить заявку
            <span class="small">Оставьте заявку на&nbsp;квартиру&nbsp;и&nbsp;наш менеджер<br> перезвонит Вам в ближайшее время</span>
        </div>
        <form action="#" method="post" data-action="/ajax/form-call/" id="globalCallmeForm">
            <div class="row">
                <div class="col-xs-12 col-md-6 call_me_left">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Имя" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" required="required" placeholder="Телефон *" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <textarea name="comment" placeholder="Ваш комментарий"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row note">* — поля, обязательные для заполнения
                            <div class="b-custom-checkbox"><input type="checkbox" class="b-custom-checkbox__input" id="acceptCheckboxInCallmeForm" name="agree" required="required" /><label for="acceptCheckboxInCallmeForm" class="b-custom-checkbox__label">
                                Согласие на<a class="b-custom-checkbox__link text-primary" href="/upload/personal.pdf" target="_blank"> <u>обработку персональных данных</u></a></label></div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group call_me_btnwrap">
                        <input type="submit" name="Submit" value="Заказать звонок" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="display: none;" id="flatOnFloorModal">
    <div class="flat_f_view_popUp_inner">
        <h2>Секция 5</h2>
        <div class="flat_f_view_popUp_plan">
            <div class="flat_f_view_popUp_plan_top-text">Вид во двор</div>
            <img src="img/trash_floor_plan.png" alt="">
            <div class="flat_f_view_popUp_plan_bottom-text">Вид на улицу</div>
        </div>
        <div class="flat_f_view_popUp_char">
            <div class="row">
                <div class="col col_1">
                    <div class="flat_f_view_popUp_count">
                        <span class="count">3</span>
                        <span class="text">Всего три соседа на этаже</span>
                    </div>
                </div>
                <div class="col col_2"><img src="img/trash_flat_section.png" alt=""></div>
                <div class="col col_3"><img src="img/icon_rose.png" alt=""></div>
            </div>
        </div>
        <a href="#" class="close"></a>
    </div>
</div>

{% endblock %}
