{% extends "layout.html" %}
{% set pageType = "gallery" %}
{% set title = "Галерея" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="galery_list_wrap dark_page">
    <div class="h1">Галерея</div>
    <div class="current_page">Галерея</div>
    <ul class="row galery_list_albums">
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_1.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery2.json"></a>
            <div class="galery_name_album">
                Двор
                <span class="count">11 фото</span>
            </div>
        </li>
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_2.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery.json"></a>
            <div class="galery_name_album">
                Корпус 2
                <span class="count">20 фото</span>
            </div>
        </li>
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_3.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery3.json"></a>
            <div class="galery_name_album">
                Парк
                <span class="count">9 фото</span>
            </div>
        </li>
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_2.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery.json"></a>
            <div class="galery_name_album">
                Корпус 5
                <span class="count">11 фото</span>
            </div>
        </li>
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_1.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery.json"></a>
            <div class="galery_name_album">
                Корпус 3
                <span class="count">24 фото</span>
            </div>
        </li>
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_3.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery.json"></a>
            <div class="galery_name_album">
                Корпус 4
                <span class="count">9 фото</span>
            </div>
        </li>
        <li class="galery_list_album" style="background-image:url(img/trash_galery_1_2.png);">
            <a class="gallery_popup_trigger" href="#" data-href="ajax/gallery.json"></a>
            <div class="galery_name_album">
                Корпус 2
                <span class="count">20 фото</span>
            </div>
        </li>
    </ul>
</div>



{% endblock %}
	
