{% set pageType = "genplan" %}
{% set title = "Выбор на генплане" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="choose_build_wrap">
	<div class="choose_build_inner">
		<div class="b-fitblock">
			<div class="b-fitblock__inner">
				<div class="b-house-choose">
					<svg class="b-house-choose_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2560px"
				 height="1600px" viewBox="0 0 2560 1600" enable-background="new 0 0 2560 1600" xml:space="preserve">
						<g id="_x31_k">
							<polygon data-house-link="filters.html" class="b-house-choose_link b-house-choose_n1" fill="none" points="570,758 570,763 563,766 563,768 572,775 572,776 573,777 579,837 578,838 620,1211 784,1350
								1410,1341 1415,1139 1415,1134 1417,1134 1408,1025 1406,1025 1408,897 1410,896 1410,885 1411,884 1411,881 1412,880 1412,877
								1401,752 1189,619 1073,663 1073,666 1082,672 1082,683 1080,684 1080,686 1083,688 1084,728 1081,728 1081,730 1084,732 1085,771
								1083,772 1083,774 1086,776 1086,793 908,864 903,784 901,783 898,718 905,715 905,713 897,708 897,705 833,661 	"/>
						</g>
						<g id="_x32_k">
							<path data-house-link="filters_2.html" class="b-house-choose_link b-house-choose_n2" fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M548,721v5l5,7v2l-3,1v4l-2,2l3,33l5,9v2l-3,2l31,273l-94,38L385,874
								l-1-10l-53-112l-2-22l-2-6l-40-267l-5-9v-1h2l-4-31l-8-17v-1l18-5v-2l110-35l46,32v6l8,3v2l-4,1.5v3.5l-1,1l2,23l107-35l-2-29l-2-2
								v-3h1l-3-36l-2-2v-3h2l-3-38l-1-1v-3l-5-4v-3l17-6v-2l107-33l171,103v6l7,3v2l-4,2v4l-1,1l2,39l3,1v3l-3,1l10,155l15,10l14-5v-1
								l75-27l92,58v5l7,4v2l-4,2v4l-1,1v39h4v2l-4,2l1,37h2v2l-2,1l1,37h2v2l-1,1l1,37h1v2l-1,1l1,36h2v2l-1,1l0,2l-148,59l-5-80l-2-1
								l-3-65l7-3v-2l-8-5v-3l-64-44l-126.9,46.8L706,705l2-1l-2-37c0,0-1.3,0-2,0c-2.7,2.5-7.9,4.1-12,5c-1-3.1-1-2.9-4-4
								c-1.6,3.2-1.3,3.6-6,4c-1.7-1.9-6.8-4.9-8-4c-2.4,2.7-1.6,4.8-6,6c-8.4-6.4-11.9-7.1-25-6c-2,2.3-4,4.7-6,7c-1.8,4.9,1.2,7.4-1,11
								c-0.3,0.7-0.7,1.3-1,2c-6.3-1.4-8.1-1.3-14,1c0.8,3.3,1.6,3.9,2,8c-2.3,1.2-2.3,1.6-6,2c-5.3-6.3-15.9-0.9-16-1
								c-2.8-1.6-3.4-2.6-8-3c-2.5,2.8-6.6,4.2-9,7c-0.8,1.4,1.3,1.4,0,4c-1,0.3-2,0.7-3,1c-0.1,0.1,0.8,4.7,0,6c-2.8-4.4-4.2-6.2-12-6
								c-1,1.3-2,2.7-3,4c-2.5-1.2-4.2-1-6-2c-3-2.6-5.5-4.8-6-10c1.8-2.5,2.2-1.9,0-4c-2.9-2-12.2-5.5-16-6c-1.2,2.4-5,5-5,5L548,721z"/>
						</g>
					</svg>

					<img src="/img/genplan.jpg" alt="" class="b-fitblock__pusher" width="2560" height="1600" />



					<div class="b-house-choose_mask b-house-choose_mask-n1" style="background-image:url(/img/genplan/1.png);"></div>
					<div class="b-house-choose_mask b-house-choose_mask-n2" style="background-image:url(/img/genplan/2.png);"></div>
				</div>

				
				<div class="b-genplan-mark b-genplan-mark--tall" style="left:26%; top:40%;">
					<p class="b-genplan-mark__redtext">Старт продаж!</p>
					<h3>Корпус 2</h3>
					<p>срок ввода: 2020г.</p>
				</div>
				<div class="b-genplan-mark" style="left:41%; top:67%;">
					<h3>Корпус 1</h3>
					<p>срок ввода: 2020г.</p>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="choose_build_rose" style="background-image:url(img/rose/CompassRose.svg);"></div>
{% endblock %}