{% set pageType = "greenZoom" %}
{% set title = "Выбор на генплане" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}


<section class="greenzoom-upper">
	<h2>ПЕРВЫЙ МОСКОВСКИЙ ПРОЕКТ БИЗНЕС-КЛАССА ОТ<br/>ГРУППЫ «ЭТАЛОН» СЕРТИФИЦИРОВАН ПО<br/>«ЗЕЛЕНОМУ» СТАНДАРТУ</h2>
</section>

<div class="container-fluid greenzoom-content-fluid">
	<section class="container greenzoom-content">
	<div class="row">

		<div class="col-lg-12">
			<img src="/img/green_zoom/green_zoom.png" alt="">
			<p>
				«Зеленым» на профессиональном уровне признан первый проект бизнес-класса Группы «Эталон» в Московском регионе — жилой комплекс «Серебряный фонтан». Проект реализует компания «Эталон-Инвест» — дочерняя структура Группы «Эталон», занимающаяся девелопментом в Москве и Московской области.
			</p>
		</div>

		<div class="col-lg-12">
			<p>
				<strong>Жилой комплекс «Серебряный фонтан»</strong> — проект, получивший независимую оценку по профессиональному российскому стандарту повышения энергоэффективности, водоэффективности и экологичности объектов недвижимости GREEN ZOOM. Проект набрал 70 баллов и стал первым московским объектом в сегменте бизнес-класса, получившим Платиновый сертификат GREEN ZOOM.
			</p>

			<p>
				На объекте в плане снижения эксплуатационных затрат все продумано до мелочей: внедрено энергоэффективное и водоэффективное оборудование, автоматизированная система учета воды и электроэнергии, датчики движения на лестницах и в приквартирных коридорах с целью экономии ресурсов и тщательного контроля за этим в режиме «умного» дома. Благодаря наличию таких решений, как приточно-вытяжные установки с рекуперацией тепла, терморегулирующие головки на радиаторах и погодозависимый график подачи теплоносителя в систему отопления, для резидентов жилого комплекса созданы системами позволит контролировать эффективность работы всех вышеперечисленных систем здания. Комплекс также оснащен умными системами и на парковке — система вентиляции функционирует по датчикам углекислого газа, установлены датчики движения для управления рабочим освещением, а также существует возможность организации зарядных станций для электромобилей по требованию жильцов.
			</p>
			<p>
				Кроме того, проектом предусмотрено устройство приватного внутридворового пространства с ограниченным автомобильным движением «двор без машин» с размещением в нем необходимых площадок для отдыха. Расположение квартир и помещений, их взаимосвязь и рациональное использование полезных и жилых площадей создает комфортные условия для проживания, работы использования общественными зонами комплекса.
			</p>
		</div>
		<div class="col-lg-12">
			<p>
				Все решения, внедренные в проект, прошли проверку энергомоделированием — это инструмент, позволяющий оценить индивидуальный и комплексный вклад энерго- и водоэффективных решений в проект, позволяя еще на этапе проектирования узнать точную стоимость эксплуатации объекта. По результатам энергомоделирования, комплекс рекомендованных решений позволил увеличить энергоэффективность проекта на 32% по сравнению с базовым вариантом здания.
			</p>
			<p>
				Торжественная церемония награждения ЖК «Серебряный фонтан» Платиновым сертификатом GREEN ZOOM состоялась 13 сентября 2017 года на площадке Международного инвестиционного форума по недвижимости PROESTATE в Москве, где объект также получил награду Всероссийского конкурса по экологическому девелопменту и энергоэффективности Green Awards 2017 в номинации «Жилищное строительство».
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<video controls>
				<source src="http://etalonsilver.ru/video/green_zoom.mp4" />
			</video>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="swiper-container" id="green_zoom-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background: url(/img/green_zoom/image-1.jpg)"></div>
					<div class="swiper-slide" style="background: url(/img/green_zoom/image-2.jpg)"></div>
					<div class="swiper-slide" style="background: url(/img/green_zoom/image-3.jpg)"></div>
					<div class="swiper-slide" style="background: url(/img/green_zoom/image-4.jpg)"></div>
					<div class="swiper-slide" style="background: url(/img/green_zoom/image-5.jpg)"></div>
					<div class="swiper-slide" style="background: url(/img/green_zoom/image-6.jpg)"></div>
				</div>

				<div class="control-buttons">
					<div class="button-prev">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175">
						  <path d="M145.188 238.575l215.5-215.5c5.3-5.3 5.3-13.8 0-19.1s-13.8-5.3-19.1 0l-225.1 225.1c-5.3 5.3-5.3 13.8 0 19.1l225.1 225c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.3-5.3 5.3-13.8 0-19.1l-215.4-215.5z"/>
						</svg>
					</div>
					<div class="button-next">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.175 477.175">
						  <path d="M360.73 229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z"/>
						</svg>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</section>
</div>


{% endblock %}