{% set pageType = "about" %}
{% set title = "О проекте" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="about_wrap">
    <div class="b-aboutpage-bg visible-md visible-lg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">&nbsp;</div>
            <div class="col-lg-6">
                <h1>Века сменяются, характер остается</h1>
            </div>
        </div>
    </div>
    <div class="container about_container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-5 col-sm-6">
                <h2><span>Жилой комплекс</span></h2>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-6">
                <p>Жилой комплекс бизнес-класса «Серебряный фонтан» — по-своему уникальный проект. Он строится в историческом&nbsp;районе столицы с выраженным и весьма характерным архитектурным стилем, традициями, давно сложившейся комфортной для проживания структурой. Уникальность проекта в его продуманной, сделанной с уважением к историческому наследию интеграции в прилегающее пространство.</p>
                <p>Комплекс расположится на улице Новоалексеевская, недалеко от станции метро «Алексеевская», по соседству с&nbsp;ключевыми объектами инфраструктуры — аптеками, магазинами, торговыми и развлекательными центрами, удобными выездами на важные транспортные магистрали.</p>
            </div>
            <div class="col-lg-5 col-md-6">
                <p>Всего 10 минут на автомобиле до центра Москвы, вблизи от проспекта Мира — расположение комплекса выбиралось в том числе с учетом транспортной доступности.</p>
                <p>Основой архитектурной композиции ЖК «Серебряный фонтан» является яркий архитектурный памятник XIX века — знаменитые здания Алексеевской водоподъемной станции авторства признанного мастера промышленной архитектуры Максима Карловича Геппенера. Краснокирпичный архитектурный ансамбль, украшенный изящным белоснежным декором, и старинный фонтан в зеленом сквере вековой липовой аллеи — станут настоящей жемчужиной всего комплекса.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6"></div>
            <div class="col-lg-3 col-md-5 col-sm-6">
                <h2><span>Особенности<br>архитектуры проекта</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 pull-right"></div>
            <div class="col-lg-6 col-md-6 pull-right">
                <div class="about_slider swiper-container" id="aboutPageCubeSlider">
                    <div class="swiper-wrapper">
                        <div class="about_slider_item swiper-slide" style="background-image: url(/img/about/3.jpg);"></div>
                    </div>
                    <!-- <div class="about_slider_count">
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-md-6">
                <p class="text_about_slider">Первая очередь жилого комплекса будет сдана в&nbsp;4&nbsp;квартале 2019 года. В её состав войдет дом переменной этажности от 5 до 19 этажей на 386 квартир, с фасадами из&nbsp;клинкерного кирпича, тяготеющими к классике и&nbsp;предлагающими оригинальное современное осмысление московской кирпичной архитектуры. Оформление фасадов будет отличать разнообразие форм на основе индивидуального дизайна и глубина проработки отдельных деталей. Особая конструкция высоких окон, с увеличенной площадью остекления и без горизонтальных переплетов, выгодно выделит представительный вид кирпичной кладки и гарантирует отличную естественную освещенность внутренних жилых зон. Завершат общую композицию высокие и торжественные входные порталы.</p>
                <p>Архитектурное решение фасадов, созданное специально для корпусов первой очереди, выигрышно подчеркнет тесную взаимосвязь внешнего исполнения жилого комплекса с историческим обликом района, его глубоким архитектурным наследием.</p>
                <p><a href="#" class="more">Подробнее</a></p>
            </div>
        </div>
    </div>
    <div class="about_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6"></div>
                <div class="col-md-5 col-sm-6">
                    <h2><span>Использование современных технологий</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-md-6 col-sm-9">
                    <p>Впечатляющий проект, сочетающий в себе классические традиции и&nbsp;современные технологии для комфортной жизни, разработан одним из ведущих архитектурных бюро в России – ”SPEECH”. Использование инновационных разработок при проектировании позволило реализовать крупнопролетную схему несущих конструкций, благодаря чему квартиры комплекса отличаются свободной планировкой.</p>
                    <p>Продуманная схема принудительной приточно-вытяжной вентиляции и использование системы вентилируемых фасадов обеспечат максимально комфортный микроклимат в здании без&nbsp;необходимости использовать оборудование, создающее дополнительный шум.</p>
                    <p><a href="#" class="more">Подробнее</a></p>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6"></div>
            <div class="col-lg-3 col-md-5 col-sm-5">
                <h2><span>Инфраструктура комплекса</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-6 about_infro">
                <p>Жилой комплекс располагает собственной благоустроенной территорией, с уютными и безопасными дворами, где исключено появление посторонних и автомобильного транспорта.</p>
                <p>Вход в жилой комплекс будет осуществляться через стойки ресепшн с просторными зонами ожидания. Отсюда можно будет попасть как во внутренние дворы, так и во внешнюю зону комплекса, где на первых этажах разместится основная инфраструктура в виде магазинов, кафе и точек бытового обслуживания.</p>
            </div>
            <div class="row about_infro_img_xs">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-sm-6 about_infro"><img src="img/img_about_3_1.jpg" alt=""></div>
                <div class="col-lg-5 col-sm-6 about_infro"><img src="img/img_about_3_2.jpg" alt=""></div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-5 col-md-6 about_infro">
                <p>Входная зона будет оборудована лифтовыми кабинами производства ведущих европейских компаний. Система интеллектуального селективного вызовы сократит время ожидания лифта до минимума. Из каждой секции жилого комплекса можно будет спуститься на лифте в круглосуточно охраняемый отапливаемый подземный паркинг с дополнительным сервисом в виде автомоечных постов.</p>
                <p>Жильцы с детьми смогут воспользоваться услугами детского сада, расположенного непосредственно на&nbsp;территории ЖК «Серебряный фонтан».</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row about_infro_img">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-sm-6 about_infro"><img src="img/img_about_3_1.jpg" alt=""></div>
            <div class="col-lg-5 col-sm-6 about_infro"><img src="img/img_about_3_2.jpg" alt=""></div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="about_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6"></div>
                <div class="col-md-5 col-sm-6">
                    <h2><span>Комфортное жилье на&nbsp;любой вкус</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-6">
                    <p>Жилой комплекс предлагает широкий выбор квартир свободной планировки. Здесь есть варианты, соответствующие самым различным предпочтениям и потребностям. От уютных однокомнатных до просторных пятикомнатных евроапартаментов и классических шестикомнатных квартир.</p>
                    <p>Подобное разнообразие позволит найти вариант, подходящий именно вам, и наконец исполнить свою мечту о высококлассном комфортном жилье в одном из центральных районов столицы с богатой историей.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p>А прекрасные виды на ВДНХ, центральную часть Москвы, Останкинскую телебашню, зеленый бульвар, украшенный памятниками архитектуры XIX века, станут гармоничным завершающим элементом общей атмосферы подлинного городского уюта, который предлагает жилой комплекс «Серебряный фонтан».</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>
<img src="/img/about/render2.jpg" alt="" class="b-about-page-bottom-pic">
<div style="display: none;">
    <div class="popup-banner" data-banner>
        <div class="popup-banner__inner">
            <header class="popup-banner__header popup-banner-header">
                <div class="popup-banner-header__item">
                    <img src="/img/banner-logo.png" alt="">
                </div>
                <div class="popup-banner-header__item">
                    бизнес-класс на алексеевской
                </div>
            </header>
            <div class="popup-banner__cont">
                <div class="popup-banner__tlt">
                    Уникальное предложение
                    <span>на апартаменты в ноябре!</span>
                </div>
                <div class="countdown" data-countdown="2018/10/31">
                    <div class="countdown__tlt">старт продаж нового корпуса</div>
                    <div class="countdown__item-wrapper">
                        <div class="countdown__item" data-count-days></div>
                        <div class="countdown__item" data-count-hours></div>
                        <div class="countdown__item" data-count-minutes></div>
                    </div>
                </div>
                <p><a href="" class="popup-banner__btn">Выбрать апартаменты</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
