{% extends "layout.html" %}
{% set pageType = "homepageAjax" %}
{% set title = "Главная страница" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="b-homepage-underlay-text">ЖК БИЗНЕС-<br>КЛАССА</div>
<div class="l-simple-home dark_page">
    {% include "./includes/blocks/b-promo.html" %}
</div>

{% endblock %}
