{% set pageType = "infras" %}
{% set title = "Инфраструктура" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="infra_wrap dark_page">
    <div class="infra_inner">
        <div class="infra_rose" style="background-image:url(img/icon_rose.png);"></div>
        <div class="infra_info" style="left:30%; top:10%;"><span>Ресторан</span></div>
        <div class="infra_info" style="left:70%; top:10%;"><span>Фитнес<br>центр</span></div>
        <div class="infra_info" style="left:20%; top:80%;"><span>Lounge бар</span></div>
        <div class="infra_info" style="left:60%; top:70%;"><span>Детская<br>площадка</span></div>
        <!--<img src="img/bg_infra.jpg" alt="" style="width:100%; height:100%;">-->
    </div>
</div>

{% endblock %}




