{% set pageType = "landing" %}
{% set title = "Лендинг 2" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = false %}
{% set hideControls = false %}
{% block content %}

<div class="b-page-bg b-page-bg--landing"></div>
<div class="b-landing">
    <div class="b-landing__head b-landing__head--v_1">
        <div class="b-landing__bg b-landing__bg--v_2"></div>
        <div class="b-landing__head-text">
            <div class="b-landing__col b-landing__col--header">
                <p>Изысканная и сложная архитектура, созвучная историческому облику района</p>
            </div>
        </div>
    </div>
    <div class="b-landing__col">
        <p>Жилой комплекс “Серебряный фонтан” станет неотъемлемой и органичной частью визуальной среды района. Изысканная и сложная архитектура комплекса полностью созвучна стилю окружающих исторических зданий и представляет собой его естественное продолжение и развитие.</p>
        <div class="b-landing__divider"></div>
        <p>Она подчеркнет взаимосвязь с ближайшим городским окружением и преемственность в использовании архитектурных приемов, присущих этому району Москвы, созвучность его эстетике и неповторимой атмосфере.</p>
    </div>
    <div class="b-landing__col b-landing__col--wide b-landing__col b-landing__col--v_1">
        <img src="/img/landings/2-2.jpg" alt="" class="b-landing__pic b-landing__pic--xszoom_85 b-landing__pic--smzoom_45">
    </div>
    <div class="b-landing__col">
        <p>Изящное решение фасадов первой очереди жилого комплекса предложит современную живую интерпретацию кирпичной архитектуры, которая по разнообразию рельефа и уровню проработки деталей ни в чем не будет уступать своему окружению.</p>
    </div>
    <div class="b-landing__divider"></div>
    <div class="b-landing__col b-landing__col--wide b-landing__col b-landing__col--v_2">
        <img src="/img/landings/2-3.jpg" alt="" class="b-landing__pic b-landing__pic--xszoom_85">
    </div>
    <div class="b-landing__col">
        <p>Он имеет богатую и интересную историю, воплотившуюся в памятниках архитектуры и объектах культурного наследия: от церкви Тихвинской Богоматери и храма Троицы Живоначальной в стиле «русское узорочье» до парка Сокольники и Выставки достижений народного хозяйства</p>
    </div>
    {% include "./includes/chunks/landing-bottom.html" %}
</div>

{% endblock %}