{% set pageType = "landing" %}
{% set title = "Лендинг 2" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = false %}
{% set hideControls = false %}
{% block content %}

<div class="b-page-bg b-page-bg--landing"></div>
<div class="b-landing">
    <div class="b-landing__head b-landing__head--v_1">
        <div class="b-landing__bg b-landing__bg--v_3"></div>
        <div class="b-landing__head-text">
            <div class="b-landing__col b-landing__col--header">
                <p>Прогрессивные технологии комфорта</p>
            </div>
        </div>
    </div>
    <div class="b-landing__col">
        <p>Важным достоинством комплекса станет использование прогрессивных технологий комфорта на всех уровнях реализации проекта — от проектирования, строительства и отделки до комплектации корпусов сверхсовременным оборудованием.</p>
        <div class="b-landing__divider"></div>
        <p>Применение инноваций на стадии проектирования позволило использовать крупнопролетную схему несущих конструкций, поэтому квартиры в ЖК “Серебряный фонтан” отличаются свободной просторной планировкой.</p>
    </div>
    <div class="b-landing__col b-landing__col--wide b-landing__col b-landing__col--v_1">
        <img src="/img/landings/3-2.jpg" alt="" class="b-landing__pic b-landing__pic--xszoom_85 b-landing__pic--smzoom_45">
    </div>
    <div class="b-landing__col">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Алексеевский район по праву считается одним из самых знаменитых и по-настоящему любимых москвичами мест в городе.</p>
    </div>
    <div class="b-landing__divider"></div>
    <div class="b-landing__col b-landing__col--wide b-landing__col b-landing__col--v_2">
        <img src="/img/landings/3-3.jpg" alt="" class="b-landing__pic b-landing__pic--xszoom_85">
    </div>
    <div class="b-landing__col">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Он имеет богатую и интересную историю, воплотившуюся в памятниках архитектуры и объектах культурного наследия: от церкви Тихвинской Богоматери и храма Троицы Живоначальной в стиле «русское узорочье» до парка Сокольники и Выставки достижений народного хозяйства</p>
    </div>
    {% include "./includes/chunks/landing-bottom.html" %}
</div>

{% endblock %}