{% set pageType = "landing" %}
{% set title = "Лендинг 1" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = false %}
{% set hideControls = false %}
{% block content %}

<div class="b-page-bg b-page-bg--landing"></div>
<div class="b-landing">
    <div class="b-landing__head b-landing__head--v_1">
        <div class="b-landing__bg b-landing__bg--v_1"></div>
        <div class="b-landing__head-text">
            <div class="b-landing__col b-landing__col--header b-landing__col--wide">
                <p>Исторически Алексеевский район – <br class="hidden-xs">одно из самых знаменитых и любимых москвичами<br class="hidden-xs">мест столицы</p>
            </div>
        </div>
    </div>
    <div class="b-landing__col">
        <p>ЖК “Серебряный фонтан” — уникальный в своем роде проект. Немалую роль играет расположение жилого комплекса в историческом районе столицы, который прославился своим неповторимым обликом.</p>
        <div class="b-landing__divider"></div>
        <p>Его характер во многом определяет уникальный архитектурный ансамбль конца XIX века, состоящий из зданий бывшего приюта братьев Бахрушиных и зданий Алексеевской водоподъемной станции. Последние были построены по проекту признанного мастера промышленной архитектуры Максима Карловича Геппенера</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
    <div class="b-landing__col b-landing__col--wide b-landing__col b-landing__col--v_1">
        <img src="/img/landings/1-2.jpg" alt="" class="b-landing__pic b-landing__pic--xszoom_85 b-landing__pic--smzoom_45">
    </div>
    <div class="b-landing__col">
    	<p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Алексеевский район по праву считается одним из самых знаменитых и по-настоящему любимых москвичами мест в городе.</p>
    </div>
    <div class="b-landing__divider"></div>
    <div class="b-landing__col b-landing__col--wide b-landing__col b-landing__col--v_2">
        <img src="/img/landings/1-3.jpg" alt="" class="b-landing__pic b-landing__pic--xszoom_85">
    </div>
    <div class="b-landing__col">
        <p>Он имеет богатую и интересную историю, воплотившуюся в памятниках архитектуры и объектах культурного наследия: от церкви Тихвинской Богоматери и храма Троицы Живоначальной в стиле «русское узорочье» до парка Сокольники и Выставки достижений народного хозяйства</p>
    </div>
    {% include "./includes/chunks/landing-bottom.html" %}
</div>

{% endblock %}