{% import "./includes/blocks/b-custom-checkbox.html" as customCheckbox %}<!DOCTYPE html>
<html class="no-js">

<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="apple-touch-icon" href="/img/site-icons/76x76.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/site-icons/60x60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/site-icons/76x76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/site-icons/120x120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/site-icons/152x152.png">
	<link href="css/vendor.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body class="l-body l-body--{{pageType}} l-body--main-menu-close">
	<div class="b-preloader" id='pagePreloader'>
		<div class="b-preloader__inner">
			{% for i in range(1,8) %}<div class="b-preloader__blot b-preloader__blot--n{{i}}"></div>{% endfor %}
		</div>
	</div>
	<div id="bd">
		<header class="b-header{% if hideControls %} b-header--hidden{% endif %}{% if not isHeaderWhite %} b-header--inverted{% endif %} b-header--light" id="hd">
			<a href="#mainMenuModal" class="b-burger">
				<div class="b-burger__dots-wrap">
					<span class="b-burger__dot b-burger__dot--n1"></span>
					<span class="b-burger__dot b-burger__dot--n2"></span>
					<span class="b-burger__dot b-burger__dot--n3"></span>
				</div>
				<span class="b-burger__title b-burger__title--open">МЕНЮ</span>
				<span class="b-burger__title b-burger__title--close">ЗАКРЫТЬ</span>

			</a>

			<div class="b-header__logo logo">
				<a class="b-header__svg--desktop" href="/index-ajax.html" title="">
					{% include "includes/chunks/logo-dark.html" %}
				</a>
				<a class="b-header__svg--mobile" href="/index-ajax.html" title="">
					{% include "includes/chunks/logo.html" %}
				</a>
			</div>
			<nav class="b-header-menu">
				<div class="b-header-menu__item ">
					<a class="b-header-menu__link" href="javascript:;">Преимущества</a>

					<div class="b-header-menu__submenu">
						<div class="b-header-menu__submenu-inner">
							<a class="b-header-menu__sublink" href="/about/location/">Расположение</a>
							<a class="b-header-menu__sublink" href="/about/architecture/">Архитектура</a>
							<a class="b-header-menu__sublink" href="/about/infrastructure/">Территория</a>
							<a class="b-header-menu__sublink" href="/about/technologies/">Технологии</a>
							<a class="b-header-menu__sublink" href="/about/parking/">Паркинг</a>
						</div>
					</div>
				</div>
				<div class="b-header-menu__item">
					<a class="b-header-menu__link" href="javascript:;">Информация</a>

					<div class="b-header-menu__submenu">
						<div class="b-header-menu__submenu-inner">
							<a class="b-header-menu__sublink" href="/information/diary/">Ход строительства</a>
							<a class="b-header-menu__sublink" href="/information/gallery/">Галерея</a>
							<a class="b-header-menu__sublink" href="http://ser-fontan.ru/">Документы</a>
							<a class="b-header-menu__sublink" href="http://www.etalon-invest.com/how_to_buy/help/">Купившим</a>
							<a class="b-header-menu__sublink" href="/information/developer/">О застройщике</a>
							<a class="b-header-menu__sublink" href="/information/news/">Новости</a>
							<a class="b-header-menu__sublink _wide" href="/commercial/">Коммерческая недвижимость</a>
						</div>
					</div>
				</div>
				<div class="b-header-menu__item">
					<a class="b-header-menu__link" href="/buy/mortgage/">Как купить</a>
					<div class="b-header-menu__submenu">
						<div class="b-header-menu__submenu-inner">
							<a class="b-header-menu__sublink" href="/buy/mortgage/">Ипотека</a>
							<a class="b-header-menu__sublink" href="/buy/trade-in/">Trade-In</a>
							<a class="b-header-menu__sublink" href="/buy/installment/">Рассрочка</a>
							<a class="b-header-menu__sublink" href="/buy/maternity-capital/">Материнский капитал</a>
						</div>
					</div>
				</div>
				<div class="b-header-menu__item">
					<a class="b-header-menu__link" href="/contacts/">Контакты</a>
				</div>
				<div class="b-header-menu__item _last">
					<a class="b-header-menu__link" href="/choose/">Перейти к выбору</a>
				</div>
			</nav>
			<div class="b-header__phone phone">
				<p>+7 495 480 78 00</p>
				<a href="#callmeFormModal" data-fancybox="inline-callme-form" class="b-header__phone-link hidden-xs">Заказать звонок</a>
				<a href="#" class="b-header__phone-link b-header__phone-link--mobile visible-xs">
					{% include "includes/chunks/phone-icon-dark.html" %}
				</a>
			</div>
		</header>
		<main id="mainView">
{#





	   #}
			<div class="b-page-content" data-page-vars='{"pageType":"{{pageType}}","title":"{{title}}","isHeaderWhite":{{isHeaderWhite}},"isFooterWhite":{{isFooterWhite}},"hideControls":{{hideControls}}}'>
				{% block content %}{% endblock %}
			</div>
{#





	   #}
		</main>
		<div class="empty_box"></div>
	</div>
	<footer class="b-footer{% if hideControls %} b-footer--hidden{% endif %}{% if not isFooterWhite %} b-footer--inverted{% endif %}" id="ft">
		<div class="b-footer__inner">
			<div class="b-footer__copy">
				<a href="http://www.etalon-invest.com/" target="_blank"><img class="b-footer__copy-pic" src="img/etalon_group.svg" alt=""></a>
				<a href="http://www.etalon-invest.com/" target="_blank"><img class="b-footer__copy-pic b-footer__copy-pic--blue" src="img/etalon_group_gray.svg" alt=""></a>
				{# <a href="http://www.etalon-invest.com/" target="_blank"><img class="b-footer__copy-pic b-footer__copy-pic--n2" src="img/EtalonInvest.svg" alt=""></a>
				<a href="http://www.etalon-invest.com/" target="_blank"><img class="b-footer__copy-pic b-footer__copy-pic--n2 b-footer__copy-pic--blue" src="img/EtalonInvest_gray.svg" alt=""></a> #}
				<p class="b-footer__text b-footer__copy__text">Информация, предоставленная на сайте, не является публичной офертой</p>
			</div>
			<div class="b-footer__info">
				<p class="b-footer__text"><a class="b-footer__link" href="docs.html">Документы</a></p>
				<p class="b-footer__text">Продажа по 214-ФЗ</p>
				<p class="b-footer__text b-footer__text--standart">Зеленый стандарт</p>
				<a class="b-footer__link" href="/green-zoom.html"><img class="groomzoom-logo" src="/img/groom-zoom-logo.png" alt=""></a>
			</div>
			<div class="b-footer-socials">
				<a class="b-footer-socials__item" href="https://vk.com/etalonsilver" target="_blank">
					{% include "includes/chunks/socials_vk.html" %}
				</a>
				<a class="b-footer-socials__item" href="https://www.facebook.com/etalonsilver/" target="_blank">
					{% include "includes/chunks/socials_fb.html" %}
				</a>
				<a class="b-footer-socials__item" href="https://www.instagram.com/etalonfontan/" target="_blank">
					{% include "includes/chunks/socials_insta.html" %}
				</a>
			</div>
			<div class="b-footer__creator">
				<a href="https://blue-ant.ru/" class="b-footer__creator-link" target="_blank">
					{% include "includes/chunks/blue-ant.html" %}
				</a>
			</div>
		</div>
	</footer>
	<div class="modal" id="mainMenuModal" data-backdrop="false">
		<div class="b-menu">
			<div class="b-menu__bg" data-bg-img-num="1">
				<div class="b-menu__bg-underlay"></div>
			</div>
			<div class="b-menu__wrap">
				<ul class="b-menu__inner">
					<li class="b-menu__leaf"><a href="/index-ajax.html">Главная</a></li>
					<li class="b-menu__leaf">
						<a href="#">О проекте</a>
						<ul class="b-menu__submenu">
							<li class="b-menu__subleaf"><a href="about.html">О проекте</a></li>
							<li class="b-menu__subleaf"><a href="location.html">Расположение</a></li>
							<li class="b-menu__subleaf"><a href="infras.html">Инфраструктура</a></li>
							<li class="b-menu__subleaf"><a href="diary.html">Динамика строительства</a></li>
							<li class="b-menu__subleaf"><a href="about_genplan.html">Генплан</a></li>
							<li class="b-menu__subleaf"><a href="gallery.html">Галерея</a></li>
							<li class="b-menu__subleaf"><a href="parking.html">Паркинг</a></li>
							<li class="b-menu__subleaf"><a href="developer.html">О застройщике</a></li>
						</ul>
					</li>
					<li class="b-menu__leaf"><a href="hypothec.html">Ипотека</a></li>
					<li class="b-menu__leaf"><a href="actions.html">Акции</a></li>
					<li class="b-menu__leaf"><a href="#">Выбрать квартиру</a>
						<ul class="b-menu__submenu">
							<li class="b-menu__subleaf"><a href="genplan.html">На генплане</a></li>
							<li class="b-menu__subleaf"><a href="filters.html">По параметрам</a></li>
						</ul>
					</li>
					<li class="b-menu__leaf"><a href="contacts.html">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>


	{% include "includes/chunks/callme_form_modal.html" %}
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="js/vendor.js"></script>
	<script src="js/common.js"></script>
	{% block page_bottom %}{% endblock %}
</body>

</html>

