{% set pageType = "location" %}
{% set title = "Расположение" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
{% include "./includes/chunks/infras_objs_inline_script.html" %}
{% include "./includes/chunks/gmaps_style_override.html" %}

<div class="location_wrap">
    <div class="l-location">
        <div class="l-location__top">
            <div class="l-location__top-inner">
                <div class="h1">Расположение</div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="current_page">Расположение</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Г. Москва, СВАО, Алексеевский&nbsp;район, ул.&nbsp;Новоалексеевская,&nbsp;вл.&nbsp;16</h1>
                        </div>
                        <div class="col-md-6">
                            <p class="col-md-12 col-sm-6">Район расположения жилого комплекса развит инфраструктурно: в пешей доступности находятся несколько школ, детских садов и медицинских клиник, в том числе одна из лучших клиник Москвы — ГКБ№31.</p>
                            <p class="col-md-12 col-sm-6">В 500 метрах расположен Verso Fitness – большой премиальный фитнес-клуб (2800 м²) с бассейном, бьюти-спа и большим выбором групповых программ, в том числе и детских.</p>
                        </div>
                    </div>

                    <div class="b-map-filters">
                        <button class="b-map-filters__head">Фильтр&nbsp;по&nbsp;объектам</button>
                        <div class="b-map-filters__inner b-map-filters__inner--xs-hidden">
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="20" href="#">Кафе / ресторан</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="11" href="#">Парк</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="12" href="#">Магазин / ТРЦ</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="13" href="#">Поликлиника</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="14" href="#">Школа</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="15" href="#">Детский сад</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="16" href="#">Спортивный клуб</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="17" href="#">Банк</a></div>
                            <div class="b-map-filters__leaf"><a class="b-map-filters__trigger" data-icons-type="18" href="#">Театр / кино</a></div>
                        </div>
                    </div>

                    {# <div class="location_filtr_2">
                        <a href="#"><img src="img/icon_loc_hidden.png" alt="">Скрыть иконки</a>
                        <a href="#"><img src="img/icon_history_obj.png" alt="">Показать исторические объекты</a>
                    </div> #}
                </div>
            </div>

        </div>
        <div class="l-location__bottom">
            <div class="location_map" id="locationMap"></div>
            <div class="b-location-top-mask-bg"></div>
            {# <div class="b-gmap-outside-zoom">
                <div class="b-gmap-outside-zoom__btn b-gmap-outside-zoom__btn--plus"></div>
                <div class="b-gmap-outside-zoom__btn b-gmap-outside-zoom__btn--minus"></div>
            </div> #}
        </div>
    </div>
</div>


{% endblock %}
