{% set pageType = "news_single" %}
{% set title = "Новость" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}

	<div id="bd">
		<div class="newsPage_wrap">
			<h1>Новости</h1>
			<div class="container newsPage_container">
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
						<ul class="breadcrumb">
							<li><a href="#">О проекте</a></li>
							<li><a href="#">Новости</a></li>
						</ul>
						<div class="date">15 Сентября 2017</div>
						<h2>Группа «Эталон» приняла активное участие в деловой программе PROESTATE-2017</h2>
						<div class="newsPage_text">
							<p>14 сентября эксперты Группы «Эталон» выступили на Международном инвестиционном форуме по недвижимости PROESTATE-2017.</p>
							<p><b>Андрей Останин</b>, директор по продажам Группы «Эталон», в ходе обучающей программы ACADEMY OF REAL ESTATE провел семинар «Отдел продаж застройщика: создание, управление, контроль». Основываясь на своем 20-летнем опыте в сфере розничных продаж, дистрибуции и девелопмента, он рассказал об изменении портрета покупателя, отличии технологий продаж «вчера» и «сегодня» от тех, которые потребуются «завтра».</p>
							<p>«Приемы манипулирования, которыми все еще пользуются продавцы дорогих пылесосов известной марки, больше не работают. Покупатели сегодня стали опытные, требовательные, усталые и «всевидящие». Насытившись и набравшись опыта, люди сегодня устали покупать, поэтому от менеджера по продажам теперь требуется не просто продавать, а помогать. Помогать в решении задач и потребностей клиента, стать ему другом и партнером - вот, что действительно необходимо на рынке недвижимости», - рассказал собравшимся коллегам Андрей Останин.</p>
							<p>Выступление генерального директора ООО «НТЦ «Эталон» (входит в Группу «Эталон») <b>Арсентия Сидорова</b> на практической конференции «Эксплуатация зданий на основе BIM: технологии качественного управления» было посвящено опыту применения BIM-технологий в проектировании, строительстве и эксплуатации объектов Группы. Он отметил широту возможностей использования данной технологии, а также указал на перспективы ее синхронизации с телеметрией и виртуальной реальностью.</p>
							<p>«Сейчас мы все являемся свидетелями того, как осторожный интерес к теории BIM трансформировался в явную потребность в получении информации об опыте практического применения этой технологии. Очевидно, что следующий шаг – обсуждение применения BIM-технологий не только с проектировщиками, но и со специалистами на всех последующих этапах строительства и эксплуатации. Я говорю и об этапах непосредственно СМР, и о рекламе, и о продажах, и об эксплуатации. Это особенно важно, в том числе и потому, что с 1 июля 2019 года все инженерные системы объектов строительства должны быть представлены в виде BIM-моделей, интегрированных в систему ГИС», - пояснил Арсентий Сидоров.</p>
							<p>Следующую встречу с инвесторами и представителями эксплуатирующих организаций, по мнению Арсентия Сидорова, следует начать с демонстрации уже практических  решений: «Условно говоря, тест-драйв рабочих решений, когда будут стоять компьютеры с работающими моделями, и профессионалы эксплуатации смогут задавать вопросы по задачам, часто встречающимся в повседневной работе, и получать на них ответы».</p>
							<p>В свою очередь, присутствовавший на конференции представитель международной компании, специализирующейся на реализации энергоэффективных решений «Green BIM», отметил значимость для российского рынка недвижимости платинового сертификата GREEN ZOOM, полученного первым московским объектом в сегменте бизнес-класса и первым проектом бизнес-класса Группы «Эталон» в Московском регионе – жилым комплексом «Серебряный фонтан».</p>
						</div>

						<div class="swiper-container news_single_slider">

						    <div class="swiper-wrapper">
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_1.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_2.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_3.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_4.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_1.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_2.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_3.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_4.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_1.jpg" alt=""></div>
						        <div class="swiper-slide"><img src="/img/news/trash_news_2_2.jpg" alt=""></div>

						    </div>
						    
						</div>

						<div class="newsPage_slide">
							<div class="newsPage_slide_img"><img src="/img/news.trash_news_2_5.jpg" alt=""></div>
							<div class="newsPage_slide_controls">
								<div><b class="slides_current">1</b> / <span class="slides_total">1</span></div>
								<a href="#" class="prev"></a>
								<a href="#" class="next"></a>
							</div>
						</div>
						<div class="back_news_list"><a href="news.html">Вернуться к списку новостей</a></div>
					</div>
					<div class="col-lg-1"></div>
				</div>
			</div>
		</div>
		<!-- <div class="empty_box"></div> -->
	</div>

{% endblock %}