{% set pageType = "news" %}
{% set title = "Новости" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}

{% block content %}

	<div id="bd">
		<div class="news_l_box">
			<div class="news_l_inner">
				<h2>Новости</h2>
				<div class="news_l_filtr">
					<div class="news_l_month">
						Сентябрь
						<ul>
							<li><a href="#">Январь</a></li>
							<li><a href="#">Февраль</a></li>
							<li><a href="#">Март</a></li>
							<li><a href="#">Апрель</a></li>
							<li><a href="#">Май</a></li>
							<li><a href="#">Июнь</a></li>
							<li><a href="#">Июль</a></li>
							<li><a href="#">Август</a></li>
							<li><a href="#" class="active">Сентябрь</a></li>
							<li><a href="#">Октябрь</a></li>
							<li><a href="#">Ноябрь</a></li>
							<li><a href="#">Декабрь</a></li>
						</ul>
					</div>
					<div class="news_l_year">
						2017
						<ul>
							<li><a href="#">2014</a></li>
							<li><a href="#">2015</a></li>
							<li><a href="#">2016</a></li>
							<li class="active"><a href="#">2017</a></li>
						</ul>
					</div>
				</div>
				<div class="row news_l_row">
					<div class="news_l_item">
						<div class="news_l_item_img"><img src="img/news/trash_news_2_1.jpg" alt=""></div>
						<div class="news_l_item_text">
							<div class="news_l_item_name">Группа «Эталон» приняла активное участие в деловой программе PROESTATE-2017 «Эталон» приняла активное участие в деловой программе PROESTATE-2017 Группа «Эталон» приняла активное участие в деловой программе PROESTATE-2017 «Эталон» приняла активное участие в деловой программе PROESTATE-2017</div>
							<span class="date">15 Сентября 2017</span>
							<a href="#" class="more">Подробнее</a>
						</div>
					</div>
					<div class="news_l_item">
						<div class="news_l_item_img"><img src="img/news/trash_news_2_2.jpg" alt=""></div>
						<div class="news_l_item_text">
							<div class="news_l_item_name">Аллея Космонавтов в «Изумрудных холмах» получила специальный приз Градконкурса Минстроя РФ</div>
							<span class="date">15 Сентября 2017</span>
							<a href="#" class="more">Подробнее</a>
						</div>
					</div>
					<div class="news_l_item">
						<div class="news_l_item_img"><img src="img/news/trash_news_2_3.jpg" alt=""></div>
						<div class="news_l_item_text">
							<div class="news_l_item_name">Группа «Эталон» поддержала празднование 85-летия городского округа Красногорск</div>
							<span class="date">15 Сентября 2017</span>
							<a href="#" class="more">Подробнее</a>
						</div>
					</div>
					<div class="news_l_item">
						<div class="news_l_item_img"><img src="img/news/trash_news_2_4.jpg" alt=""></div>
						<div class="news_l_item_text">
							<div class="news_l_item_name">«Эталон-Инвест» начинает продажи в ЖК «Серебряный фонтан» в Москве</div>
							<span class="date">15 Сентября 2017</span>
							<a href="#" class="more">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="news_l_pager">
					<a href="#" title="">В начало</a>
					<a href="#" title="" class="active">1</a>
					<a href="#" title="">2</a>
					<a href="#" title="">3</a>
					<a href="#" title="">4</a>
					<a href="#" title="">5</a>
					<a href="#" title="">Дальше</a>
				</div>
			</div>
		</div>
		<!-- <div class="empty_box"></div> -->
	</div>

{% endblock %}