{% set pageType = "oneAction" %}
{% set title = "Акции ( 1шт. )" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}

{% block content %}
<div class="l-one-action">
    <div class="l-one-action__inner">
        <div class="l-one-action__left">
        	<div class="b-alt-actions-page-title">
        		<h2 class="b-current-page-subheader b-current-page-subheader--only-one-action">Акции<span class="b-current-page-subheader__addendum hidden-xs">на
					 июль 2017</span></h2>
        	</div>
        </div>
        <div class="l-one-action__right">
            <div class="b-one-action">
                <div class="b-one-action__bg" style="background-image: url(/img/actions/1.png);"></div>
                <a href="#" class="b-one-action__content-box">
                    <div class="b-one-action__header">Успей купить!</div>
                    <div class="b-one-action__desc">Ограниченный <br>список квартир <br><strong>147&nbsp;000&nbsp;руб/м²</strong></div>
                    <div class="b-one-action__readmore">&rarr;</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}