{% set pageType = "parking" %}
{% set title = "Паркинг" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="parking-gag">
    <div class="parking-gag-content">
        <h2 class="parking-gag-content__title">Паркинг</h2>
        <p class="parking-gag-content__text">2 уровневый подземный паркинг ЖК «Серебряный фонтан» — это надежная круглогодичная защита вашего автомобиля.</p>
        <p class="parking-gag-content__text">Скоростные лифты спускаются от квартир непосредственно в отапливаемые помещения парковки. Тепловые завесы на въездах не позволят пандусу превратиться в ледяную горку даже самой холодной зимой. Надежная система безопасности, собственные посты автомоек и кладовые помещения дополняют картину бизнес-класса.</p>
        
        <div class="parking-gag-content__btns-wrap_md"></div>

        <div id="pdf-for-block1" class="parking-gag-content__btns-wrap parking-gag-content__btns-wrap_active">
            <span class="parking-gag-content__for-btn-text">Паркинг, корпус 1:</span>
            <a target="_blank" class="parking-gag-content__btn-download" href="http://etalonsilver.ru/upload/-1fl-2.pdf">-1 этаж</a>
            <a target="_blank" class="parking-gag-content__btn-download" href="http://etalonsilver.ru/upload/-2fl-2.pdf">-2 этаж</a>
        </div>

        <div id="pdf-for-block2" class="parking-gag-content__btns-wrap">
            <span class="parking-gag-content__for-btn-text">Паркинг, корпус 2:</span>
            <a target="_blank" class="parking-gag-content__btn-download" href="http://etalonsilver.ru/upload/k2_park_fl1.pdf">-1 этаж</a>
            <a target="_blank" class="parking-gag-content__btn-download" href="http://etalonsilver.ru/upload/k2_park_fl2.pdf">-2 этаж</a>
        </div>
        <button class="parking-gag-content__btn" onclick="$('.b-header__phone-link').eq(0).trigger('click'); return false;">Получить консультацию</button>
        
    </div>

    <div class="parking-mask">
        <ul class="parking-blocks">
            <li>
                <a href="#parking-block1" data-pdf="pdf-for-block1" class="parking-blocks__btn parking-blocks__btn_active">Корпус 1</a>
            </li>
            <li>
                <a href="#parking-block2" data-pdf="pdf-for-block2" class="parking-blocks__btn">Корпус 2</a>
            </li>
        </ul>
        <div id="parking-block1" class="parking-block1">
            <div class="parking-mask-stage">
                <a href="#" class="parking-mask-stage__link parking-mask-stage-n1">-1 этаж</a>
                <a href="#" class="parking-mask-stage__link parking-mask-stage-n2">-2 этаж</a>
            </div>

            <div class="swiper-container parking-mask-schemes parking-mask-schemes-n1">          
                <div class="swiper-wrapper">            
                    <div class="swiper-slide">              
                        <div class="parking-mask-schemes_bg">
                            <img src="img/park_1_fl1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">             
                        <div class="parking-mask-schemes_bg">
                            <img src="img/park_1_fl2.png" alt="">
                        </div>
                    </div>            
                </div> 
            </div>
        </div>

        <div id="parking-block2" class="parking-block2">
            <div class="parking-mask-stage">
                <a href="#" class="parking-mask-stage__link parking-mask-stage-n1">-1 этаж</a>
                <a href="#" class="parking-mask-stage__link parking-mask-stage-n2">-2 этаж</a>
            </div>
            
            <div class="swiper-container parking-mask-schemes parking-mask-schemes-n2">          
                <div class="swiper-wrapper">            
                    <div class="swiper-slide">              
                        <div class="parking-mask-schemes_bg">
                            <img src="img/park_2_fl1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">             
                        <div class="parking-mask-schemes_bg">
                            <img src="img/park_2_fl2.png" alt="">
                        </div>
                    </div>            
                </div> 
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block page_bottom %}{% endblock %}

