{% set pageType = "policy" %}
{% set title = "Политика конфиденциальности" %}
{% extends "layout.html" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = false %}
{% block content %}
<div class="aboutDev_bg" style="background-image: url(/img/bg_aboutDev.jpg);"></div>
<div class="aboutDev_wrap">
    <div class="container policy_container">
        	<h3><strong>Соглашение об обработке персональных данных</strong></h3>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi esse nesciunt veniam labore suscipit, aliquid eaque recusandae enim non, hic doloremque harum, natus dicta culpa autem impedit minima amet atque architecto, tempora aspernatur delectus rerum voluptatem numquam ipsam! Mollitia cum aut, esse pariatur facilis at consequuntur reprehenderit. Expedita recusandae illum fuga nisi corporis rerum laboriosam. Temporibus perspiciatis repudiandae natus, velit quas et, quaerat. Dolorem cumque, unde quisquam explicabo, tempore harum doloribus sed. Repudiandae, reiciendis, optio. Optio recusandae, earum laudantium, similique labore sapiente vitae eligendi natus distinctio aspernatur, at facere laboriosam. Praesentium rerum quam quod consectetur, dolor ad perspiciatis, non corporis!</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos autem pariatur aut. Dolorem fugiat rem illum quisquam, repellendus rerum, aut sit, ab esse reprehenderit animi quo ratione delectus maiores explicabo voluptatem quae accusamus corrupti optio consectetur. Non, voluptatem provident illo consequuntur autem voluptas iusto quod deserunt expedita vero sit voluptatum nostrum odit, nisi ad perferendis sunt dignissimos eveniet consequatur asperiores! At esse, perferendis corporis iste ducimus aut eaque maxime asperiores quibusdam quas est aspernatur dolores corrupti ad itaque qui aperiam deleniti odio repellendus! Facilis consequatur doloremque inventore quae, esse ea, voluptas rem iure, dicta, quidem nam recusandae nobis totam molestiae.</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolor ipsum autem praesentium architecto blanditiis debitis assumenda odio itaque illum at doloremque, molestias quas accusamus dolore ipsam nisi doloribus beatae suscipit quos omnis ipsa in! Voluptas vitae, facere dicta assumenda quos iste, laudantium ullam ab atque! Esse debitis optio temporibus delectus eum ab ipsum quos? Porro eum cum ad excepturi, hic fuga incidunt. Odio quo aspernatur earum ducimus maxime mollitia, alias veniam? Placeat dolorem aperiam nemo rem. Facere est aut voluptates distinctio vero nostrum, provident excepturi quasi iure placeat sunt laboriosam asperiores, corrupti perspiciatis odit laborum nobis ab aspernatur natus!</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sunt eveniet quibusdam dolor labore optio ipsa nesciunt tenetur, facilis qui expedita accusamus officiis odio dolores, mollitia excepturi sed iste dignissimos veritatis ab nam? Optio aliquid ullam asperiores vitae natus blanditiis eum labore aliquam enim consectetur quia, assumenda fuga, harum vero eaque. Consequatur dolorem quidem beatae laborum sapiente odit debitis hic quae libero, adipisci quis, voluptatibus sint, autem velit cum aliquam! Exercitationem eum molestiae eveniet vitae quo nemo velit ipsum, illo impedit, sit error tenetur natus architecto, expedita delectus laborum. Ex eaque doloremque hic, nobis accusantium nisi ipsam laudantium iste et.</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ut provident nesciunt sit vel dolorum aliquid, consectetur temporibus error et officiis amet sequi alias perspiciatis dicta doloribus, magnam commodi eius sint! Dignissimos dolore nam odio, ea id aliquid ullam, modi, laboriosam deserunt quidem quis in, qui possimus nesciunt dicta asperiores sed distinctio. Quasi quae quibusdam amet dolor quam non nostrum qui nemo molestias fuga accusamus animi doloribus perspiciatis magni quaerat voluptatem neque, minus nobis doloremque accusantium repellendus earum, cumque sunt dolorem necessitatibus! Molestiae deserunt dolorem atque error doloribus. Vel dicta, repellendus eius quidem, magni quos molestias molestiae maxime expedita magnam?</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptates officia a inventore velit natus, veniam animi molestias provident fuga mollitia, perferendis aliquid eligendi sapiente ad nostrum iste ipsa laudantium qui aperiam recusandae aut modi maiores consectetur! Ipsum similique non libero quibusdam, quis culpa deserunt distinctio! Nisi quidem eius est possimus necessitatibus sit voluptates, aperiam distinctio dignissimos placeat, officiis non ratione esse, quaerat aut earum, cumque ipsum vero. Rem tempora eos magnam excepturi eaque cupiditate ipsa nemo consectetur dolores aut nesciunt ex minima nihil, dignissimos, id commodi illum, alias ipsum possimus asperiores. Ipsum dolorem possimus accusantium et facilis animi impedit.</p>
    </div>
</div>

{% endblock %}








