{% extends "layout.html" %}
{% set pageType = "homepage" %}
{% set title = "Главная страница" %}
{% set isHeaderWhite = true %}
{% set isFooterWhite = true %}
{% set hideControls = true %}
{% block content %}

<div class="l-home dark_page">
    <div class="l-home__vertical-track">
        <div class="l-home__view l-home__view--splashscreen">
            <div class="b-splashscreen">
                <div class="b-splashscreen__logo-wrap">
                    <img class="b-splashscreen__logo" src="img/logo_big.svg" alt="">
                </div>
                <div class="b-splashscreen__inner">
                    <div class="b-splashscreen__poster"></div>
                    <video class="b-splashscreen__video b-splashscreen__video--hidden"></video>
                </div>
                <a href="#" class="b-splashscreen__more">Подробнее</a>
            </div>
        </div>
        <div class="l-home__view l-home__view--promo">
            <div class="b-homepage-underlay-text b-homepage-underlay-text--hidden">ЖК БИЗНЕС-<br>КЛАССА</div>
            {% include "./includes/blocks/b-promo.html" %}
        </div>
    </div>
</div>

{% endblock %}
