@media screen and (max-width:1799px) {
    .dynamics_wrap {
        height: 706px;
    }
    .dynamics_timeline {
        width: 706px;
        height: 706px;
    }

    .location_filtr_2 {
        padding-left: 25px;
    }
}

.desktop .contacts_routeText,
.desktop .contacts_routeButtons {
    display: none !important;
}

.contacts_routeButtons>a {
    padding: 8px 6px 2px 6px;
    margin-left: 10px
}

@media screen and (max-width:1599px) {
    html,
    body {
        font-size: 16px;
        line-height: 20px;
    }
    html {
        min-height: 860px;
    }
    h2 {
        font-size: 24px;
    }
    #hd .logo {
        top: 19px;
    }
    #hd .menuBtn {
        left: 29px;
        top: 28px;
    }
    #hd .phone {
        right: 28px;
        top: 26px;
    }
    #ft .copy {
        left: 29px;
    }
    #ft .creator {
        right: 29px;
    }
    .menu_main {
        font-size: 24px;
    }
    .menu_main li+li {
        margin-top: 33px;
    }
    .menu_main_sub {
        top: -2px;
        font-size: 18px;
    }
    .menu_main_sub li+li {
        margin-top: 21px;
    }
    .mainSLider {
        font-size: 16px;
    }
    .mainSLider .pager {
        padding-top: 25px;
    }
    .mainSLider h5 {
        top: -100px;
        width: 100%;
    }
    .mainSLider h5 .more {
        font-size: 14px;
    }
    .mainSLider h5 .more:before,
    .mainSLider h5 .more:after {
        top: 2px;
    }
    .mainSLider img {
        margin-bottom: 60px;
    }
    .mainSLider .item_1 {
        padding-right: 5%;
    }
    .mainSLider .item_3 {
        padding-left: 5%;
    }
    /*.mainSLider .item_1, .mainSLider .item_3 { padding-bottom:100px;}*/
    .main_flat_choice h1 {
        top: -90px;
        font-size: 16px;
    }
    .main_flat_item {
        height: 92px;
        font-size: 14px;
    }
    .main_flat_count {
        bottom: 41px;
        width: 140px;
    }
    .main_flat_square {
        bottom: 17px;
        width: 140px;
        font-size: 16px;
    }
    .main_flat_border_1,
    .main_flat_border_2 {
        border-width: 1px;
    }
    .main_flat_btn {
        bottom: -170px;
    }
    .about_wrap {
        padding-top: 200px;
        background-size: contain;
    }
    .about_wrap h2 {
        margin: 60px 0;
    }
    .about_wrap h2:before {
        left: -250px;
        margin-top: -1px;
        width: 212px;
        height: 2px;
    }
    .about_logo {
        left: 0;
        top: -10px;
        width: 165px;
    }
    .about_wrap .container {
        padding: 0 50px;
    }
    .about_container {
        padding: 0 50px;
        margin-top: 165px;
    }
    .about_wrap .col-md-5+.col-md-5,
    .about_wrap .col-md-3+.col-md-7 {
        padding: 0 0 0 30px;
    }
    .about_bg_1 {
        padding: 0 75px;
        background-size: auto 848px;
        min-height: 1110px;
    }
    .about_bg_1 .col-md-6 {
        padding-right: 0;
    }
    .about_bg_2 {
        padding: 0 75px 48px;
    }
    .about_infro p {
        padding: 0 50px 0 0;
    }
    .about_infro+.about_infro p {
        padding: 0 0 0 20px;
    }
    .text_about_slider+p {
        padding-right: 30px;
    }
    .aboutDev_wrap {
        padding-top: 200px;
        background-size: contain;
    }
    .aboutDev_wrap .aboutDev_container {
        padding: 0 50px;
    }
    .aboutDev_wrap p {
        margin-top: 20px;
    }
    .aboutDev_container {
        padding: 0 50px 80px !important;
        margin-top: 95px;
    }
    .actions_list_wrap .current_page {
        top: 60px;
        font-size: 16px;
    }
    .actions_list_controls {
        width: 100px;
        margin: 0 70px 0 0;
        position: relative;
    }

    .actions_list_item {
        width: 24%;
        height: 410px;
        margin-right: 60px;
    }
    .actions_list_img {
        height: 240px;
    }
    .dynamics_wrap {
        height: 602px;
        font-size: 14px;
        line-height: 1.2;
    }
    .dynamics_wrap .current_page {
        top: 10px;
        font-size: 16px;
    }
    .dynamics_timeline {
        width: 602px;
        height: 602px;
    }

    .dynamics_name_foto {
        top: 25px;
    }
    .dynamics_autor_foto {
        font-size: 12px;
    }
    .dynamics_month_controls a,
    .dynamics_foto_count_controls a {
        background-size: 14px 15px;
    }
    .dynamics_month_controls .prev {
        bottom: -110px;
    }
    .dynamics_month_controls .next {
        top: -85px;
    }
    .dynamics_foto_count {
        width: 105px;
    }
    .dynamics_popUp_wrap {
        padding: 70px 0;
    }
    .dynamics_popUp_wrap .close {
        right: 30px;
        top: 30px;
        width: 22px;
        height: 22px;
        background-size: contain;
    }
    .dynamics_popUp {
        padding: 0 70px;
        font-size: 14px;
        line-height: 1.2;
    }
    .dynamics_popUp .close {
        right: 30px;
        top: 30px;
        width: 22px;
        height: 22px;
        background-size: contain;
    }
    .dynamics_popUp_foto {
        margin-bottom: 30px;
    }
    .dynamics_popUp_name_foto {
        max-width: 300px;
        margin: 0 60px 0 15px;
    }
    .dynamics_popUp_autor_foto {
        font-size: 12px;
        margin-top: 0;
    }
    .dynamics_popUp_count {
        right: 20px;
        bottom: 51px;
    }
    .dynamics_popUp_controls {
        margin-top: -60px;
    }
    .dynamics_popUp_controls a {
        width: 14px;
        height: 21px;
        background-size: contain;
    }
    .dynamics_popUp_controls .prev {
        left: 30px;
    }
    .dynamics_popUp_controls .next {
        right: 30px;
    }
    .contacts_list {
        margin: 0 0 0 150px;
    }




    .contacts_maps {
        width: 69%;
    }
    .galery_list_wrap {
        top: 145px;
        height: calc(100% - 145px);
    }

    .location_wrap .current_page {
        margin: 0 0 42px 20px;
    }
    .location_wrap h1 {
        margin-left: 20px;
    }
    .location_wrap p+p {
        margin-top: 20px;
    }
    .infra_info {
        min-width: 133px;
        height: 47px;
        font-size: 14px
    }

    /*.ipotek_form_page #bd { background-position:calc(100% + 130px) center;}*/
    .ipotek_form_page h1 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .ipotek_form {
        width: 440px;
        font-size: 16px;
    }
    .ipotek_form p {
        margin-bottom: 22px;
    }

    .location_wrap .current_page {
        font-size: 16px;
        margin-bottom: 45px;
    }



    .flat_wrap {
        width: auto;
        margin: 75px 60px 0;
        font-size: 14px;
    }
    .flat_about dt {
        width: 110px;
    }
    .flat_about dd {
        margin: 0 0 15px 110px;
    }
    .flat_about_btn_1 {
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
    }
    .flat_plan {
        width: calc(100% - 470px);
    }
    .flat_view_list a {
        font-size: 14px;
    }
    .flat_similar_plan_table .col {
        font-size: 14px;
    }
    .flat_f_view_popUp .close {
        background-size: contain;
        width: 20px;
        height: 20px;
    }
    .flat_f_view_popUp_inner {
        font-size: 14px;
    }
    .choose_wrap {
        padding: 120px 0 10px;
    }
    .choose_wrap h5 {
        font-size: 14px;
    }
    .choose_filtr .ui-checkboxradio-label {
        font-size: 14px;
    }
    .choose_filtr_param_1 .note {
        font-size: 12px;
    }
    .slider_result {
        font-size: 10px;
    }
    .choose_result_list .col {
        font-size: 14px;
        height: 51px;
    }
    .choose_result_plit_item {
        font-size: 14px;
    }
}

@media screen and (max-width:1279px) {
    h1 {
        font-size: 36px;
    }
    .actions_list_text p {
        height: 65px;
        margin-bottom: 10px;
    }
    .dynamics_timeline {
        border-width: 1px;
    }
    .dynamics_timeline_active_wrap {
        height: 100%;
        position: absolute;
        left: -1px;
        top: -1px;
    }
    .dynamics_timeline.active {
        border-width: 1px;
    }
    .dynamics_timeline_count {
        width: 28px;
        height: 28px;
        margin: -14px 0 0 -14px;
        border-radius: 14px;
        font-size: 10px;
        line-height: 28px;
    }
    .contacts_list {
        max-width: 450px;
        margin: 0 0 0 80px;
    }
    .contacts_wrap .current_page {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .contacts_item {
        font-size: 14px;
    }
    .contacts_item+.contacts_item {
        margin-top: 45px;
    }
    .contacts_item .dl-horizontal dt {
        width: 170px;
    }
    .contacts_item .dl-horizontal dd {
        margin-left: 180px;
    }
    .contacts_name {
        font-size: 18px;
    }
    .contacts_name:before {
        top: 2px;
    }
    .contacts_item ul li {
        font-size: 14px;
    }
    .contacts_maps {
        width: 60%;
    }
    .location_wrap {
        background-size: 130% auto;
    }
    .location_wrap h1 {
        font-size: 26px;
    }


    .flat_wrap {
        padding: 38px 60px 70px
    }
    .flat_wrap .back {
        right: 23px;
        top: 21px;
        background-size: contain;
        width: 22px;
        height: 22px;
    }
    .flat_about {
        width: 230px;
        padding-bottom: 150px;
    }
    .flat_plan {
        margin-right: 150px;
        width: calc(100% - 400px);
    }

    .choose_wrap .container {
        width: auto;
        margin: 0 70px;
    }
    .choose_filtr,
    .choose_result {
        padding-left: 0;
    }
    .choose_filtr_param_6 .ui-checkboxradio-label {
        margin-right: 20px;
    }
    .choose_result_section_controls a {
        font-size: 14px;
    }
    .choose_result_section_controls .prev {
        left: 0;
    }
    .choose_result_section_controls .next {
        right: 0;
    }
    /*     .choose_result_plit_item .flat_n {
        left: 15px;
    }
    .choose_result_plit_item .flat_r {
        padding: 0 85px 0 145px;
    }
    .choose_result_plit_item .flat_sq {
        right: 15px;
    } */
}


@media screen and (max-width:1023px) {
    html {
        min-height: 1px;
    }
    #bd .empty_box {
        height: 65px;
    }
    #hd .logo {
        top: 20px;
    }
    #hd .menuBtn {
        left: 41px;
        top: 22px;
    }
    #hd .phone {
        right: 38px;
        top: 21px;
    }
    #ft .copy {
        left: 40px;
        top: -44px;
        padding-left: 88px;
        font-size: 10px;
        letter-spacing: 0.1em;
    }
    /*#ft .ft_more_info_link { top:-38px;}*/
    #ft .legacy_info {
        top: -38px;
        font-size: 10px;
    }
    #ft .legacy_info p {
        max-width: 195px;
        margin: -1px 15px 0 0;
    }
    #ft .creator {
        right: 40px;
        top: -47px;
    }
    .menu_main {
        left: 10%;
        top: 180px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        font-size: 22px;
    }
    .menu_main.open {
        left: 51%;
    }
    .menu_main_sub {
        left: -98%;
        top: -2px;
        font-size: 16px;
    }
    .menu_main_sub li+li {
        margin-top: 19px;
    }
    .row p+p {
        margin-top: 20px;
    }
    .mainSLider {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 65%;
        margin: 75px auto 0;
    }
    .mainSLider .pager {
        height: 65px;
    }
    .mainSLider .row {
        display: block;
        margin-bottom: 40px;
    }
    .mainSLider .col-md-4 {
        display: block;
        text-align: center;
    }
    .mainSLider h5 {
        position: relative;
        top: 0;
        margin-bottom: 35px;
    }
    .mainSLider img {
        max-width: 330px;
        margin: 35px 0 50px;
    }
    .mainSLider .item_1 {
        padding-right: 0;
    }
    .mainSLider .item_3 {
        padding-left: 0;
    }
    .main_choice_btn {
        width: 215px;
        height: 42px;
        border-radius: 21px;
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 44px;
    }
    .mainSLider .note {
        font-size: 16px;
    }
    .main_flat_choice {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        margin: 220px auto 130px;
    }
    .main_flat_choice h1 {
        position: absolute;
        top: -90px;
    }
    .main_flat_item {
        width: calc(100% / 3);
    }
    .main_flat_btn {
        bottom: -100px;
    }
    .about_wrap {
        padding: 168px 0 0;
    }
    .about_wrap h1 {
        margin: 0;
    }
    .about_wrap h2 {
        margin: 50px 10px 45px 50px;
    }
    .about_wrap h2:before {
        left: -190px;
        margin-top: -1px;
        width: 140px;
    }
    .about_container .row:first-child h2 {
        margin-top: 0;
        margin-bottom: 65px;
    }
    .about_logo {
        top: -45px;
        width: 160px;
    }
    .about_wrap .current_page {
        padding-top: 8px;
        margin-left: 40px;
    }
    .about_wrap .pull-right {
        float: none !important;
    }
    .about_container {
        padding: 0 40px;
        margin-top: 200px;
    }
    .about_wrap .container {
        padding: 0 40px;
    }
    .about_wrap .col-lg-5+.col-lg-5,
    .about_wrap .col-md-5+.col-md-5,
    .about_wrap .col-md-3+.col-md-7 {
        padding: 0;
    }
    .about_wrap .col-md-6+.col-md-6 p {
        margin-top: 20px;
    }
    .about_slider {
        margin: 0 0 45px;
    }
    .text_about_slider {
        width: auto;
        padding: 0;
    }
    .text_about_slider+p {
        padding-right: 0;
    }
    .about_bg_1 {
        margin: 0;
        padding: 0;
        background-position: calc(100% + 190px) bottom;
        background-size: auto 770px;
        min-height: 1050px;
    }
    .about_bg_1 .col-md-6 {
        padding-right: 0;
    }
    .about_bg_2 {
        margin: 0;
        padding: 0 0 48px;
    }
    .about_infro p,
    .about_infro+.about_infro p {
        padding: 0;
    }
    .about_infro img {
        margin-left: -40px;
        width: calc(100% + 40px);
    }
    .about_infro+.about_infro img {
        margin-right: -40px;
        margin-left: 0;
        width: calc(100% + 40px);
    }
    .aboutDev_wrap {
        padding: 168px 0 0;
        background-size: auto 770px;
    }
    .aboutDev_wrap h1 {
        margin: 0;
    }
    .aboutDev_wrap .container {
        padding: 0 40px;
    }
    .aboutDev_wrap .current_page {
        padding-top: 8px;
        margin-left: 40px;
    }
    .aboutDev_container {
        padding: 0 40px 60px !important;
        margin-top: 200px;
    }
    .aboutDev_container h2 {
        margin: 10px 0 60px;
    }
    .aboutDev_container h2:before {
        right: -190px;
        margin-top: -1px;
        width: 140px;
        height: 2px;
    }
    .dev_progress .biger {
        letter-spacing: -0.06em;
    }
    .dev_progress .big {
        letter-spacing: normal;
    }
    .actions_list_wrap {
        padding: 60px 0 9px;
        margin: 0 0 45px;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .actions_list_wrap .current_page {
        top: 0;
        left: 80px;
        font-size: 16px;
    }
    .actions_list {
        margin-bottom: 135px;
    }
    .actions_list_item {
        width: 41%;
        margin-right: 70px;
    }
    .actions_list_controls {
        position: absolute;
        left: 18%/*% равен сдвигу .actions_list*/
        ;
        top: -200px;
        width: 100%;
        margin: 0;
    }
    .actions_list_controls a {
        top: 77px;
    }
    .actions_list_controls .prev {
        left: 50%;
        margin-left: -50px;
    }
    .actions_list_controls .next {
        right: 50%;
        margin-right: -50px;
    }
    .dynamics_wrap {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: auto;
        height: 820px;
        margin: 115px 35px 30px;
    }
    .dynamics_wrap .current_page {
        top: 0;
        left: 45px;
        padding: 0;
    }
    .dynamics_timeline {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .dynamics_timeline.active {
        top: 0;
    }

    .dynamics_month {
        left: 50%;
        width: 150px;
        height: 100%;
        margin-left: -75px;
        text-align: center
    }
    .dynamics_month .month {
        width: 100%;
        display: none;
    }
    .dynamics_month .month.active {
        display: block;
        bottom: 50px;
        top: auto;
    }
    .dynamics_month_controls {
        left: 50%;
        margin-left: -10.5px;
        height: 100%;
    }
    .dynamics_month_controls .prev {
        bottom: 0;
    }
    .dynamics_month_controls .next {
        top: 10px;
    }
    .dynamics_name_foto {
        top: 0;
        max-width: 37%;
    }
    .dynamics_autor_foto {
        bottom: 40px;
    }
    .dynamics_foto_count {
        width: 100%;
    }
    .dynamics_foto_count .count {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        display: none;
    }
    .dynamics_popUp_wrap {
        padding: 0;
        display: block;
    }
    .dynamics_popUp {
        height: auto;
        padding: 60px 15px 0;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .dynamics_popUp p+p {
        margin: 0;
    }
    .dynamics_popUp_inner {
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .dynamics_popUp_foto {
        margin-bottom: 40px;
    }
    .dynamics_popUp_name_foto {
        max-width: 300px;
        margin: 0 60px 0 20px;
    }
    .dynamics_popUp_count {
        position: absolute;
        left: 0;
        top: -57px;
        width: 100%;
        text-align: center;
    }
    .dynamics_popUp_controls {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 0;
    }
    .dynamics_popUp_controls .prev {
        left: 50%;
        margin-left: -105px;
    }
    .dynamics_popUp_controls .next {
        right: 50%;
        margin-right: -105px;
    }
    .contacts_wrap {
        position: relative;
        margin-top: 95px;
    }
    .contacts_wrap .current_page {
        font-size: 16px;
    }
    .contacts_item {
        font-size: 12px;
        padding-left: 20px;
    }
    .contacts_item+.contacts_item {
        margin-top: 35px;
    }
    .contacts_item .dl-horizontal {
        margin: 24px 0 20px;
    }
    .contacts_item .dl-horizontal dt {
        width: 140px;
    }
    .contacts_item .dl-horizontal dd {
        margin-bottom: 12px;
        margin-left: 150px;
    }
    .contacts_name {
        font-size: 16px;
    }
    .contacts_name:before {
        left: -25px;
        top: 1px;
        width: 18px;
        height: 18px;
        background-size: contain;
    }
    .contacts_item ul li {
        font-size: 12px;
    }
    .contacts_list {
        max-width: none;
        margin-bottom: -30px;
        position: relative;
        z-index: 10;
    }
    .contacts_maps {
        position: relative;
        width: 100%;
        height: 690px;
    }
    .contacts_maps .marker_1 {
        width: 52px;
        height: 31px;
        baseline-size: contain;
    }
    .contacts_town_info {
        left: -111px;
        bottom: 6px;
    }
    .galery_list_wrap {
        top: 105px;
        width: 170%;
        height: calc(100% - 105px);
    }
    .galery_list_wrap .current_page {
        position: relative;
        left: 100%;
        margin: 0 0 40px;
        transform: translateX(calc(-80% + 90px));
    }
    .infra_wrap {
        top: 72px;
        height: calc(100% - 145px);
        overflow-y: scroll;
    }
    .infra_inner {
        width: 1135px;
    }
    .infra_rose {
        display: none;
    }
    .ipotek_bd_bg {
        background-image: url(../img/bg_ipotek_form_768.jpg);
        background-position: right bottom;
        background-size: auto;
    }
    /*.ipotek_form_page #bd { background-image:url(../img/bg_ipotek_form_768.jpg); background-position:right bottom; background-size:auto;}*/
    .ipotek_form_page #ft:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 75px;
        background: #435178;
    }
    .ipotek_form_page #ft,
    .ipotek_form_page #ft a {
        color: #fff;
    }
    .ipotek_form_page #ft .copy {
        background: none;
    }
    .ipotek_form_page #ft .copy img {
        opacity: 1;
    }
    .ipotek_form_page #ft .legacy_info i,
    #ft .legacy_info i:before,
    #ft .legacy_info i:after {
        background: #fff;
    }
    .ipotek_form_page h1 {
        margin-bottom: 47px;
    }
    .ipotek_form_wrap {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 78%;
        padding: 107px 0 50px;
        min-height: 600px;
    }
    .ipotek_form input[type=submit] {
        display: block;
        float: none !important;
        margin-top: 40px;
    }

    .location_wrap .container {
        width: auto;
        margin: 0 40px;
        padding: 0 40px;
    }
    .location_wrap .current_page {
        margin-left: 0;
    }
    .location_wrap h1 {
        font-size: 24px;
        margin: 0 0 40px;
        max-width: 400px;
    }
    .location_wrap .col-md-6+.col-md-6 {
        padding-left: 0;
    }
    .location_wrap .row p+p {
        margin: 0;
    }
    .location_wrap .row p {
        padding-right: 25px;
    }


    .location_filtr_2 {
        padding-left: 0;
    }
    .location_map {
        min-height: 900px;
        margin: 0 0 0;
    }
    .call_me .close {
        right: -45px;
        top: 33px;
        background-size: contain;
        width: 22px;
        height: 22px;
    }
    .flat_wrap {
        margin: 40px 40px 0;
        padding: 32px 30px 50px
    }
    .flat_wrap h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .flat_about {
        width: 185px;
        padding: 17px 0 150px;

        @media (min-width: 767px) {
            width: 225px;
            font-size: 12px;
        }
    }
    .flat_about dt {
        width: 95px;
    }
    .flat_about dd {
        margin: 0 0 10px 95px;
    }
    .flat_about_btn {
        max-width: 180px;
    }
    .flat_about_btn_1 {
        height: 34px;
        border-radius: 17px;
        line-height: 34px;
        padding: 0 20px;
        margin-bottom: 17px;
    }
    .flat_about_btn_2,
    .flat_about_btn_3 {
        height: auto;
        line-height: 1;
        background-position: left 5px;
    }
    .flat_about_btn_3 {
        background-position: left 1px;
    }
    .flat_section img {
        max-width: 85px;
    }
    .flat_plan {
        margin-right: 110px;
        width: calc(100% - 300px);
        @media (min-width: 767px) {
            width: calc(100% - 340px);
        }
    }
    .flat_view_list {
        margin-top: 90px;
    }
    .flat_similar_plan {
        margin: 25px 0 0;
    }
    .flat_similar_plan_table .col {
        height: 36px;
        font-size: 12px;
    }
    .flat_view_popUp_wrap {
        padding: 0;
        display: block;
    }
    .flat_view_popUp {
        height: auto;
        padding: 60px 0 0;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .flat_view_popUp_inner {
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .flat_view_popUp_foto {
        margin-bottom: 40px;
    }
    .flat_view_popUp_name_foto {
        float: none;
        max-width: none;
        text-align: center;
        margin: 0;
    }
    .flat_view_popUp_count {
        position: absolute;
        left: 0;
        top: -57px;
        width: 100%;
        text-align: center;
    }
    .flat_view_popUp_controls {
        position: absolute;
        left: 0;
        top: -55px;
        bottom: auto;
    }
    .flat_view_popUp_controls .prev {
        left: 50%;
        margin-left: -105px;
    }
    .flat_view_popUp_controls .next {
        right: 50%;
        margin-right: -105px;
    }
    .flat_f_view_popUp .close {
        right: 0;
        top: -45px;
    }
    .flat_f_view_popUp_inner {
        width: auto;
        padding-top: 40px;
        margin: 0 40px;
    }
    .commerce_wrap {
        margin-top: 75px
    }
    .commerce_controls {
        bottom: 61px;
        margin-top: 0;
    }
    .commerce_controls .prev {
        left: 50%;
        margin-left: -140px;
    }
    .commerce_controls .next {
        right: 50%;
        margin-right: -140px;
    }
    .commerce_count {
        height: 105px;
        line-height: 105px;
        margin: 75px -30px -40px;
        padding-right: 0;
        text-align: center;
    }
    .commerce_view_floor .col_2 {
        font-size: 16px;
    }
    .choose_build_wrap {
        top: 72px;
        height: calc(100% - 145px);
        overflow-y: scroll;
    }
    .choose_build_inner {
        width: 1135px;
    }
    .choose_build_rose {
        top: auto;
        bottom: 104px;
    }
    .choose_wrap .container {
        margin: 0 40px;
    }
    .choose_filtr {
        margin-bottom: 40px;
    }
    .choose_filtr_item_2 {
        width: calc(100% - 480px);
        margin-left: 40px;
    }
    .choose_filtr_param_2 {
        margin-bottom: 40px;
    }
    .choose_filtr_param_2 .col-md-6 {
        padding: 0 !important;
    }
    .choose_filtr_param_2 .col-md-6+.col-md-6 {
        margin-top: 63px;
    }

    .choose_filtr_param_5 .ui-checkboxradio-label {
        width: 230px;
        text-align: left;
        line-height: 1.2;
    }
    .choose_filtr_param_6 .ui-checkboxradio-label {
        height: auto;
        line-height: 1.2;
        text-align: left;
        background-position: left 3px !important;
        margin-right: 40px;
    }
    .choose_filtr_param_6 .view_1 {
        width: 120px;
    }
    .choose_filtr_param_6 .view_2 {
        width: 170px;
    }
    .choose_filtr_param_6 .view_3 {
        width: 160px;
    }
    .choose_filtr_param_6 .view_4 {
        height: 22px;
        line-height: 21px;
        background-position: left top !important;
        margin-right: 0;
    }

    .slider_range {
        margin-top: 45px;
    }
    .slider_range .ui-slider-handle {
        width: 18px;
        height: 18px;
        margin-top: -8px;
        margin-left: -9px;
    }

    .slider_result {

        margin-left: -8px;
        &+.slider_result {
            margin-right: -8px;
        }
    }

    .choose_result_tab {
        margin-bottom: 45px;
    }
    .choose_result {
        margin-bottom: 20px;
    }
    .choose_result_section_controls a {
        font-size: 12px;
        line-height: 17px;
        top: 20px;
    }
    .choose_result_section_controls a:before {
        height: 17px;
        background-size: contain;
    }
    #list_result #scrollbar {
        height: auto;
        padding: 0;
        margin: 0 -40px;
    }
    .choose_result_list .col_1 {
        padding-left: 40px;
    }
    .choose_result_list .col_6 {
        padding-right: 40px;
    }
    #plit_result #scrollbar_1 {
        height: auto;
        padding: 0;
        margin: 0 -20px;
    }
    .choose_result_plit_item {
        font-size: 11px;
    }
    /*     .choose_result_plit_item .flat_r {
        padding-left: 125px;
    } */
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 24px;
    }
    .h1 {
        top: 150px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    #bd .empty_box {
        height: 286px;
    }
    #hd .logo {
        top: 12px;
        margin-left: -60px;
    }
    #hd .logo img {
        width: 120px;
    }
    #hd .menuBtn {
        left: 20px;
        top: 20px;
        padding-left: 0;
        height: 19px;
        line-height: 0;
    }
    #hd .menuBtn_dot {
        width: 19px;
        height: 19px;
    }
    #hd .menuBtn_dot:before {
        margin: -1.5px 0 0 -1.5px;
        width: 3px;
        height: 3px;
        border-radius: 1px;
    }
    #hd .menuBtn_dot:after {
        left: 0;
        top: 8px;
        width: 3px;
        height: 3px;
        border-radius: 1px;
    }
    #hd .menuBtn_dot span {
        width: 3px;
        height: 3px;
        border-radius: 1px;
    }
    #hd .menuBtn_dot span:before {
        width: 3px;
        height: 3px;
        border-radius: 1px;
    }
    #hd .menuBtn_dot span:after {
        width: 3px;
        height: 3px;
        border-radius: 1px;
    }
    #hd .dot_1:before {
        left: 16px;
    }
    #hd .dot_1:after {
        top: 16px;
    }
    #hd .dot_2 {
        margin-left: -1.5px;
    }
    #hd .dot_2:before {
        left: 8px;
        top: 8px;
    }
    #hd .dot_2:after {
        top: 16px;
    }
    #hd .menu_text_1,
    #hd .menu_text_2 {
        display: none;
    }
    #hd .phone {
        right: 20px;
        top: 20px;
        background: url(../img/icon_phone_hd.png) center no-repeat;
        width: 19px;
        height: 19px;
        font-size: 0;
        line-height: 0;
    }
    #hd .phone a {
        display: block;
        height: 19px;
        margin-top: -3px;
        font-size: 0;
        line-height: 0;
    }
    #ft {
        height: 286px;
        margin-top: -286px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    #ft .copy {
        left: 20px;
        top: 44px;
        width: calc(100% - 40px);
        padding-left: 0;
        font-size: 12px;
        text-align: center;
    }
    #ft .year {
        display: block;
    }
    #ft .ft_more_info_link {
        left: 50%;
        top: 103px;
        margin-left: -1px;
    }
    #ft .legacy_info {
        position: relative;
        left: 0;
        top: 0;
        width: 235px;
        margin: 0 auto;
        padding-top: 132px;
        text-align: center;
        opacity: 1;
        visibility: visible;
        font-size: 12px;
        overflow: visible;
    }
    #ft .legacy_info i {
        position: absolute;
        left: 50%;
        top: 101px;
        margin-left: -1px;
    }
    #ft .legacy_info p {
        display: block;
        opacity: 1;
        visibility: visible;
        max-width: none;
        margin: 0;
    }
    #ft .legacy_info p+p {
        margin-top: 20px;
    }
    #ft .legacy_info:hover {
        width: 235px;
    }
    #ft .legacy_info:hover i {
        display: block;
    }
    #ft .creator {
        right: 20px;
        top: 46px;
        z-index: 1;
    }
    .menu_main {
        position: relative;
        left: 0;
        top: 115px;
        margin: 0 0 0 20px;
        font-size: 18px;
    }
    .menu_main.open {
        left: 0;
    }
    .menu_main.open li {
        opacity: 1;
    }
    .menu_main_sub {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 0 0 40px;
        padding: 15px 0;
        font-size: 16px;
    }
    .menu_main_sub li {
        margin-top: 21px;
    }
    #hello_screen #hd,
    #hello_screen #ft {
        display: block;
    }
    .hello_screen {
        position: relative;
        height: 455px;
        margin: 70px 0 140px;
    }
    .hello_screen_logo {
        margin: -150px 0 0 -64px;
    }
    .hello_screen_logo img {
        width: 128px;
    }
    .mainSLider {
        width: auto;
        margin: 79px 20px 0;
    }
    .mainSLider .pager {
        height: 97px;
    }
    .mainSLider .str {
        display: block;
    }
    .main_flat_choice {
        margin: 180px 0 150px;
        width: auto;
    }
    .main_flat_choice h1 {
        top: -80px;
        padding: 0;
        font-size: 15px;
    }
    .main_flat_item {
        width: 50%;
        height: 102px;
        padding: 25px 0 0 22px;
        border: 1px solid #7A849E;
        border-top: none;
        &--n1,
        &--n6 {
            border-top: 1px solid #7A849E;
        }
        &--n6,
        &--n7,
        &--n8,
        &--n9,
        &--n10 {
            border-left: none;
        }
    }
    .main_flat_item:hover:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.1;
    }

    .main_flat_count {
        position: relative;
        left: 0;
        bottom: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        bottom: 0;
        width: auto;
        margin-bottom: 4px;
    }
    .main_flat_square {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: auto;
        font-size: 15px;
    }
    .main_flat_btn {
        bottom: -110px;
    }
    .main_flat_border_1,
    .main_flat_border_2 {
        border-width: 0;
    }
    .main_flat_choice .main_choice_note {
        font-size: 16px;
    }
    .about_wrap {
        padding: 137px 0 0;
    }
    .about_wrap .current_page {
        font-size: 14px;
        padding-top: 0;
        margin: 0 0 45px;
    }
    .about_container {
        padding: 0 20px;
        margin-top: 160px;
    }
    .about_wrap .container {
        padding: 0 20px;
    }
    .about_logo {
        margin-top: -40px;
    }
    .about_wrap h2,
    .about_container .row:first-child h2 {
        margin: 70px -20px 35px 0;
        padding-right: 20px;
        overflow: hidden;
    }
    .about_container .row:first-child h2 {
        margin-top: 0;
    }
    .about_wrap h2:before {
        display: none;
    }
    .about_wrap h2 span {
        position: relative;
    }
    .about_wrap h2 span:before {
        content: '';
        position: absolute;
        right: -765px;
        bottom: 12px;
        width: 750px;
        height: 3px;
        background: #435178;
    }
    .about_wrap .row:first-child h2 span:before {
        display: none;
    }

    .about_logo {
        position: relative;
        top: 0;
        width: 135px;
    }
    .about_slider {
        margin: 0 -20px 45px;
    }
    .about_slider_count {
        right: 50%;
        width: 94px;
        height: 50px;
        margin-right: -47px;
        border: none;
    }
    .about_slider_count:before {
        width: 30px;
        height: 2px;
        margin: -1px 0 0 -15px;
    }
    .about_slider_count a {
        width: 8px;
        height: 13px;
        margin-top: -7px;
        background-size: 8px 13px;
    }
    .about_slider_count .next {
        right: 15px;
    }
    .about_slider_count .prev {
        left: 15px;
    }
    .about_bg_1 {
        background-position: right 130px;
        background-size: auto 370px;
        min-height: 1px;
    }
    .about_bg_1 .row+.row {
        margin-top: 400px;
    }

    .about_infro_img {
        display: none;
    }
    .about_infro_img_xs {
        display: block;
    }
    .about_infro img {
        margin: 30px 0 0 -20px;
        width: calc(100% + 20px);
    }
    .about_infro+.about_infro img {
        margin: -10px -20px 30px 0;
        width: calc(100% + 20px);
    }
    .aboutDev_wrap {
        padding: 137px 0 0;
        background-size: auto 576px;
    }
    .aboutDev_wrap .container {
        padding: 0 20px;
    }
    .aboutDev_wrap .current_page {
        font-size: 14px;
        padding-top: 0;
        margin: 0 0 45px;
    }
    .aboutDev_container {
        padding: 0 20px 50px !important;
        margin-top: 120px;
    }
    .aboutDev_container h2 {
        display: block;
        margin: -5px -20px 10px 0;
        overflow: hidden;
    }
    .aboutDev_container h2:before {
        right: auto;
        left: 200px;
        width: 740px;
    }
    .dev_progress {
        position: relative;
        left: 0;
        top: 0;
        margin: 50px 0 -30px;
    }
    .dev_progress_item {
        margin-bottom: 58px;
    }
    .dev_progress .biger {
        letter-spacing: -0.07em;
        &+p {
            margin-right: -10px;
        }
    }
    .dev_progress .big {
        letter-spacing: normal;
    }
    .h1.actions {
        top: 90px;
    }
    .actions_list_wrap {
        width: auto;
        padding: 90px 0 0;
        margin: 0 20px 40px;
    }
    .actions_list_wrap .current_page {
        left: 0;
        width: 100%;
        text-align: center;
    }
    .actions_list_wrap .current_page .text_xs {
        display: none;
        ;
    }
    .actions_list {
        margin-bottom: 0;
        transform: translateX(0);
    }
    .actions_list_item {
        display: block;
        width: 100%;
        margin: 0 0 20px;
    }
    .actions_list_item.disable:before {
        display: none;
    }
    .actions_list_item:hover {
        margin-top: 0;
    }
    .actions_list_more span {
        display: inline-block;
    }
    .actions_list_controls {
        left: 0;
        top: -60px;
        text-align: center;
    }
    .actions_list_controls a {
        display: none;
    }
    .time_slide {
        display: none;
    }
    .dynamics_wrap {
        height: auto;
        margin: 91px 0 0;
        overflow: hidden;
        padding-bottom: 50px;
    }
    .dynamics_wrap .h1 {
        display: block;
    }
    .dynamics_wrap .current_page {
        position: relative;
        top: 0;
        left: 0;
        max-width: none;
        width: 100%;
        text-align: center;
       /* margin-bottom: 95px;*/
    }
    .dynamics_month {
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        margin: 0 0 30px;
    }
    .dynamics_month .month.active {
        display: block;
        position: relative;
        bottom: 0;
    }
    .dynamics_month_controls a {
        left: 50%;
    }
    .dynamics_month_controls .prev {
        margin-left: -85px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .dynamics_month_controls .next {
        top: -4px;
        margin-left: 85px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .dynamics_name_foto {
        display: none;
    }
    .dynamics_autor_foto {
        position: relative;
        bottom: 0;
        text-align: center;
        margin-bottom: 33px;
    }
    .dynamics_timeline {
        top: 60px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .dynamics_foto_count {
        position: relative;
        width: 100%;
        margin: 0;
    }
    .dynamics_foto_count .count {
        display: block;
    }
    .dynamics_foto_count_controls {
        display: none;
    }
    .dynamics_popUp_foto {
        margin-bottom: 25px;
    }
    .dynamics_popUp_name_foto {
        float: none;
        max-width: none;
        margin: 0 0 15px;
        width: 100%;
        text-align: center;
    }
    .dynamics_popUp_autor_foto {
        float: none;
        text-align: center;
    }
    .dynamics_popUp_controls .prev {
        margin-left: -85px;
    }
    .dynamics_popUp_controls .next {
        margin-right: -85px;
    }
    .dl-horizontal dt {
        float: left;
        clear: left;
        overflow: hidden;
    }
    .contacts_wrap {
        margin-top: 80px;
    }
    .contacts_wrap .current_page {
        margin-bottom: 30px;
        text-align: center;
    }
    .contacts_wrap .h1 {
        display: block;
    }
    .contacts_list {
        margin: 0 20px -45px;
    }
    .contacts_item+.contacts_item {
        margin-top: 30px;
    }
    .contacts_item .dl-horizontal {
        margin: 24px 0;
        clear: left;
    }
    .contacts_item .dl-horizontal dd {
        margin-bottom: 12;
    }
    .contacts_item ul li {
        width: 175px;
    }
    .contacts_item ul li:nth-child(odd) {
        width: 135px;
    }
    .contacts_maps .marker img {
        width: 116px;
    }
    .contacts_maps .marker_1 {
        width: 42px;
        height: 26px;
    }
    .contacts_town_info {
        left: -116px;
        bottom: 4px;
    }
    .galery_list_wrap {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        margin: 95px 0 25px;
    }
    .galery_list_wrap .h1 {
        display: block;
    }
    .galery_list_wrap .current_page {
        left: 0;
        transform: translateX(0);
        width: 100%;
        text-align: center;
    }
    .galery_list_albums {
        margin: 0 20px 0 5px;
    }
    .galery_list_album {
        width: calc(50% - 15px);
        padding-top: calc(50% - 15px);
        margin: 0 0 15px 15px;
    }
    .galery_list_album a {
        opacity: 0;
    }
    .galery_name_album {
        font-size: 18px;
    }
    .galery_name_album:before {
        top: -20px;
    }
    .galery_list_album:hover .galery_name_album:before {
        top: -27px;
    }
    .galery_name_album .count {
        font-size: 12px;
    }
    .infra_wrap {
        top: 75px;
        height: calc(100% - 360px);
    }
    .infra_inner {
        width: 1010px;
    }
    .infra_info {
        min-width: 100px;
        height: 35px;
        padding: 5px 10px;
        font-size: 10px
    }
    .infra_info:after {
        bottom: -20px;
        margin-left: -6px;
        border: 6px solid transparent;
        border-top: 15px solid #fff;
    }
    .ipotek_bd_bg {
        background-image: url(../img/bg_ipotek_form_320.jpg);
        background-position: center bottom;
    }
    /*.ipotek_form_page #bd { background-image:url(../img/bg_ipotek_form_320.jpg); background-position:center bottom;}*/
    .ipotek_form_page #hd .phone {
        background-image: url(../img/icon_phone_hd_blue.png);
    }
    .ipotek_form_page #ft:before {
        height: 263px;
    }
    .ipotek_form_page h1 {
        margin-bottom: 30px;
    }
    .ipotek_form_wrap {
        width: 100%;
        padding: 95px 20px 280px;
        text-align: center;
    }
    .ipotek_form {
        width: 100%;
    }
    .ipotek_form .row:first-child {
        margin-top: 30px;
    }
    .ipotek_form input {
        width: 100%;
    }
    .ipotek_form input[type=submit] {
        width: 215px;
        margin: 25px auto 0;
    }
    .location_wrap {
        background-size: 170% auto;
    }
    .location_wrap .container {
        width: auto;
        margin: 0 20px;
        padding: 0;
    }
    .location_wrap .current_page {
        text-align: center;
    }
    .location_wrap .h1 {
        display: block;
    }
    .location_wrap h1 {
        font-size: 18px;
        margin: 0 0 21px;
    }
    .location_wrap .row p+p {
        margin-top: 20px;
    }
    .location_wrap .row p {
        padding-right: 0;
    }

    .location_filtr_2 {
        padding-left: 20px;
    }
    .location_filtr_2 a {
        margin-bottom: 20px;
    }
    .location_map {
        min-height: 650px;
        margin: 0 0 0;
    }
    .location_place .tooltip-inner {
        font-size: 10px;
    }
    .call_me_wrap {
        position: relative;
        padding: 0 20px 53px;
        margin-top: 73px;
        background: none;
    }
    .call_me {
        top: 0;
        width: auto;
        height: auto;
        padding: 31px 20px 55px;
        box-shadow: none;
    }
    .call_me .close {
        right: 0px;
        top: -54px;
        background: url(../img/icon_close.png) center no-repeat #435178;
        background-size: contain;
        width: 19px;
        height: 19px;
    }
    .call_me_head {
        margin-bottom: 39px;
    }
    .flat_page #ft,
    .flat_page .empty_box {
        display: block;
    }
    .flat_page #ft:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 286px;
        background: #435178;
    }
    .flat_wrap {
        margin: 70px 20px 0;
        padding: 28px 0 40px
    }
    .flat_wrap h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
    .flat_wrap .back {
        right: 0;
        top: -54px;
        background-image: url(../img/icon_close.png);
    }
    .flat_about {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .flat_about dl {
        padding: 0 5vw;
    }
    .flat_about dd {
        margin: 0 0 16px 95px;
    }
    .flat_about_btn {
        left: 50%;
        max-width: 182px;
        margin-left: -91px;
    }
    .flat_about_btn_1 {
        height: 40px;
        border-radius: 20px;
        line-height: 40px;
        padding: 0 35px;
        margin-bottom: 27px;
    }
    .flat_about_btn_2,
    .flat_about_btn_3 {
        display: none;
    }
    .flat_rose {
        position: relative;
        top: 0;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        margin: 40px auto 20px;
        z-index: 10;
        overflow: hidden;
        border: 1px solid #e8e8e8;
    }
    .flat_section {
        display: none;
    }
    .flat_plan {
        float: none;
        margin: 0 0 195px;
        width: 100%;
        padding: 0 20px;
        z-index: 9;
        &:before,
        &:after {
            display: block;
            position: absolute;
            height: 1px;
            background: #e8e8e8;
            content: "";
            z-index: 100;
            left: 0;
            right: 0;
            top: -56px;
        }
        &:after {
            top: auto;
            bottom: -75px;
        }
    }
    .flat_plan_btn a {
        margin: 0 0 0 30px;
    }
    .flat_plan_btn a+a {
        margin: 0 0 0 50px;
    }
    .flat_view_list {
        margin-top: 30px;
    }
    .flat_view_list .col-sm-6 {

        padding-right: 0;
    }
    .flat_view_list .col-sm-6+.col-sm-6 {
        padding: 0;
    }
    .flat_view_list a span {
        background-size: 30px auto;
        padding-top: 35px;
    }
    .flat_similar_plan_table {
        display: block;
        padding: 0 20px;
    }
    .flat_similar_plan_table .row {
        display: block;
        border: 1px solid #435178;
        margin-bottom: 20px;
        padding: 20px 15px;
        font-size: 0;
        line-height: 0;
    }
    .flat_similar_plan_table .col {
        display: inline-block;
        height: auto;
        font-size: 14px;
        line-height: 1;
        border: none;
        text-align: left;
        vertical-align: top;
        padding: 0;
    }
    .flat_similar_plan_table .col_1 {
        width: 50%;
        margin-bottom: 20px;
    }
    .flat_similar_plan_table .col_2 {
        width: 50%;
        text-align: right;
    }
    .flat_similar_plan_table .col_3 {
        width: 30%;
        margin-bottom: 20px;
    }
    .flat_similar_plan_table .col_4 {
        width: 30%;
    }
    .flat_similar_plan_table .col_5 {
        width: 40%;
        text-align: right;
    }
    .flat_similar_plan_table .col_6 {
        width: 50%;
    }
    .flat_similar_plan_table .col_7 {
        width: 50%;
        text-align: right;
        font-weight: bold;
    }
    .flat_f_view_popUp h2 {
        font-size: 18px;
        margin: 0 0 90px;
        text-align: center;
    }
    .flat_f_view_popUp_inner {
        padding: 40px 15px 20px;
        margin: 0 20px;
        font-size: 12px;
    }
    .flat_f_view_popUp_plan {
        margin-bottom: 70px;
        margin-top: 70px;
    }
    .flat_f_view_popUp_plan:before {
        top: -45px;
    }
    .flat_f_view_popUp_plan:after {
        bottom: -45px;
    }
    .flat_f_view_popUp_char {
        display: block;
    }
    .flat_f_view_popUp_char .row {
        display: block;
    }
    .flat_f_view_popUp_char .col {
        display: block;
        width: auto;
        height: auto;
    }
    .flat_f_view_popUp_char .col_1 {
        padding: 30px 0;
    }
    .flat_f_view_popUp_char .col_2 {
        width: auto;
        border: none;
        border-top: 1px solid #e9eaec;
        border-bottom: 1px solid #e9eaec;
        padding: 20px 0;
        text-align: center;
    }
    .flat_f_view_popUp_char .col_3 {
        text-align: center;
        padding: 25px 0;
    }
    .flat_f_view_popUp_count {
        display: block;
        width: 210px;
        height: 32px;
        padding-left: 43px;
        background-size: 32px auto;
        margin: 0 auto;
    }
    .flat_f_view_popUp_count .count {
        left: 21px;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        font-size: 10px;
        line-height: 16px;
    }
    .commerce_wrap {
        margin-bottom: 20px;
    }
    .commerce_wrap h2 {
        text-align: left;
    }
    .commerce_wrap .back {
        right: 10px;
        top: 10px;
        background-image: url(../img/icon_close_black.png);
    }
    .commerce_wrap .flat_about {
        margin: 0 22px 35px;
    }
    .commerce_wrap dl {
        margin: 0;
    }
    .commerce_wrap .flat_rose {
        position: absolute;
        right: 25px;
        top: 45px;
        margin: 0;
    }
    .commerce_wrap .flat_plan {
        margin-bottom: 300px;
    }
    .commerce_wrap .flat_section {
        display: block;
        right: 0;
        bottom: 120px;
        width: 100%;
        text-align: center;
    }
    .commerce_wrap .flat_section img {
        max-width: 110px;
    }
    .commerce_wrap+.empty_box {
        background: #435178;
        position: relative;
    }
    .commerce_controls {
        bottom: 66px;
    }
    .commerce_controls .prev {
        margin-left: -80px;
    }
    .commerce_controls .next {
        margin-right: -80px;
    }
    .commerce_count {
        height: 115px;
        line-height: 115px;
        margin: 2 0px 0 -40px;
        font-size: 14px;
    }
    .commerce_view_floor {
        display: block;
    }
    .commerce_view_floor .row {
        display: block;
    }
    .commerce_view_floor .col {
        display: block;
        width: auto;
        height: auto;
        padding: 25px 0 !important;
        text-align: center !important;
    }
    .choose_build_wrap {
        top: 75px;
        height: calc(100% - 360px);
    }
    .choose_build_inner {
        width: 120%;
    }
    .choose_build_rose {
        right: 20px;
        bottom: 306px;
    }

    .choose_bg_bd {
        background-image: url(../img/bg_choose_320.jpg);
        /* background-position:center calc(100% - 286px); background-size:auto;*/
    }
    .choose_wrap {
        padding: 80px 0 10px;
    }
    .choose_wrap .current_page {
        display: block;
    }
    .choose_wrap .container {
        margin: 0 20px;
    }
    .choose_filtr {
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1px;
    }
    .choose_filtr .row {
        width: 225px;
        margin: 0 auto 30px;
    }
    .choose_filtr_item_1,
    .choose_filtr_item_2 {
        float: none;
    }
    .choose_filtr_item_1 {
        margin-bottom: 35px;
    }
    .choose_filtr_item_2 {
        width: auto;
        margin: 0 0 50px;
    }
    .choose_filtr_param_2 {
        margin-bottom: 60px;
    }
    .choose_filtr_param_2 .col-md-6+.col-md-6 {
        margin-top: 48px;
    }
    .choose_filtr_param_3,
    .choose_filtr_param_4 {
        float: none;
    }
    .choose_filtr_param_5 {
        float: none;
        margin: 0;
    }
    .choose_filtr_param_3 .section_shem {
        position: relative;
        top: 0;
    }
    .choose_filtr_param_6 {
        margin-top: -10px;
    }
    .choose_filtr_param_6 .ui-checkboxradio-label {
        margin: 30px 0 0;
    }
    .choose_filtr_param_6 .view_1 {
        width: auto;
        height: 22px;
        line-height: 21px;
        background-position: left top !important;
    }

    .choose_filtr_param_7 {
        margin-left: 0;
    }
    .choose_filtr {
        height: 71px;
        overflow: hidden;
    }
    .choose_filtr>.row {
        opacity: 0;
        visibility: hidden;
    }
    .choose_filtr .open_filtr,
    .choose_filtr .open_filtr>.row {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .choose_filtr.open {
        height: auto;
    }
    .choose_filtr.open>.row {
        opacity: 1;
        visibility: visible;
    }
    .choose_filtr.open .open_filtr {
        display: none;
    }
    .choose_filtr.open .close_filtr {
        display: block;
    }
    .choose_result_tab {
        margin: 0 -20px 45px;
        font-size: 14px;
    }
    .choose_result_tab li {
        margin: 0 10px;
        font-size: 14px;
    }
    .choose_result_section_controls:before {
        content: 'Сменить секцию';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 16px;
        font: 500 12px/16px 'MuseoCyrl';
        text-align: center;
    }
    .choose_result_section_controls a {
        top: 0;
    }
    .choose_result_section_controls span {
        display: none;
    }
    .choose_result_section_item_wrap {
        width: 100%;
    }

    .choose_result_section_item {
        padding-top: 80px;
    }
    #list_result #scrollbar {
        margin: 0 -20px;
    }

    .choose_result_list .row {
        display: block;
        border: 1px solid #fff;
        margin-bottom: 20px;
        padding: 20px 15px;
        font-size: 0;
        line-height: 0;
    }
    .choose_result_list .col {
        display: inline-block;
        height: auto;
        font-size: 14px;
        line-height: 1;
        border: none;
        text-align: left;
        vertical-align: top;
        padding: 0;
    }
    .choose_result_list .col_1 {
        width: 50%;
        margin-bottom: 20px;
    }
    .choose_result_list .col_2 {
        width: 50%;
        text-align: right;
    }
    .choose_result_list .col_3 {
        width: 30%;
        margin-bottom: 20px;
    }
    .choose_result_list .col_4 {
        width: 30%;
    }
    .choose_result_list .col_5 {
        width: 40%;
        text-align: right;
    }
    .choose_result_list .col_6 {
        width: 50%;
    }

    .choose_result_plit_item {
        float: none;
        width: auto;
        margin: 0 20px;
        padding: 70px 0 40px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
        opacity: 1;
    }
    .contacts_item .dl-horizontal dd {

        margin-left: 130px;
    }

    .contacts_item .dl-horizontal dt {

        width: 130px;
    }
}

@media screen and (max-width:767px) and (max-height:700px) {
    .infra_wrap,
    .choose_build_wrap {
        position: relative;
        top: 0;
        margin-top: 75px;
        height: 340px;
    }
}

@media screen and (max-width:690px) {
    .location_wrap {
        background-size: 250% auto;
    }
    @media screen and (max-width:414px) {
        .about_bg_1 {
            background-position: calc(100% + 90px) 130px;
        }
        .about_bg_1 .row+.row {
            margin-top: 370px;
        }
        .location_wrap {
            background-size: 400% auto;
        }
    }
    @media screen and (max-width:374px) {
        .contacts_item ul li {
            width: 160px;
        }
        .contacts_item ul li:nth-child(odd) {
            width: 95px;
        }
    }
}

@media screen and (max-width:345px) {
    .about_bg_1 {
        background-position: calc(100% + 90px) 170px;
    }
    .choose_result_tab li {
        margin: 0 5px;
    }
}










/* news */

@media screen and (max-width:767px) {

    .l-body--news_single {
        & .news_single_slider {
            & .swiper-wrapper {
                & .swiper-slide {
                    height: 60vw;
                    &>img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.l-body--news {
    @media screen and (max-width: 1023px) {
        & #mainView {
            position: static;
        }
    }
    @media screen and (max-width:767px) {
        & #mainView {
            position: static;
        }
    }
}

.l-body--news_single,
.l-body--news {
    @media screen and (max-width: 1599px) {
        & .newsPage_wrap {
            padding-top: 240px;
            background-size: contain;
        }
        & .newsPage_wrap h2 {
            margin-bottom: 23px;
            line-height: 32px;
        }
        & .newsPage_wrap p {
            margin-bottom: 20px;
        }
        & .newsPage_container {
            padding: 0 70px 70px;
        }
        & .newsPage_text {
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width:1499px) {
        & .news_l_box h2 {
            margin-bottom: 40px;
        }
        & .news_l_inner {
            max-width: 1140px;
            width: 100%;
        }
        & .news_l_row {
            margin-bottom: 45px;
        }
        & .news_l_item {
            font-size: 12px;
            width: calc(25% - 15px);
            margin-left: 20px;
        }
        & .news_l_item_text {
            padding: 25px 20px;
        }
        & .news_l_item .date {
            left: 20px;
        }
        & .news_l_item .more {
            right: 20px;
        }
    }

    @media screen and (max-width:1279px) {
        & .news_l_box {
            position: relative;
            padding: 116px 0 20px;
        }
        & .news_l_box h2 {
            margin-bottom: 30px;
        }
        & .news_l_inner {
            max-width: 605px;
        }
        & .news_l_row {
            margin-bottom: 25px;
            display: block;
            height: auto;
        }
        & .news_l_item {
            font-size: 12px;
            width: calc(50% - 10px);
            margin-bottom: 20px;
            height: 295px;
        }
        & .news_l_item:nth-child(3) {
            margin-left: 0;
        }
        & .news_l_item_img {
            height: 155px;
        }
        & .news_l_item_text {
            height: 140px;
            padding: 20px 25px;
        }
        & .news_l_item_name {
            max-height: 70px;
        }
        & .news_l_item .date {
            left: 25px;
            bottom: 20px;
        }
        & .news_l_item .more {
            right: 25px;
            bottom: 20px;
        }
        & .news_l_pager {
            text-align: center;
        }
    }

    @media screen and (max-width:1023px) {
        & .newsPage_wrap {
            padding: 126px 0 0;
        }
        & .newsPage_wrap .breadcrumb {
            margin-bottom: 40px;
        }
        & .newsPage_wrap .date {
            margin-bottom: 25px;
        }
        & .newsPage_wrap h2 {
            margin-bottom: 31px;
        }
        & .newsPage_wrap p {
            margin-bottom: 28px;
        }
        & .newsPage_container {
            margin-top: 225px;
            padding: 0 85px 50px;
        }
        & .newsPage_text {
            margin-bottom: 70px;
            line-height: 28px;
            column-count: 1;
            column-gap: 0;
            -moz-column-count: 1;
            -moz-column-gap: 0;
            -webkit-column-count: 1;
            -webkit-column-gap: 0;
        }
        & .newsPage_slide {
            width: auto;
            margin: 0 -85px 75px;
        }
        & .newsPage_slide_img img {
            width: 100%;
        }
    }

    @media screen and (max-width:767px) {
        & .news_l_box {
            padding: 76px 0 40px;
        }
        & .news_l_box h2 {
            font-size: 20px;
            text-align: center;
            margin-bottom: 65px;
        }
        & .news_l_inner {
            max-width: 300px;
        }
        & .news_l_filtr {
            top: 40px;
            font-size: 16px;
        }
        & .news_l_month {
            width: 125px;
        }
        & .news_l_row {
            margin-bottom: 20px;
        }
        & .news_l_item {
            width: 100%;
            margin-left: 0;
        }
        & .news_l_item_text {
            height: 130px;
            padding: 17px 15px;
        }
        & .news_l_item_name {
            max-height: 65px;
        }
        & .news_l_item .date {
            left: 15px;
        }
        & .news_l_item .more {
            right: 15px;
        }
        & .news_l_pager a:first-child,
        & .news_l_pager a:last-child {
            font-size: 12px;
        }

        & .newsPage_wrap {
            background-size: 140vw auto;
            padding: 99px 0 0;
            padding-bottom: 40px;
            margin-bottom: -1px;
        }
        & .newsPage_wrap h1 {
            font-size: 20px;
            line-height: 1;
            text-transform: none;
        }
        & .newsPage_wrap h2 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 28px;
        }
        & .newsPage_wrap .breadcrumb {
            display: none;
        }
        & .newsPage_wrap .date {
            font-size: 14px;
            margin: -27px 0 12px;
        }
        & .newsPage_wrap p {
            margin-bottom: 20px;
        }
        & .newsPage_container {
            margin-top: 125px;
            padding: 0 15px 0;
        }
        & .newsPage_text {
            line-height: 20px;
        }
        & .newsPage_slide {
            margin-bottom: 95px;
        }
        .back_news_list {
            background: #435178;
            margin: 0 -15px -2px;
            height: 140px;
            line-height: 140px;
            font-size: 14px;
            overflow: hidden;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        .back_news_list a {
            color: #fff;
        }
    }
}


/* @media screen and (max-width:767px) {
    .l-body--news_single {
        & iframe {
            width: 100%;
            height: auto;
        }
    }
} */
