@custom-media --xsHor (max-width: 732px) and (max-height: 412px);
@custom-media --xsHor2 (orientation: landscape) and (max-width: 736px);
@custom-media --xs (max-width: 767px);
@custom-media --smMinus (max-width: 1023px);
@custom-media --sm (min-width: 768px) and (max-width: 1023px);
@custom-media --smPlus (min-width: 768px);
@custom-media --md (min-width: 1024px) and (max-width: 1599px);
@custom-media --mdPlus (min-width: 1024px);
@custom-media --lg (min-width: 1600px);
@custom-media --ie11 all and (-ms-high-contrast: none);
@custom-media --help (min-width: 1024px) and (max-width: 1299px);

:root {
  --colorPrimary: #3a507a;
  --colorBlueBg: #435178;
  --MDfooterPusherHeight: 100px;
  --LGfooterPusherHeight: 100px;
}
