html {
    @media (--md) {
        min-height: 720px;
    }
    @media (--lg) {
        min-height: 900px;
    }
}

.main_flat_choice {
    @media(--smMinus) {
        margin: 86px auto 44px;
    }
    @media (--md) {
        margin-top: 188px;
    }
    @media (--lg) {
        margin-top: 265px;
    }
}

.aboutDev_wrap {
    background: none;
}

.aboutDev_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg_aboutDev.jpg) center top no-repeat #fff;
    background-size: contain;
    pointer-events: none;
    @media (--xs) {
        height: 484px;
        background-size: cover;
        background-position: top center;
    }
    @media (--sm) {
        height: 634px;
        background-position: center;
        background-size: cover;
    }

    @media(--md){
        height: auto;
        bottom: var(--MDfooterPusherHeight);
    }

    @media(--lg){
        height: auto;
        bottom: var(--LGfooterPusherHeight);
    }
}

.ipotek_bd_bg {
    @media (--xs) {
        height: auto;
        bottom: 282px;
        background-size: 100% 280px;
    }
}

#hd {
    z-index: 10000;
}

#ft {
    z-index: 10;
}

#hd .phone {
    background: none;
}

#hd .phone a {
    opacity: 1;
    @media (--xs) {
        text-decoration: none;
    }
}

.galery_list_wrap {
    position: static;
    transform: none;
    margin: 0 auto;

    @media (--mdPlus) {
        padding-top: 145px;
    }
    @media (--smMinus) {
        padding-top: 100px;
    }
    @media (--sm) {
        width: 100%;
        padding-left: 41px;
        padding-right: 41px;
    }
    &>.current_page {
        left: auto;
        transform: none;
        text-align: center;
    }
}

.galery_list_album>a {
    @media (--sm) {
        opacity: 0;
    }
}

.actions_list {
    position: absolute;
    width: 200%;
}


.iScrollIndicator {
    display: block!important;
}




#wrapper {
    position: relative;
    z-index: 1;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 430px;
    top: 40%;
}

#scroller {
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: auto;
    background-color: #a00;
    user-select: none;
    text-size-adjust: none;
    padding: 20px;
    display: inline-block;
    white-space: nowrap;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#scroller li {
    display: block;
    float: left;
    width: 24vw;
    height: 430px;
    border-right: 1px solid #ccc;
    background-color: #fafafa;
    font-size: 14px;
}