/*=require includes/vars.css */


/*=require includes/style.css */


/*=require includes/style_q.css */


/*=require includes/layouts/*.css */


/*=require includes/blocks/*.css */


/*=require includes/vladimir_source_override.css */

* {
    outline: none!important;
}

#SCBbuttonMain {
    bottom: 48px!important;
}

.comagic-js-consultant-sitephone-label--hidden {
    @media (--smMinus) {
        bottom: 0;
    }
}