.l-body {
    &--untochable {
        pointer-events: none;
        user-select: none;
    }

    &--contacts {
        &>#bd>.empty_box {
            @media (--mdPlus) {
                display: none;
            }
        }
    }

    &--about_genplan {
        & .container-fluid-aboutGenplan {
            @media (--smMinus) {
                padding-left: 0;
                padding-right: 0;
            }
            & .map_mask {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                @media (--xs) {
                    z-index: 10;                    
                    position: relative;
                    margin-top: 5%;
                }
                @media (--sm) {
                    position: relative;                    
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    display: none;
                    top: 0;
                    right: 0;
                    width: 60%;
                    height: 100%;
                    background: url(/img/plan_genplan.png) no-repeat 55% 50%;
                    background-size: cover;
                    z-index: 998;
                    display: none;
                    @media (--xs) {
                        background-position: top;
                    }
                    @media (--sm) {
                        height: 90%;
                    }
                    @media (--smMinus) {
                        right: 0;
                        width: 100%;
                        top: auto;
                        bottom: 0;
                        background: url(/img/plan_genplan.png) no-repeat 50% 10%;
                        background-size: cover;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 35%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: url(/img/map_mask.png) no-repeat left;
                    background-size: 100% 100%;
                    z-index: 5;
                    @media (--xs) {
                        top: -5%;
                    }
                    @media (--sm) {
                        z-index: 1000;
                        top: 0;
                        height: 50%;
                    }
                    @media (--smMinus) {
                        background: url(/img/map_mask_xs.png) no-repeat top;
                        background-size: 100% 280px;
                        background-position: top;
                        left: 0;
                    }
                }
                & .map_mask__genplan {
                    position: absolute;
                    width: 60%;
                    right: 0;
                    height: 100%;
                    object-fit: cover;

                    @media (--sm) {
                        width: 100%;
                        position: relative;
                    }

                    @media (--smMinus) {
                        position: relative;
                        width:100%;
                    }
                }
            }
        }
    }
}