.l-docs {
    
    
    margin: 0 auto;
    @media (--xs) {
    	padding: 94px 26px 30px;
    }
    @media (--smPlus) {
    	padding: 142px 30px 30px;
    	max-width: 1040px;
    	overflow-x:hidden;
    }
    &__listwrap {
        @media (--smPlus) {
            display: flex;
            flex-flow: row wrap;
            margin: 0 -1%;
        }
        &> .b-doccard {
            margin: 0 1% 20px;
            @media(--sm) {
                flex-basis: 48%;
            }
            @media(--mdPlus) {
                flex-basis: 31.33333%;
            }
        }
    }
}
