.l-home {
    overflow: hidden;
    @media (--smPlus) {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 100%;
    }
    @media (--xs) {
        
        margin: 0px 0 0;
    }
    &--step3 {
        @media (--sm) {
            top: 0;
            position: relative;
            height: auto;
        }
        @media (--xs) {
            overflow: auto;
            height: auto;
        }
    }
    &__vertical-track {
        position: relative;
        @media (--smPlus) {
            height: 200%;
            top: 0%;
        }
        &--step2 {
            @media (--mdPlus) {
                top: -188px;
            }
        }
        &--step3 {
            top: -100%;
            @media (--sm) {
                top: auto;
                position: static;
                height: auto;
            }
            @media (--xs) {
                top: auto;
            }
        }
    }
    &__view {
        position: relative;
        z-index: 4;
        @media (--smPlus) {
            height: 50%;
        }
        &--promo {
            z-index: 5;
            @media (--mdPlus) {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 40px;
                padding-top: 100px;
                background: #435178;
            }
        }
        &--splashscreen{
            @media (--xs) {
                z-index: 6;
            }
        }
    }
}