.l-location {

    &__top {
        padding-top: 220px;
		position: relative;
		z-index: 200;
		background: url("../img/location_map_top-bg.png") center bottom;
		background-size: cover;
        @media screen and (max-width: 1599px) {
            padding-top: 215px;
        }
        @media screen and (max-width:1023px) {
            padding-top: 108px;
        }
        @media (--xs) {
            padding-top: 94px;
        }
    }

    &__top-inner{
    	position: relative;
    	z-index: 100;
    }

    &__bottom{
    	position: relative;
    }
}
