.l-one-action {
    margin-top: 82px;
    @media(--smPlus) {
        min-height: calc(100vh - 188px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (--ie11) {
        min-height: 700px;
        height: calc(100vh - 188px);
    }

    &__inner {

        @media (--xs) {
            padding: 28px;
        }
        @media (--sm) {
            width: 610px;
        }

        @media (--md) {
            width: 952px;
        }

        @media (--lg) {
            width: 1144px;
        }

        @media (--mdPlus) {
            display: table;
        }
    }

    &__left,
    &__right {
        @media (--mdPlus) {
            display: table-cell;
            vertical-align: top;
        }
    }

    &__left {
        white-space: nowrap;
        @media (--lg) {
            padding-right: 92px;
            padding-top: 45px;
        }
        @media (--md) {
            padding-right: 52px;
            padding-top: 65px;
        }
    }

    &__right {
        width: 100%;
    }
}