.l-simple-home {
    width: 100%;
    @media (--smMinus) {
    	margin-top: 70px;
    	padding-bottom: 20px;
    }
    @media (--mdPlus) {
        height: 100%;
        position: absolute;
        padding: 100px 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
