<div style="display: none;" id="callmeFormModal">
    {# <div class="b-form-success">
        <i class="b-form-success__icon"></i>
        <div class="b-form-success__text">
            Спасибо за обращение! <br>Ваша заявка принята.
        </div>
    </div> #}
    
    <div class="call_me">
        <div class="call_me_head">
            Оставить заявку
            <span class="small">Свяжитесь с Вашим личным помошником</span>
        </div>
        <form action="#" method="post" data-action="http://etalonsilver.ru/ajax/form-call/" id="globalCallmeForm">
            <div class="row">
                <div class="col-xs-12 col-md-6 call_me_left">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Телефон *" required="">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <textarea placeholder="Ваш комментарий" name="comment"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="b-catpchagrp">
                            <img src="/tmp/100x52.png" alt="" class="b-catpchagrp__img">
                            <input type="text" name="captcha" required="required" autocomplete="off" value=""  class="b-catpchagrp__inp" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row note">* — поля, обязательные для заполнения{{ customCheckbox.block('acceptCheckboxInCallmeForm', isAccept=true) }}</div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group call_me_btnwrap">
                        <input type="submit" name="Submit" value="Оставить заявку" />
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>