<div class="choose_result">
    <ul class="choose_result_tab">
        <li class="active">
            <a href="#section_result" data-toggle="tab">На секции</a>
            <img src="img/icon_tab_section.svg" alt="">
        </li>
        <li>
            <a href="#list_result" data-toggle="tab">Списком</a>
            <img src="img/icon_tab_list.svg" alt="">
        </li>
        <li>
            <a href="#plit_result" data-toggle="tab">Плиткой</a>
            <img src="img/icon_tab_plit.svg" alt="">
        </li>
    </ul>
    <div class="b-filters-tabs tab-content">
        <div class="tab-pane b-filters-tabs__tab active" id="section_result">
            <div class="row choose_result_section">
                <div class="container">
                    <div class="choose_result_section_controls">
                        <a href="#" class="prev"><span>Сменить секцию</span></a>
                        <a href="#" class="next"><span>Сменить секцию</span></a>
                    </div>
                </div>
                <div class="choose_result_section_item_wrap">
                    <div class="b-sections-slider choose_result_section_item_inner swiper-container">
                        <div class="swiper-wrapper">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane b-filters-tabs__tab" id="list_result">
            <div class="container">
                <div id="scrollbar">
                    <select class="b-filters-select" data-select>
                        <option value="" disabled selected>Сортировать</option>
                        <option value="0">По номерам квартиры</option>
                        <option value="1">По этажам</option>
                        <option value="2">По количеству комнат</option>
                        <option value="3">По площади</option>
                        <option value="4">По типу планировки</option>
                        <option value="5">По стоимости</option>
                    </select>
                    <table class="choose_result_list">
                        <thead class="thead">
                            <tr>
                                <th class="col col_1">Номер квартиры</th>
                                <th class="col col_2">Этаж</th>
                                <th class="col col_3">Комнат</th>
                                <th class="col col_4">Площадь</th>
                                <th class="col col_5">Планировка</th>
                                <th class="col col_6 sorter-false">-</th>
                                <!-- <th class="col col_7">Стоимость</th> -->
                            </tr>
                        </thead>
                        <tbody class="tbody" data-choose-result></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane b-filters-tabs__tab" id="plit_result">
            <div class="container">
                <div id="scrollbar_1">
                    <div class="choose_result_plit"></div>
                </div>
            </div>
        </div>
    </div>
</div>
