<div class="b-landing__col">
    <div class="b-landing__btnwrap">
        <a href="/filters.html" class="b-landing__btn">ВЫБРАТЬ КВАРТИРУ</a>
        <div class="b-landing__btnhint">в историческом районе Москвы</div>
    </div>
</div>