<svg version="1.1" class="b-header__logo-code" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="134px" height="39px" viewBox="0 0 134 39" enable-background="new 0 0 134 39" xml:space="preserve">
    <path class="b-header__logo-shape" d="M45.7,22.9c0,1.9,0.3,2.5,1.3,2.6c0.1,0,0.5,0,0.6,0c0.9-0.1,1.3-0.8,1.3-2.6c0-1.8-0.3-2.5-1.3-2.6
	c-0.1,0-0.6,0-0.6,0C46,20.4,45.7,21.1,45.7,22.9 M51.5,22.9c0,2.3-1.5,3.7-3.8,3.9c-0.1,0-0.3,0-0.4,0c-0.1,0-0.5,0-0.6,0
	c-2.4-0.1-3.8-1.6-3.8-3.9c0-2.3,1.5-3.7,3.9-3.8c0.1,0,0.4,0,0.5,0c0.1,0,0.2,0,0.3,0C50.1,19.1,51.5,20.6,51.5,22.9" />
    <rect x="44" y="27.4" class="b-header__logo-shape" width="6.4" height="1.2" />
    <path class="b-header__logo-shape" d="M35.6,26.1v-4.3c1.2,0.1,1.7,0.7,1.7,2.2C37.2,25.5,36.8,26,35.6,26.1 M33.4,26.1c-1.2-0.1-1.7-0.7-1.7-2.2
	c0-1.5,0.4-2.1,1.7-2.2V26.1z M38.4,21.5c-0.7-0.4-1.5-0.6-2.8-0.6h-0.1c0.1-0.3,0.3-0.5,0.8-0.6l0.5-0.1v-0.9c-1,0-1.9,0.1-2.5,0.5
	c-0.6-0.4-1.6-0.6-2.5-0.5v0.9l0.2,0l0.4,0.1c0.6,0.1,0.8,0.3,0.8,0.6h-0.1c-1.3,0-2,0.2-2.8,0.6c-0.9,0.5-1.4,1.4-1.4,2.5
	c0,1.2,0.5,2,1.4,2.5c0.7,0.4,1.5,0.6,2.9,0.6c-0.2,0.7-1.3,0.7-1.3,0.7v0.8c0.9,0.1,1.9-0.1,2.5-0.5c0.6,0.4,1.6,0.6,2.5,0.5v-0.8
	c0,0-1.1-0.1-1.3-0.7c1.3,0,2.1-0.2,2.8-0.6c0.9-0.5,1.4-1.4,1.4-2.5C39.8,22.8,39.3,21.9,38.4,21.5" />
    <path class="b-header__logo-shape" d="M70.2,19.3v3.6h1.1c0-1.7,0.7-2.4,2.1-2.4l0,6.1c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1c1,0.1,2-0.1,2.7-0.5
	c0.6,0.4,1.7,0.6,2.7,0.5v-1l-0.5-0.1c-0.8-0.1-0.9-0.2-0.9-0.9l0-6.1c1.4,0,2.1,0.7,2.1,2.4h1.1v-3.6H70.2z" />
    <path class="b-header__logo-shape" d="M66.1,20.4l0.3-0.1v-1c-0.9-0.1-1.9,0.1-2.5,0.5c-0.6-0.4-1.6-0.6-2.5-0.5v1l0.3,0.1
	c0.7,0.1,0.8,0.2,0.8,0.9v1.8H61h-1.5v-1.8c0-0.7,0.1-0.8,0.8-0.9l0.3-0.1v-1c-0.9-0.1-1.9,0.1-2.5,0.5c-0.6-0.4-1.6-0.6-2.5-0.5v1
	l0.3,0.1c0.7,0.1,0.8,0.2,0.8,0.9v5.3c0,0.7-0.1,0.8-0.8,0.9l-0.3,0.1v1c0.9,0.1,1.9-0.1,2.5-0.5c0.6,0.4,1.6,0.6,2.5,0.5v-1
	l-0.3-0.1c-0.7-0.1-0.8-0.2-0.8-0.9v-2.2H61h1.5v2.2c0,0.7-0.1,0.8-0.8,0.9l-0.3,0.1v1c0.9,0.1,1.9-0.1,2.5-0.5
	c0.6,0.4,1.6,0.6,2.5,0.5v-1l-0.3-0.1c-0.7-0.1-0.8-0.2-0.8-0.9v-5.3C65.3,20.6,65.4,20.6,66.1,20.4" />
    <path class="b-header__logo-shape" d="M104.6,20.4l0.3-0.1v-1c-0.9-0.1-1.9,0.1-2.5,0.5c-0.6-0.4-1.6-0.6-2.5-0.5v1l0.3,0.1
	c0.7,0.1,0.8,0.2,0.8,0.9v1.8h-1.5h-1.5v-1.8c0-0.7,0.1-0.8,0.8-0.9l0.3-0.1v-1c-0.9-0.1-1.9,0.1-2.5,0.5c-0.6-0.4-1.6-0.6-2.5-0.5
	v1l0.3,0.1c0.7,0.1,0.8,0.2,0.8,0.9v5.3c0,0.7-0.1,0.8-0.8,0.9L94,27.6v1c0.9,0.1,1.9-0.1,2.5-0.5c0.6,0.4,1.6,0.6,2.5,0.5v-1
	l-0.3-0.1c-0.7-0.1-0.8-0.2-0.8-0.9v-2.2h1.5h1.5v2.2c0,0.7-0.1,0.8-0.8,0.9l-0.3,0.1v1c0.9,0.1,1.9-0.1,2.5-0.5
	c0.6,0.4,1.6,0.6,2.5,0.5v-1l-0.3-0.1c-0.7-0.1-0.8-0.2-0.8-0.9v-5.3C103.8,20.6,103.8,20.6,104.6,20.4" />
    <path class="b-header__logo-shape" d="M85.3,24.4l1.1-3l0.9,3H85.3z M91.6,27.6c-0.6,0-0.8-0.4-1-1l-2.3-7.3h-2.8L83,26.5c-0.3,0.8-1,1.1-1.4,1.1
	v1c0.7,0.1,1.5-0.1,2-0.5c0.5,0.4,1.3,0.6,2.1,0.5v-1c0,0-1.2,0-1.2-0.5c0-0.1,0-0.3,0.1-0.4l0.3-1.1h2.8l0.4,1.1
	c0.1,0.2,0.1,0.2,0.1,0.3c0,0.2-0.2,0.5-0.8,0.5h-0.4v1l0,0c0.9,0.1,2-0.1,2.6-0.5c0.6,0.4,1.6,0.6,2.5,0.5v-1H91.6z" />
    <path class="b-header__logo-shape" d="M48.3,7.3V3.8h-9.2v1l0.5,0.1c0.8,0.1,0.9,0.2,0.9,0.9v5.3c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1h9.2V9.5h-1.1
	c-0.2,1.3-0.5,1.6-0.9,2c-0.4,0.3-0.8,0.4-2.1,0.4h-1.2V9.2h0.2c1,0,1.4,0.2,1.4,1.5h1c0.1-0.8-0.1-1.7-0.5-2.3
	c0.4-0.5,0.6-1.4,0.5-2.3h-1c0,1.3-0.4,1.5-1.4,1.5h-0.2V5h1.2c1.3,0,1.7,0.1,2.1,0.4c0.4,0.3,0.7,0.7,0.9,2H48.3z" />
    <path class="b-header__logo-shape" d="M5.4,4.9c0.7,0,1.3,0.3,1.7,0.8c0.4,0.4,0.5,0.9,0.6,1.8h1.4V3.7H8L7.6,4.4C6.5,3.7,5.9,3.5,4.8,3.5
	c-1.4,0-2.5,0.4-3.4,1.3C0.5,5.8,0,6.9,0,8.4c0,1.5,0.5,2.8,1.4,3.7c0.9,0.9,2,1.3,3.6,1.3c1.1,0,1.9-0.2,2.6-0.7L8,13.3h1.1V9.5h0
	c0,0,0,0,0,0H7.6c-0.1,0.9-0.2,1.3-0.6,1.7c-0.4,0.5-1,0.8-1.6,0.8C3.9,12,3,10.7,3,8.4C3,6.2,3.9,4.9,5.4,4.9" />
    <path class="b-header__logo-shape" d="M81,6.5c0-0.5,0.1-1,0.4-1.2C81.7,5.1,82,5,82.7,5h1.1v3.2h-1c-1.3,0-1.8-0.4-1.8-1.3C81,6.9,81,6.6,81,6.5
	 M83.8,9.4l0,1.6c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1c1,0.1,2-0.1,2.7-0.5c0.6,0.4,1.7,0.6,2.7,0.5v-1L87.3,12
	c-0.8-0.1-0.9-0.2-0.9-0.3V6.4c0-1.3,0.1-1.4,0.9-1.5l0.5-0.1v-1h-2.1h-0.2H85h-0.2h-3.2c-1.2,0-2,0.2-2.5,0.6
	c-0.5,0.4-0.9,1.2-0.8,1.9c0,0.1,0,0.4,0,0.4c0.1,1.1,1.3,2.1,2.7,2.1C80.3,9,80,9.1,79.8,9.4c-0.2,0.3-0.4,0.8-0.4,1.3V11
	c0,0.7-0.7,1-1,1c-0.1,0-0.3-0.1-0.3-0.2c-0.1-0.2-0.2-0.3-0.2-1.3H77c0,0.9,0,1.2,0.1,1.6c0.3,0.9,0.9,1.3,2,1.3
	c0.7,0,1.2-0.2,1.7-0.6c0.5-0.4,1-1.1,1.2-2.1c0.1-1,0.2-1.3,1.3-1.3H83.8z" />
    <path class="b-header__logo-shape" d="M31.3,8.3h-0.9V5h0.9c1.4,0,1.9,0.5,1.9,1.5c0,0.1,0,0.3,0,0.3C33.1,7.8,32.6,8.3,31.3,8.3 M35,4.5
	c-0.6-0.5-1.4-0.7-2.9-0.7h-3h-0.5h-2.3v1L27,4.9c0.8,0.1,0.9,0.2,0.9,0.9v5.3c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1
	c1,0.1,2.1-0.1,2.8-0.5c0.7,0.4,1.7,0.6,2.8,0.5v-1L31.4,12c-0.8-0.1-1-0.2-1-0.9V10V9.8V9.5h1.8c1.5,0,2.2-0.2,2.8-0.6
	c0.5-0.4,0.8-1.1,0.9-1.9c0-0.1,0-0.3,0-0.4C35.9,5.8,35.6,4.9,35,4.5" />
    <path class="b-header__logo-shape" d="M70.2,8.3h-0.9V5h0.9C71.5,5,72,5.5,72,6.6c0,0.1,0,0.3,0,0.3C72,7.8,71.5,8.3,70.2,8.3 M73.9,4.5
	c-0.6-0.5-1.4-0.7-2.9-0.7h-3h-0.5h-2.3v1l0.5,0.1c0.8,0.1,0.9,0.2,0.9,0.9v5.3c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1
	c1,0.1,2.1-0.1,2.8-0.5c0.7,0.4,1.7,0.6,2.8,0.5v-1L70.3,12c-0.8-0.1-1-0.2-1-0.9V10V9.8V9.5h1.8c1.5,0,2.2-0.2,2.8-0.6
	c0.5-0.4,0.8-1.1,0.9-1.9c0-0.1,0-0.3,0-0.4C74.8,5.8,74.5,4.9,73.9,4.5" />
    <path class="b-header__logo-shape" d="M22.6,7.3V3.8h-9.2v1l0.5,0.1c0.8,0.1,0.9,0.2,0.9,0.9v5.3c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1h9.2V9.5h-1.1
	c-0.2,1.3-0.5,1.6-0.9,2c-0.4,0.3-0.8,0.4-2.1,0.4h-1.2V9.2h0.2c1,0,1.4,0.2,1.4,1.5h1c0.1-0.8-0.1-1.7-0.5-2.3
	C19.9,7.9,20.1,7,20,6.2h-1c0,1.3-0.4,1.5-1.4,1.5h-0.2V5h1.2c1.3,0,1.7,0.1,2.1,0.4c0.4,0.3,0.7,0.7,0.9,2H22.6z" />
    <path class="b-header__logo-shape" d="M101.8,4.9l0.3,0v-1c-0.9-0.1-1.9,0.1-2.5,0.5C99,3.9,98,3.7,97.1,3.8v1l0.3,0c0.7,0.1,0.8,0.2,0.8,0.9v1.8
	h-1.5h-1.5V5.8c0-0.7,0.1-0.8,0.8-0.9l0.3,0v-1c-0.9-0.1-1.9,0.1-2.5,0.5c-0.6-0.4-1.6-0.6-2.5-0.5v1l0.3,0c0.7,0.1,0.8,0.2,0.8,0.9
	v5.3c0,0.7-0.1,0.8-0.8,0.9L91.2,12v1c0.9,0.1,1.9-0.1,2.5-0.5c0.6,0.4,1.6,0.6,2.5,0.5v-1L95.9,12c-0.7-0.1-0.8-0.2-0.8-0.9V8.9
	h1.5h1.5v2.2c0,0.7-0.1,0.8-0.8,0.9L97.1,12v1c0.9,0.1,1.9-0.1,2.5-0.5c0.6,0.4,1.6,0.6,2.5,0.5v-1l-0.3-0.1
	c-0.7-0.1-0.8-0.2-0.8-0.9V5.8C101,5.1,101.1,5,101.8,4.9" />
    <path class="b-header__logo-shape" d="M126.3,0.8c0,0.9,0.3,1.2,0.7,1.6c0.4,0.4,1,0.7,1.7,0.7c0.7,0,1.3-0.2,1.7-0.7c0.3-0.3,0.6-0.7,0.6-1.6
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0-0.1,0-0.2-0.1-0.3c-0.1-0.3-0.4-0.5-0.7-0.5c-0.4,0-0.8,0.3-0.8,0.8c0,0.3,0.1,0.5,0.4,0.6
	c-0.3,0.2-0.7,0.3-1.2,0.3c-0.5,0-0.9-0.1-1.3-0.3c0.2-0.1,0.4-0.4,0.4-0.7c0-0.4-0.3-0.8-0.8-0.8c-0.3,0-0.6,0.2-0.7,0.5
	C126.4,0.6,126.3,0.7,126.3,0.8C126.3,0.8,126.3,0.8,126.3,0.8C126.3,0.8,126.3,0.8,126.3,0.8C126.3,0.8,126.3,0.8,126.3,0.8" />
    <path class="b-header__logo-shape" d="M133,5.7c0-0.7,0.1-0.7,0.8-0.9l0.3,0v-1c-0.2,0-3.4,0-3.4,0l-3.5,6l0-4.1c0-0.7,0.1-0.8,0.8-0.9l0.3,0v-1
	c-0.9-0.1-1.8,0.1-2.4,0.5c-0.6-0.4-1.5-0.6-2.4-0.5v1l0.3,0c0.7,0.1,0.8,0.2,0.8,0.9l0,5.8c0,0.4-0.2,0.5-0.8,0.6l-0.3,0v1
	c0.1,0,0.2,0,0.3,0l0,0h2.9h0.2l3.6-6l0,4.1c0,0.7-0.1,0.7-0.8,0.9l-0.3,0v1c0.9,0.1,1.8-0.1,2.4-0.5c0.6,0.4,1.5,0.6,2.4,0.5v-1
	l-0.3,0c-0.7-0.1-0.8-0.2-0.8-0.9l0-2.7h0L133,5.7z" />
    <path class="b-header__logo-shape" d="M120,4.9l0.5-0.1v-1c-1-0.1-2.1,0.1-2.7,0.5c-0.7-0.4-1.7-0.6-2.7-0.5v1l0.5,0.1c0.8,0.1,0.9,0.2,0.9,0.9
	v5.3c0,0.7-0.1,0.8-0.9,0.9l-0.5,0.1v1c1,0.1,2.1-0.1,2.7-0.5c0.7,0.4,1.7,0.6,2.7,0.5v-1L120,12c-0.8-0.1-0.9-0.2-0.9-0.9V5.8
	C119.2,5.1,119.3,5,120,4.9" />
    <path class="b-header__logo-shape" d="M110.1,11.9c-0.3,0-0.8-0.2-0.8-0.2c-0.1,0-0.2-0.2-0.2-0.2V8.6h0.9c1.3,0,1.8,0.5,1.9,1.4
	c0,0.1,0,0.3,0,0.3C111.9,11.3,111.4,11.9,110.1,11.9 M113.7,8.1c-0.6-0.5-1.3-0.6-2.8-0.6h-1.8V7.1V6.9V5.8c0-0.7,0.3-0.8,1-0.9
	l0.5-0.1v-1c-1-0.1-2.1,0.1-2.8,0.5c-0.7-0.4-1.7-0.6-2.8-0.5v1l0.5,0.1c0.8,0.1,0.9,0.2,0.9,0.9v5.3c0,0.7-0.1,0.8-0.9,0.9
	l-0.5,0.1v1c0.9,0,2.2-0.1,2.8-0.5c0.6,0.4,1.2,0.6,2.3,0.5v0h0.7c1.5,0,2.3-0.2,2.9-0.7c0.5-0.4,0.8-1.3,0.8-2.1c0-0.1,0-0.3,0-0.4
	C114.5,9.2,114.2,8.5,113.7,8.1" />
    <path class="b-header__logo-shape" d="M57,11.9h-0.2c-0.4,0-0.7-0.3-0.7-0.7V8.6H57c1.3,0,1.8,0.5,1.9,1.4c0,0,0,0.2,0,0.3
	C58.9,11.4,58.4,11.9,57,11.9 M61.6,10c0-0.8-0.4-1.6-0.9-2c-0.6-0.5-1.3-0.6-2.8-0.6h-1.8V5.8c0-0.4,0-0.5,0.1-0.6
	c0.2-0.4,2-0.2,2.3-0.1c0.6,0.3,0.9,0.5,1.1,1.9h1.1V3.8H55h-0.1h-2.7v1l0.5,0.1c0.8,0.1,0.9,0.2,0.9,0.9v5.3c0,0.7-0.1,0.8-0.9,0.9
	l-0.5,0.1v1c0.1,0,0.1,0,0.2,0h0.3c0.8,0,1.6-0.2,2.2-0.5c0.5,0.3,1.3,0.5,2.1,0.5h0.9c1.5,0,2.3-0.2,2.9-0.7
	c0.5-0.4,0.8-1.3,0.8-2.1C61.6,10.3,61.6,10.1,61.6,10" />
    <polygon class="b-header__logo-shape" points="31.4,36.8 30,35.2 31.2,35.2 32.5,36.7 32.5,35.2 33.5,35.2 33.5,36.7 34.8,35.2 36,35.2 34.6,36.8 
	36.1,39 34.8,39 33.9,37.6 33.5,38 33.5,39 32.5,39 32.5,38 32.1,37.6 31.2,39 29.9,39 " />
    <polygon class="b-header__logo-shape" points="37.7,35.2 38.8,35.2 38.8,37.3 40.3,35.2 41.3,35.2 41.3,39 40.2,39 40.2,36.8 38.7,39 37.7,39 " />
    <path class="b-header__logo-shape" d="M42.9,39l0.1-0.8c0.1,0,0.2,0,0.2,0c0.3,0,0.6-0.2,0.6-2.5v-0.5h3V39h-1.1v-2.9h-0.9v0.1
	c0,2.4-0.5,2.8-1.3,2.8C43.3,39.1,43,39,42.9,39" />
    <path class="b-header__logo-shape" d="M51.8,37.1c0-0.6-0.4-1-1-1c-0.6,0-1,0.5-1,1c0,0.6,0.4,1,1,1C51.4,38.1,51.8,37.7,51.8,37.1 M48.7,37.1
	c0-1.1,0.9-2,2.1-2c1.2,0,2.1,0.9,2.1,2c0,1.1-0.9,2-2.1,2C49.6,39.1,48.7,38.2,48.7,37.1" />
    <path class="b-header__logo-shape" d="M55.7,34.1l0.6-0.1c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3-0.1,0.4-0.3l0.6,0.1c-0.1,0.5-0.4,0.8-1,0.8
	C56.1,34.9,55.7,34.6,55.7,34.1 M54.8,35.2h1.1v2.2l1.5-2.2h1V39h-1.1v-2.2L55.8,39h-1V35.2z" />
    <polygon class="b-header__logo-shape" points="63.3,35.2 64.4,35.2 64.4,36.7 65.7,35.2 67,35.2 65.5,36.8 67,39 65.8,39 64.8,37.6 64.4,38 
	64.4,39 63.3,39 " />
    <path class="b-header__logo-shape" d="M71.4,37.1c0-0.6-0.4-1-1-1c-0.6,0-1,0.5-1,1c0,0.6,0.4,1,1,1C71,38.1,71.4,37.7,71.4,37.1 M68.3,37.1
	c0-1.1,0.9-2,2.1-2c1.2,0,2.1,0.9,2.1,2c0,1.1-0.9,2-2.1,2C69.2,39.1,68.3,38.2,68.3,37.1" />
    <polygon class="b-header__logo-shape" points="74.4,35.2 75.5,35.2 76.5,36.7 77.4,35.2 78.5,35.2 78.5,39 77.4,39 77.4,36.8 76.5,38.3 76.4,38.3 
	75.5,36.8 75.5,39 74.4,39 " />
    <polygon class="b-header__logo-shape" points="80.6,35.2 84,35.2 84,39 83,39 83,36.1 81.6,36.1 81.6,39 80.6,39 " />
    <path class="b-header__logo-shape" d="M85.7,39l0.1-0.8c0,0,0.2,0,0.2,0c0.3,0,0.6-0.2,0.6-2.5v-0.5h3V39h-1.1v-2.9h-0.9v0.1
	c0,2.4-0.5,2.8-1.3,2.8C86,39.1,85.7,39,85.7,39" />
    <polygon class="b-header__logo-shape" points="91.6,35.2 94.7,35.2 94.7,36.1 92.7,36.1 92.7,36.7 94.5,36.7 94.5,37.5 92.7,37.5 92.7,38.1 
	94.7,38.1 94.7,39 91.6,39 " />
    <polygon class="b-header__logo-shape" points="96.7,35.2 97.7,35.2 97.7,36.7 99,35.2 100.3,35.2 98.9,36.8 100.4,39 99.1,39 98.1,37.6 97.7,38 
	97.7,39 96.7,39 " />
    <path class="b-header__logo-shape" d="M101.6,37.1c0-1.1,0.9-2,2-2c0.8,0,1.3,0.3,1.6,0.8l-0.8,0.6c-0.2-0.3-0.5-0.4-0.8-0.4c-0.5,0-0.9,0.5-0.9,1
	c0,0.6,0.4,1,0.9,1c0.4,0,0.6-0.2,0.9-0.5l0.8,0.6c-0.4,0.5-0.9,0.9-1.7,0.9C102.5,39.1,101.6,38.3,101.6,37.1" />
</svg>
