<svg version="1.1" class="b-header__phone-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
    <path class="b-header__phone-shape" d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,0C9,0,0,9,0,20s9,20,20,20s20-9,20-20
					S31,0,20,0L20,0z" />
    <path class="b-header__phone-shape" d="M14.4,9.8c1.2-0.2,2,1.1,2.6,2.1c0.6,0.9,1.3,2,1,3.2c-0.2,0.7-0.8,1-1.2,1.4c-0.4,0.4-1.1,0.7-1.3,1.3
		c-0.3,1,0.3,2,0.7,2.6c0.8,1.3,1.8,2.5,3.1,3.5c0.6,0.5,1.5,1.2,2.4,1c1.3-0.3,1.6-1.9,3-2.1c1.3-0.2,2.2,0.8,3,1.4
		c0.7,0.6,1.9,1.4,1.8,2.5c0,0.6-0.5,1-1,1.4c-0.4,0.4-0.8,0.8-1.3,1.1c-1.1,0.7-2.3,1-3.8,1s-2.6-0.5-3.7-1.1
		c-2.1-1.1-3.7-2.6-5.2-4.3c-1.5-1.7-2.9-3.7-3.7-5.9c-1-2.8-0.5-5.6,1.1-7.4c0.3-0.3,0.7-0.6,1.1-0.9C13.5,10.3,13.8,9.9,14.4,9.8z
		" />
</svg>
