.AboutGenplanContent {
    position: relative;
    width: 45%;
    padding-left: 8%;
    padding-top: 10%;
    z-index: 1000;
    @media (--xs) {
        padding: 100px 20px 20px 20px;
    }
    @media (--sm) {
        padding-top: 100px;
        padding-left: 50px;
        padding-right:50px;
    }
    @media (--smMinus) {
        width: 100%;
        z-index: 10;
    }
    &_header {
        font-size: 18px;
        color: white;
        font-weight: 300;
        padding-bottom: 60px;
        @media (--xs) {
            padding-bottom: 30px;
        }
        @media (--sm) {
            padding-bottom: 30px;
        }
    }
    &_text {
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 25px;
    }
    &_button {
        width: 215px;
        height: 42px;
        background: white;
        border-radius: 21px;
        border: none;
        color: #435178;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'MuseoCyrl';
        margin-top: 60px;
        transition: box-shadow .3s ease;
        &:hover {
            box-shadow: 0 14px 46px rgba(0, 0, 5, 0.16);
        }
        @media (--xs) {
            margin: 0 auto 0 auto;
            display: block;
        }
        @media (--sm) {
            margin-top: 20px;
        }
    }
}