.b-aboutpage-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 2000px;
    top: 0;
    background: url(../img/about/render1.jpg) bottom center no-repeat #fff;
    background-size: auto auto;
    background-size: cover;

    @media (--md) {
    	height: 1400px;
    }
}
