.b-actsly {
    position: relative;
    @media (--smPlus) {
        padding-bottom: 14px;
        padding-top: 196px;
    }
    &__inner {
        overflow-x: hidden;
        width: 100%;
        padding-top: 17px;
        padding-bottom: 62px;
    }
    &__track {
        white-space: nowrap;
        display: inline-block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
        text-size-adjust: none;
        @media (--xs) {
            width: 100%;
        }
    }
    &__leaf {
        display: inline-block;
        padding: 0 30px;
        @media (--xs) {
            width: 100%;
            display: block;
            padding: 0 0 20px;
        }
    }

    &__arrows{
        position: absolute;
        height: 15px;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        @media (--xs) {
            display: none;
        }

        @media (--smPlus) {
            top: 78px;
        }

        @media (--lg) {
            top: 86px;
        }
    }

    &__arrow{
        position: absolute;
        top: 0;
        width: 14px;
        height: 15px;
        background: url(../img/icon_str_mainSl.png) center no-repeat;
        &--next{
            right: 0;
            transform: rotate(180deg);
        }
    }
}
