.b-actcard {
    display: inline-block;
    height: 410px;
    background: #fff;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.3s;

    @media (--sm) {
    	width: calc(50vw - 60px);

    }
    @media (--mdPlus) {
        width: 24vw;
        max-width: 366px;
        min-width: 260px;
    }
    @media (--xs) {
        display: block;
    }
    &:hover {
        @media (--mdPlus) {
            transform: translateY(-15px);
            box-shadow: 0 33px 42px 10px rgba(0, 1, 5, 0.26);
        }
    }
    &__img {
        height: 240px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__text {
        padding: 19px 25px 0;
        white-space: normal;
        color: #000;
    }
    &__header {
        font: 700 18px/22px 'MuseoCyrl';
        height: 24px;
        margin-bottom: 9px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
    &__desc {
        height: 48px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    &__more-link {
        font-weight: 500;
        font-family: 'MuseoCyrl';
        color: #435178;
    }
    &__more-text {
        @media (--smPlus) {
            display: none;
        }
    }
}
