.b-burger {
    position: absolute;
    left: 35px;
    top: 36px;
    padding-left: 41px;
    height: 28px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #014691;
    display: none;
    border: none;
    &:hover,
    &:focus,
    &:active {
        color: #014691;
    }
    @media (max-width: 1599px) {
        left: 29px;
        top: 28px;
    }
    @media (max-width:1023px) {
        left: 41px;
        top: 27px;
    }
    @media(--smMinus) {
        display:block;
    }
    @media(--xs) {
        left: 20px;
        top: 20px;
        padding-left: 0;
        height: 19px;
        line-height: 0;
        height: 32px;
        width: 32px;
    }
}

.b-burger__dots-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    transition: all 0.3s ease;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: #014691;
        transition: all 0.3s ease;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: #014691;
        transition: all 0.3s ease;
    }
    @media(--xs) {
        width: 19px;
        height: 19px;
        &:before {
            margin: -1.5px 0 0 -1.5px;
            width: 3px;
            height: 3px;
            border-radius: 1px;
        }
        &:after {
            left: 0;
            top: 8px;
            width: 3px;
            height: 3px;
            border-radius: 1px;
        }
    }
}

.b-burger__dot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #014691;
    transition: all 0.3s ease;
    &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: #014691;
        transition: all 0.3s ease;
    }
    &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: #014691;
        transition: all 0.3s ease;
    }
    &--n1 {
        left: 0;
        top: 0;
        &:before {
            left: 24px;
            top: 0;
            @media (--xs) {
                left: 16px;
            }
        }
        &:after {
            left: 0;
            top: 24px;
            @media (--xs) {
                top: 16px;
            }
        }
    }
    &--n2 {
        left: 50%;
        top: 0;
        margin-left: -2px;
        &:before {
            left: 12px;
            top: 12px;
        }
        &:after {
            left: 0;
            top: 24px;
        }
        @media(--xs) {
            margin-left: -1.5px;
            @media(--xs) {
                &:before {
                    left: 8px;
                    top: 8px;
                }
                &:after {
                    top: 16px;
                }
            }
        }
    }
    &--n3 {
        right: 0;
        bottom: 0;
        &:before,
        &:after {
            display: none;
        }
    }
    @media(--xs) {
        width: 3px;
        height: 3px;
        border-radius: 1px;
        &:before {
            width: 3px;
            height: 3px;
            border-radius: 1px;
        }
        &:after {
            width: 3px;
            height: 3px;
            border-radius: 1px;
        }
    }
}

.b-burger__title {
    transition: all 0.3s ease;
    display: block;
    position: absolute;
    &--close {
        opacity: 0;
        left: 14px;
        top: 0px;
        transform: rotate(-90deg);
        transform-origin: left center;
        padding-left: 28px;
    }
    &--open {
        opacity: 1;
        left: 14px;
        top: 0px;
        padding-left: 28px;
        transform: rotate(0deg);
        transform-origin: left center;
    }
    @media (--xs) {
        display: none;
    }
}

.b-burger--open {
    & > .b-burger__dots-wrap {
        transform: rotate(45deg);
        transform-origin: center;
        & > .b-burger__dot--n1,
        & > .b-burger__dot--n3 {
            opacity: 0.3;
        }
    }
    & > .b-burger__title {
        &--close {
            transform: rotate(0deg);
            opacity: 1;
        }
        &--open {
            transform: rotate(90deg);
            opacity: 0;
            pointer-events: none;
        }
    }
}
