.b-cardlist-header {
    color: #fff;
    font-family: 'MuseoCyrl', sans-serif;
    margin-top: 32px;
    margin-bottom: 16px;
    @media (--xs) {
        text-align: center;
        font-size: 19px;
    }
    @media(--mdPlus) {
        font-size: 26px;
        
    }
}
