.b-chess {
    
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    line-height: 1;
    font-family: 'MuseoCyrl', sans-serif;
    font-size: normal;
    margin: 0 auto;
    width: 270px;
    &--spanto1 {
        width: 104px;
    }
    &--spanto2 {
        width: 126px;
    }
    &--spanto3 {
        width: 178px;
    }
    &--spanto4 {
        width: 222px;
    }

    &__inner {
        padding: 3px;
        border: 2px solid #fff;
    }
    &__row {
        position: relative;
        &:before {
            position: absolute;
            left: -3px;
            top: -3px;
            bottom: -3px;
            right: -47px;
            padding-right: 4px;
            background: rgba(255, 255, 255, 0.3);
            content: "Этаж";
            text-align: right;
            line-height: 31px;
            white-space: nowrap;
            font-size: 9px;
            color: #BDC0C6;
            display: none;
            pointer-events: none;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        &:hover {
            &:before {
                display: block;
            }
        }
        &--footer {
            &:before {
                line-height: 52px;
            }
        }
    }
    &__row-num {
        position: absolute;
        top: 50%;
        height: 10px;
        line-height: 10px;
        margin-top: -5px;
        right: -18px;
        width: 10px;
        text-align: center;
        font-size: 9px;
        color: #BDC0C6;
    }
    &__cell {
        float: left;
        padding: 3px;
        position: relative;
        &--1of13 {
         width: 7.69%;
        }
        &--1of10 {
            width: 10%;
        }
        &--1of8 {
         width: 12.5%;
        }
        &--1of6 {
            width: 16.666%;
        }
        &--1of5 {
            width: 20%;
        }
        &--1of4 {
            width: 25%;
        }
        &--1of3 {
            width: 33.333%;
        }
        &--1of2 {
            width: 50%;
        }
        &--1of1 {
            width: 100%;
        }
        &--footer {
            width: 100%;
        }
    }
    &__cell-tooltip {
        position: absolute;
        left: 50%;
        top: calc(100% + 6px);
        width: 153px;
        height: 50px;
        padding: 10px 10px 0;
        background: #fff;
        color: #495f85;
        font-size: 10px;
        text-align: left;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 1;
        box-shadow: 0 0 4px rgba(64,92,132,0.3);
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: -10px;
            border: 3px solid transparent;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            border-bottom: 7px solid #fff;
            margin-left: -3px;
        }
    }
    &__flatlink {
        display: block;
        border: 1px solid #fff;
        height: 19px;
        line-height: 19px;
        text-align: center;
        font-size: 9px;
        color: inherit!important;
        &--active {
            background: #fff;
            color: #495f85!important;
        }

        &--sold-out{
            opacity: 0.5;
            background: none!important;
            color: #fff!important;
            cursor: not-allowed;
        }

        &--discount{
            background-color: #f6ff79;
        }
        &:hover + .b-chess__cell-tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
    &__footer-block {
        border: 1px solid #fff;
        height: 40px;
    }
    &__title {
        text-align: center;
        font-size: 12px;
        padding: 7px 0;
    }
    &__info-type {
        margin-bottom: 10px;
    }
    &__info-area,
    &__info-price {
        float: left;
        width: 50%;
        white-space: nowrap;
        overflow: visible;
    }
    &__info-price {
        text-align: right;
    }
}

.b-chess__row-num {
    opacity: 0;
    transition: all 0.4s;
}

.b-sections-slider__slide {
    &--active,
    &--next,
    &--prev {
        & > .b-chess > .b-chess__inner > .b-chess__row > .b-chess__row-num {
            opacity: 1;
        }
    }
}

.b-chess__flatlink--apart:after{
    content:'';
    position:absolute;
    top:3px;
    right:3px;
    width: 0;
    height: 0;
    border-top: 11px solid #e6ab8c; 
    border-left: 9px solid transparent;
}
