.b-corned-btn {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #fff!important;
    margin-top: 17px;
    padding: 15px 20px;
    position: relative;
    &--with-ico {
        padding-right: 41px;
    }
    &__ico {
        content: '';
        position: absolute;
        right: 21px;
        top: 50%;
        margin-top: -6px;
        background: url(../img/icon_more_1.png) right center no-repeat;
        width: 7px;
        height: 12px;
        transition: all 0.3s ease;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 75%;
        height: 80%;
        border: 1px solid rgba(255, 255, 255, 0.8);
        transition: all 0.2s;
        pointer-events: none;
        will-change: width, height;
    }

    &:before {
        top: 0;
        left: 0;
        border-bottom: none;
        border-right: none;
    }

    &:after {
        bottom: 0;
        right: 0;
        border-top: none;
        border-left: none;
    }

    &:hover {
        @media (--mdPlus) {
            &:before,
            &:after {
                width: 100%;
                height: 100%;
                border-color: rgba(255, 255, 255, 1);
            }
        }
    }
}