.b-contacts-well {
    padding: 5px;
    background: #fff;
    color: var(--colorPrimary);
    font-size: 12px;
    position: relative;
    max-width: 318px;
    margin-top: 26px;
    @media (--xs) {
    	max-width: calc(100% - 25px);
    }
    &__inner {
        border: 2px solid #aeb2bf;
        padding: 11px 12px 11px 23px;
    }

    &__head {
        font-weight: bold;
    }
	
	&__text{
		line-height: 1.46;
	}
    &__corner {
        position: absolute;
        width: 15px;
        height: 14px;
        border: 2px solid #aeb2bf;
        background: #fff;
        &:before {
            position: absolute;
            border: 2px solid #aeb2bf;
            width: 7px;
            height: 7px;
            content: "";
        }

        &--n_1 {
            top: 5px;
            left: 5px;
            border-left: none;
            border-top: none;
            &:before{
				top: 0;
				left: 0;
            }
        }

        &--n_2 {
            bottom: 5px;
            right: 5px;
            border-right: none;
            border-bottom: none;
            &:before{
            	bottom: 0;
				right:  0;
            }
        }
    }
}