.b-current-page-subheader {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-bottom: 20px;
    @media (--xs) {
        text-align: center;

    }
    &--actions {

        @media(--smPlus) {
            top: 50px;
            left: 80px;
            font-size: 16px;
        }
        @media (--lg) {
            font-size: 22px;
            line-height: 1.4;
        }
    }
    &__addendum {
        display: block;
    }
}
