.b-diary-circle{
	transform: rotate(180deg);
}


/*
TODO: remove this temporal hiding of percents count line
*/
.dynamics_timeline_count,.b-diary-circle>svg>path:nth-child(2){
	display: none!important;
}