.b-diary-innersly {
    height: 100%;

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.3s!important;
        transform: scale(0.9);

        &.swiper-slide-active {
            opacity: 1;
            transform: scale(1);
        }
        @media (--smPlus) {
            padding: 84px;
        }
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        &.swiper-lazy-loaded {
            @media (--smPlus) {
                box-shadow: 0 5px 65px rgba(0, 1, 5, 0.28);
            }
        }
    }
}