.b-doccard {
    color: #fff;
    font-size: 10px;
    border: 1px solid #fff;
    padding: 20px 17px 14px;
    @media (--smPlus) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 17px;
    }
    &__inforow,
    &__dlrow {
        display: table;
        width: 100%;
    }
    &__inforow {
        margin-bottom: 6px;
    }
    &__dlrow {
        margin-top: 25px;
    }
    &__infolabel,
    &__infoval,
    &__dlicon-wrap,
    &__dlsize,
    &__dllink-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    &__infoval,
    &__dllink-wrap {
        text-align: right;
    }
    &__infolabel,
    &__infoval {
        font-size: 1.2em;
    }
    &__dlsize {
        width: 100%;
        padding-left: 12px;
        font-size: 1.2em;
    }
    &__dlicon {
        width: 33px;
        height: auto;
        pointer-events: none;
        user-select: none;
    }
    &__dllink-wrap {
        @media (--mdPlus) {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__dllink {
        font-weight: 700;
        font-size: 1.2em;
        color: #fff !important;
        white-space: nowrap;
    }
    &:hover {
        @media (--mdPlus) {
            background: linear-gradient(to top, #687393, #435178);
            & .b-doccard__dllink-wrap {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
