.b-filters-tabs{
	&__tab{
		min-height: 534px;
		@media (--xs) {
			min-height: auto;
		}
	}

    & .select2 {
        display: none;

        @media (--xs) {
            display: block;
        }
    }
}
