.b-filter-scheme{
	position: relative;
	top: 0;

	&__svg{
		display: block;
		width: 100%;
		width: 157px;
		float: right;
		&_4k {
			width:140px;
		}
	}

	&__polygon{
		fill: rgba(0,0,0,0);
		cursor: pointer;
		

		 &--active{
		 	fill: #ffffff;
		 }

		 &--active:nth-of-type(2n+1){
		 	fill: #D7D9E0;
		 }
	}

	&__checkbox{
		display: none;
	}
}