.b-fitblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.b-fitblock__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    overflow: hidden;
}

.b-fitblock__pusher {
    display: block;
    pointer-events: none;
}