.b-filters-empty {
    width: 75%;
    border: 1px solid white;
    position: relative;
    margin: 0 auto;
    padding: 50px 20px;
    font: 200 14px/22px 'AvenirNext';
    text-align: center;
    @media (--sm) {
        width: 88%;
    }
    @media (--xs) {
        margin-top: 25px;
        padding: 20px;
    }

    &--list{
        @media (--xs) {
            width: calc(75% + 30px);
        }

        @media(--sm){
            width: calc(88% - 35px);
        }
    }

    &>p>br{
        @media (--xs) {
            display: none;
        }
    }
}