.b-form-success {
    max-width: 748px;
    padding: 50px 50px 70px;
    
    background: #fff;
    &__icon{
    	display: block;
    	margin: 0 auto;
    	height: 60px;
    	width: 60px;
    	background: url(../img/svg_icons/success.svg) center no-repeat;
    }
    &__text{
    	font-size: 17px;
    	text-align: center;
    	font-weight: 700;
    	color: var(--colorPrimary);
    }
}