.b-footer {
    height: 1px;
    margin: -1px auto 0;
    padding: 0;
    font: 100 12px/1 'MuseoCyrl';
    color: #fff;
    position: relative;
    z-index: 9;
    transition: all 0.4s;
    opacity: 1;
    @media (--xs) {
        height: 286px;
        margin-top: -286px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    &--inverted {
        @media (--smPlus) {
            color: var(--colorPrimary)!important;
        }
        & .b-footer__copy-pic--blue {
            @media (--smPlus) {
                opacity: 1;
            }
        }
        & .b-footer-socials__item:hover svg {
            fill:#9da3b6;
        }
        & .b-footer-socials__item:hover {
            border:1px solid #9da3b6;
        }
    }
    &--hidden {
        opacity: 0;
    }
    &__inner {
        position: relative;
        height: 100%;
    }
    &__copy {
        position: absolute;
        left: 35px;
        top: -67px;
        padding-left: 196px;
        line-height: 18px;
        opacity: 0.5;
        &__text {
            position: absolute;
            left: 0;
            bottom: -44px;
            white-space: nowrap;
            font-weight: 300;
            @media (--smMinus) {
                left: 0;
                right: auto;
                bottom: -42px;
            }
            @media (--xs) {
                white-space: normal;
                width: 100vw;
                bottom: -222px;
                left: 50%;
                transform: translateX(-50%);
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        @media (max-width: 1599px) {
            left: 29px;
        }
        @media (max-width:1023px) {
            left: 40px;
            top: -44px;
            padding-left: 98px;
            font-size: 10px;
            letter-spacing: 0.1em;
        }
        @media (--xs) {
            left: 20px;
            top: 44px;
            width: calc(100% - 40px);
            padding-left: 0;
            font-size: 12px;
            text-align: center;
        }
    }
    &__copy-pic {
        position: absolute;
        left: 0;
        top: -4px;
        height: 18px;
        /*         width: 82px; */
        @media (--xs) {
            top: 0;
            height: 20px;
        }
        &--n2 {
            left: 92px;
            transform: scale(0.9);
            @media (--xs) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &--blue {
            opacity: 0;
            filter: grayscale(24%);
            transition: all 0.3s;
        }
    }
    &__info {
        position: absolute;
        left: 135px;
        top: -60px;
        height: 6px;
        min-height: 30px;
        white-space: nowrap;
        & .groomzoom-logo {
            position: relative;
            top: -11px;
            @media (--xs) {
                position: absolute;
                bottom: -83px;
                right: 12px;
                top: auto;
            }
        }
        &:hover {
            &>.b-footer__ellipsis {
                display: none;
                @media (--xs) {
                    display: block;
                }
            }
            @media (--xs) {
                width: 235px;
            }
        }
        @media (max-width:1023px) {
            top: -38px;
            font-size: 10px;
        }
        @media (--xs) {
            position: relative;
            left: 0;
            top: 80px;
            /*padding-top: 34px;*/
            padding-top: 45px;
            width: 235px;
            margin: 0 auto;
            text-align: center;
            opacity: 1;
            visibility: visible;
            font-size: 12px;
            overflow: visible;
        }
    }
    &__year {
        @media (--xs) {
            display: block;
        }
    }
    &__company-name {
        position: relative;
        @media (--xs) {
            display: none;
        }
        @media (--sm) {
            left: 96px;
        }
    }

    &__text:not(.b-footer__copy__text) {
        display: inline-block;
        max-width: 235px;
        margin: -4px 20px 0 0;
        vertical-align: top;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: .6;
        &.b-footer__text--standart {
            position: relative;
        }
        & a {
            text-decoration: none;
        }
        @media (max-width: 1023px) {
            max-width: 195px;
            margin: -1px 15px 0 0;
        }
        @media (--xs) {
            display: block;
            visibility: visible;
            max-width: none;
            margin: 0;
        }
        &+& {
            @media (--xs) {
                margin-top: 20px;
            }
        }
    }
    &__link {
        color: inherit!important;
        text-decoration: underline;
    }
    &__creator {
        position: absolute;
        right: 35px;
        top: -61px;
        @media (max-width: 1599px) {
            right: 29px;
        }
        @media (max-width:1023px) {
            right: 40px;
            top: -34px;
        }
        @media (--xs) {
            right: 20px;
            top: 46px;
            z-index: 1;
        }
    }
    &__creator-link {
        &:hover .st0 {
            @media(--mdPlus) {
                fill: #2E97D9;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }

    &-socials {
        position: absolute;
        top:-75px;
        right: 100px;

        @media(--sm) {
            top:-50px;
        }

        @media(--xs) {
            position: relative;
            top: 30px;
            text-align: center;
            right: initial;
        }

        &__item {
            border:1px solid #9da3b6;
            display: inline-block;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            text-align: center;
            position: relative;
            transition: border 0.2s;
            margin: 0 5px;

            & svg {
                width: 16px;
                height: 16px;
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -8px;
                margin-top: -8px;
                transition: fill 0.2s;
            }

            &:hover {
                border:1px solid #ffffff;
            }
            &:hover svg {
                fill: #ffffff;
            }
        }
    }
}

.l-body--homepage>.b-footer--hidden {
    @media (--xs) {
        opacity: 1;
    }
}

.l-body--landing>.b-footer {

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-size: 100% 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        z-index: -1;

        pointer-events: none;
        @media (--xs) {
            padding-top: 99%;
            background-image: url(/img/landings/footer-mask-xs.png);
        }
        @media (--sm) {
            padding-top: 59%;
            background-image: url(/img/landings/footer-mask-sm.png);
        }
        @media (--md) {
            padding-top: 23%;
            background-image: url(/img/landings/footer-mask-md.png);
        }
        @media (--lg) {
            padding-top: 13%;
            background-image: url(/img/landings/footer-mask-lg.png);
        }
    }

    @media (--xs) {
        border-top: 1px solid rgba(0, 0, 0, 0.1)!important;
        color: var(--colorPrimary)!important;
    }

    & .b-footer__copy-pic--blue {

        @media (--xs) {
            opacity: 1;
        }
    }
}


.l-body--homepageAjax .b-footer, .l-body--homepage .b-footer{
    @media (--xs) {
        background: #435178;
    }
}