.b-genplan-mark {
    position: absolute;
    width: 187px;
    height: 82px;
    background: url(../img/mark.svg) 50% no-repeat;
    background-size: contain;
    color: #3a507a;
    z-index: 2;
    padding: 16px 20px 0;
    margin-left: -94px;
    margin-top: -82px;
    overflow: hidden;
    pointer-events: none;
    @media (--xs) {
        padding: 17px 20px 0 !important;
        width: 126px;
        height: 56px;
        margin-left: -63px;
        margin-top: -56px;
        font-size: 14px;
        padding: 15px 8px 0;
    }

    &--tall {
        background-image: url(../img/mark_big.svg);
        height: 106px;
        margin-top: -106px;
        @media (--xs) {
            height: 74px;
            margin-top: -74px;
        }
    }

    &--link {
        pointer-events: auto;
    }

    &>h3 {
        font: 900 15px/1.2 MuseoCyrl;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        @media (--xs) {
            font-size: 10px;
            line-height: 9px;
        }
    }
    &>p {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        @media (--xs) {
            font-size: 8px;
            line-height: 9px;
        }
    }
    &__redtext {
        color: #D1524D;
        font-weight: 700;
        font-family: MuseoCyrl, serif;
        margin-bottom: 1px;
        font-size: 13px;
    }
}