.b-gmap-outside-zoom {
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 55px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 999;
    &:after {
        position: absolute;
        overflow: hidden;
        right: 16%;
        height: 1px;
        left: 16%;
        background-color: #e6e6e6;
        top: 50%;
        content: "";
        pointer-events: none;
    }
    &__btn {
        position: absolute;
        display: block;
        padding:0;
        margin:0;
        border:none;
        width: 28px;
        height: 27px;
        left: 0px;
        background: center no-repeat;
        background-size: 40% auto;
        filter: opacity(0.75);
        &:hover{
        	filter: opacity(1);
        }
        &--plus {
            top: 0px;
            background-image: url('../img/svg_icons/zoom-in.svg');
        }
        &--minus {
            bottom: 0;
            background-image: url('../img/svg_icons/zoom-out.svg');
        }
    } 
}