.b-header {
    opacity: 1;
    &--hidden {
        opacity: 0;
        transform: translateY(-72px);
    }
    &__logo-shape {
        fill: #014691;
    }
    &,
    &__logo-shape,
    &__phone-shape,
    &__phone,
    &__phone-link {
        transition: all 0.3s;
    }

    &__phone-link{
        text-decoration: none;
    }

    &__phone-shape{

    }


    &--light {
        height: 80px;
        background: #ffffff;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        z-index: 10000;
        position: relative;
        @media(--xs) {
            padding: 0 20px;
        }
    }
    &-menu {
        display:flex;
        height:80px;
        z-index: 10000;
        position: relative;
        width: 55%;
        justify-content: center;

        @media(--smMinus) {
            display:none;
        }


        &__item {
            font-family: MuseoCyrl;
            font-size: 15px;
            font-weight: 500;
            color: #455175;
            position: relative;

            &:hover >  .b-header-menu__submenu {
                opacity: 1;
                visibility: visible;
                transition-delay: 0.2s;
                transform: translate(-50%, -1px);
            }

            &:hover > .b-header-menu__submenu-inner:before {
                 opacity: 1;
                 visibility: visible;
            }

            &._last {
                margin-left: auto;

                @media (max-width: 1080px) {
                    display: none;
                }
            }
        }

        &__link {
            padding: 0px 10px;
            text-decoration: none;
            position: relative;
            display: block;
            height: 100%;
            font-size: 14px;
            color:#455175;
            line-height: 80px;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &._wide {
                @media(--help) {
                    display: none;
                }
            }

            @media(--md) {
                font-size:12px;
                padding:0 7px;
            }

            @media(--lg) {
                padding: 0 18px;
            }


            &--color {
                 color:#8e98b6;
            }
            &--active {
                 color:#455175;
            }
        }

        &__submenu {
            position: absolute;
            left: 50%;
            display: block;
            top:80px;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -20px);
            transition: all 0.3s ease-in-out;
            border-radius: 2px;
            z-index: 10000;

            &-inner {
                background: #ffffff;
                padding: 20px 25px;
                position:relative;
                top:20px;

                &:before {
                     content: "";
                     position: absolute;
                     left: 50%;
                     top: -16px;
                     z-index: 12;
                     margin-left: -8px;
                     border: 8px solid transparent;
                     border-bottom: 8px solid #ffffff;
                     transition: all 0.3s ease-in-out;

                 }
            }
        }

        &__sublink {
            border-bottom:1px solid #efefef;
            white-space: nowrap;
            padding: 12px 0;
            font-weight: 500;
            transition: color 0.4s ease;
            display: block;
            font-size: 14px;

            &._wide {
                display: none;

                @media(--help) {
                    display: block;
                }
            }

            &:last-child {
                border:none;
            }
            &--color {
                color:#8e98b6;
            }
            &--active {
                 color:#455175;
            }

        }


    }

    &__phone {
         font-family: MuseoCyrl;
         color: #455175;
         font-weight: bold;
         position: relative;
         font-size:18px;

        & a {
            font-size:14px;
            font-weight: 500;
            text-align: right;
        }
    }

    &__svg {
        &--desktop {
            @media(--smMinus) {
                display:none;
            }
        }
        &--mobile {
            display:none;
            @media(--smMinus) {
                display:block;
            }
        }
    }

}

.l-body--main-menu-close > #bd > .b-header--inverted {
    color: var(--colorPrimary);
    & .b-header__logo-shape, & .b-header__phone-shape {
        fill: var(--colorPrimary);
    }
    & .b-header__phone,
    & .b-header__phone-link,
    & > .b-burger {
        color: var(--colorPrimary) !important;
    }
    & .b-burger__dot {
        &:after,
        &:before,
        & {
            background: var(--colorPrimary);
        }
    }
    & .b-burger__dots-wrap {
        &:after,
        &:before {
            background: var(--colorPrimary);
        }
    }
}

.l-body--homepage > #bd >.b-header--hidden {
    @media (--xs) {
        opacity: 1;
        transform: translateY(0);
    }
}


