.b-header-btn {
    display: block;
    position: absolute;
    transition: all 0.15s;
    @media (--xs) {
        display: none;
    }
    @media (--sm) {
        left: 196px;
        top: 20px;
        padding-left: 40px;
        padding-top: 6px;
        font-size: .62em;
        line-height: 1.2;

        &,
        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }
    @media (--md) {
        top: 26px;
    }
    @media (--mdPlus) {
    	border: 2px solid rgba(58, 80, 122, 0);
        background: #fff;
        padding: 10px 20px;
        left: 177px;
        font-size: 0.665em;
        border-radius: 20px;
        &:hover {
            box-shadow: 0 7px 20px rgba(0, 1, 5, .17);
        }
    }


    @media (--lg) {
        top: 34px;
    }

    &__icon-wrap {
        position: absolute;
        height: 31px;
        width: 31px;
        border-radius: 50%;
        background: #fff;
        left: 0;
        top: 0;
    }

    &__icon {
        display: none;
        @media (--sm) {
            display: block;
            width: 66%;
            margin: 5px auto 0;
            fill: rgb(58, 80, 122);
            
        }
    }
}

.b-header--inverted > .b-header-btn{
	@media (--sm) {
		color: var(--colorPrimary);
		 &:hover {
            box-shadow: 0 7px 20px rgba(0, 1, 5, .1);
        }
	}
	@media (--mdPlus) {
		border-color: rgba(58, 80, 122, 1);
	}
	
}

.l-body--main-menu-open > #bd > .b-header--inverted > .b-header-btn{
	@media (--sm) {
		color: #fff;
	}

	@media (--mdPlus) {
	border-color: rgba(58, 80, 122, 0);
		
	}

}