.b-homepage-underlay-text {
    position: fixed;
    z-index: -100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12.5vw;
    line-height: normal;
    text-align: center;
    font-family: 'MuseoCyrl';
    font-weight: 900;
    opacity: 0.051;
    color: #000;
    line-height: 1.403;
    letter-spacing: 1vw;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    transition: opacity 1s;
    &--hidden{
    	opacity: 0;
    }
}