.b-house-choose_svg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.b-house-choose_n1,
.b-house-choose_n2 {
    fill:transparent;
}



.b-house-choose_n1:hover,
.b-house-choose_n2:hover {
    fill: transparent;
    cursor: pointer;
}



.b-house-choose_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.b-house-choose_mask-active {
    opacity: 1;
    visibility: visible;
}

