.b-landing {
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden;
    &__head {
        position: relative;
        &--v_1 {
            @media (--xs) {
                padding-top: 128%;
            }
            @media (--sm) {
                padding-top: 61%;
            }
            @media (--md) {
                padding-top: 41%;
            }
            @media (--lg) {
                padding-top: 35%;
            }
        }
    }
    &__bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        &--v_1 {
            @media (--xs) {
                background-image: url("/img/landings/1-header-xs.jpg");
                padding-top: 116%;
            }
            @media (--sm) {
                background-image: url("/img/landings/1-header-sm.jpg");
                padding-top: 53.8%;
            }
            @media (--md) {
                background-image: url("/img/landings/1-header-md.jpg");
                padding-top: 34%;
            }
            @media (--lg) {
                background-image: url("/img/landings/1-header-lg.jpg");
                padding-top: 46%;
            }
        }
        &--v_2 {
            @media (--xs) {
                background-image: url("/img/landings/2-header-xs.jpg");
                padding-top: 116%;
            }
            @media (--sm) {
                background-image: url("/img/landings/2-header-sm.jpg");
                padding-top: 57.4%;
            }
            @media (--md) {
                background-image: url("/img/landings/2-header-md.jpg");
                padding-top: 35%;
            }
            @media (--lg) {
                background-image: url("/img/landings/2-header-lg.jpg");
                padding-top: 28.8%;
            }
        }

        &--v_3 {
            @media (--xs) {
                background-image: url("/img/landings/3-header-xs.jpg");
                padding-top: 124%;
            }
            @media (--sm) {
                background-image: url("/img/landings/3-header-sm.jpg");
                padding-top: 60.4%;
            }
            @media (--md) {
                background-image: url("/img/landings/3-header-md.jpg");
                padding-top: 35.6%;
            }
            @media (--lg) {
                background-image: url("/img/landings/3-header-lg.jpg");
                padding-top: 32.1%;
            }
        }
    }

    &__head-text {
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: 'MuseoCyrl', Arial, sans-serif;
        font-weight: 700;
        @media (--xs) {
            top: 128px;
        }
        @media (--sm) {
            top: 139px;
        }
        @media (--md) {
            top: 140px;
        }
        @media (--lg) {
            top: 150px;
        }
    }

    &__col {
        width: 100%;
        max-width: 794px;
        padding-left: 18px;
        padding-right: 18px;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        line-height: 1.17;
        position: relative;
        z-index: 1;


        &--wide {
            max-width: 962px;
        }

        &--header {
            @media (--xs) {

                font-size: 24px;
                line-height: 1.18;
            }
            @media (--sm) {

                font-size: 24px;
                line-height: 1.18;
            }
            @media (--md) {

                font-size: 30px;
                line-height: 1.18;
            }
            @media (--lg) {

                font-size: 36px;
                line-height: 1.16;
            }
        }



        &--v_1 {
            @media (--xs) {
                padding-top: 35%;
                padding-bottom: 28%;
            }

            @media (--sm) {
                padding: 15% 0 11%;
            }
        }


        &--v_2 {
            @media (--xs) {
                padding-top: 15%;
                padding-bottom: 28%;
            }
        }
    }

    &__pic {
        width: 100%;
        &--xszoom {
            width: auto;
            &_85 {
                @media (--xs) {
                    transform: scale(1.85);
                }
            }
        }

        &--smzoom {
            width: auto;
            &_45 {
                @media (--sm) {
                    transform: scale(1.45);
                }
            }
        }
    }

    &__divider {
        position: relative;
        height: 130px;
        overflow: hidden;
        &:after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 72px;
            height: 12px;
            margin-top: -6px;
            margin-left: -36px;
            background: url("/img/landings/divider.svg") center no-repeat;
            background-size: 100% 100%;
            opacity: 0.3;
            display: block;
        }
    }

    &__btnwrap {
        padding: 72px 0 55px;
    }

    &__btn {
        display: block;
        width: 271px;
        height: 53px;
        background: var(--colorBlueBg);
        border-radius: 27px;
        text-align: center;
        margin: 0 auto 20px;
        font: 700 16px/55px MuseoCyrl;
        color: #fff!important;
        letter-spacing: .1em;
        transition: all .3s ease;
    }

    &__btnhint {
        font: 18px/1.2 MarckScript;
        letter-spacing: .1em;
        text-align: center;
        color: var(--colorBlueBg);
    }
}