.b-location-top-mask-bg {
    background: rgba(67, 81, 120, .4) url("../img/location_map_bottom-bg.png") center top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 46.46875%;
    z-index: 10;
    pointer-events: none;
    transform-origin: top center;
    transform: scale(1);

}
