.b-marker-bubble {
    color: #000;
    &__inner {
        width: 260px;
        padding: 13px 10px 5px;
        background: #fff;
        font-size: 12px;
        line-height: 1.1;
    }
    &__header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 27px;
    }
    &__label {
        text-align: left !important;
        width: 50px !important;
    }
    &__infoitem {
        margin-bottom: 10px;
        margin-left: 52px !important;
    }
}


