.b-map-filters {
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 0;
    line-height: 0;
    text-align: right;
    position: relative;
    margin: 60px 0 20px;
    @media (--mdPlus) {
        padding-left: 208px;
    }
    @media screen and (max-width:1599px) {
        height: auto;
        padding: 30px 0 10px 235px;
        text-align: left;
        margin-top: 80px;
    }

    @media (--smMinus) {
        margin: 40px -40px 20px;
    }
    @media (--xs) {
        padding: 86px 0 0;
        margin: 40px 0 20px;
    }

    &__leaf {
        display: inline-block;
        margin-right: 35px;
        font-size: 15px;
        line-height: 111px;
        transition: all 0.1s ease;
        @media screen and (max-width: 1599px) {
            margin-right: 25px;
            font-size: 13px;
            line-height: 1;
            margin-bottom: 20px;
        }

        @media (--xs) {
            margin: 0 15px 27px;
        }
    }

    &__trigger {
        color: #9ba2b4!important;
        &:hover{
            color:#bdbdbd!important;
        }
        &--active,&--active:hover {
            color: #fff!important;
        }
    }

    &__head {
        position: absolute;
        left: 26px;
        top: 0;
        font: 700 14px/111px 'MuseoCyrl';
        display: block;
        border: none;
        background: none;
        @media (--smPlus) {
            pointer-events: none;
        }
        @media screen and (max-width: 1799px) {
            left: 25px;
        }
        @media screen and (max-width:1599px) {

            font: 700 14px/73px 'MuseoCyrl';
        }
        @media (--smMinus) {
            left: 40px;
            top: 28px;
            line-height: 20px;
            width: 100px;
        }
        @media (--xs) {
            left: 0;
            top: 0;
            line-height: 86px;
            text-align: center;
            width: 100%;
        }
    }

    &__inner {
        &--xs-hidden {
            @media (--xs) {

                display: none;
            }
        }
    }
}