.b-map {
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(67, 81, 120, 0.3) url(../img/map_mask.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		content: "";
		pointer-events: none;
		@media (--smMinus) {
			background-image: url(../img/map_mask_xs.png);
			background-size: 100% 280px;
			background-position: top;
		}
	}
}

.placemark_layout_container {
	width: 180px;
	height: 66px;
	background: transparent url("/img/icon-marker-long-2.png") no-repeat 0 0;
	margin-left: -90px;
	margin-top: -66px;
}

.square_layout {
	text-align: center;
	line-height: 66px;
}
