@keyframes slowZoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.08);
    }
}

.b-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        pointer-events: none;
        overflow: hidden;
        background: #435178;
        @media (--mdPlus) {
            background: #435178 center no-repeat;
            background-size: cover;
            background-attachment: fixed;
            &[data-bg-img-num="1"] {
                background-image: url('../img/menu/1.jpg');
            }

            &[data-bg-img-num="2"] {
                background-image: url('../img/menu/2.jpg');
            }

            &[data-bg-img-num="3"] {
                background-image: url('../img/menu/3.jpg');
            }

            &[data-bg-img-num="4"] {
                background-image: url('../img/menu/4.jpg');
            }

            &--zooming {
                animation-name: slowZoomIn;
                animation-duration: 15s;
                animation-delay: 0.3s;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
            }
        }

        @media all and (-ms-high-contrast: none) {
            &--zooming {
                animation: none!important;
            }
        }
    }
    &__bg-underlay {
        @media (--xs) {
            display: none;
        }
        @media (--smPlus) {
            background: #435178;
            opacity: 0.9;
            position: absolute;
            top: 0;
            width: 0%;
            height: 100%;
            left: 0;
        }
    }
    &__wrap {
        height: 100%;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        @media (--xs) {
            border-top: 62px solid rgba(0, 0, 0, 0);
            border-bottom: 20px solid rgba(0, 0, 0, 0);
        }
        @media (--smPlus) {
            display: flex;
            align-items: center;
            border-bottom: 20px solid rgba(0, 0, 0, 0);
            border-top: 86px solid rgba(0, 0, 0, 0);
        }
    }
    &__inner {
        position: relative;
        left: 17%;
        font: 900 36px/1 'MuseoCyrl';
        text-transform: uppercase;
        letter-spacing: 0.1em;
        &--open {
            left: 44%;
            @media (--md) {
                left: 36%;
            }
        }
    }
    &__leaf {
        position: relative;
        transition: opacity 0.2s;
        &+& {
            margin-top: 50px;
        }
    }
    &__submenu {
        position: absolute;
        left: -100%;
        top: -3px;
        max-width: 245px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.24;
        text-transform: none;
        letter-spacing: 0.1em;
        opacity: 0;
        visibility: hidden;
        @media (--xs) {
            overflow: hidden;
            display: none;
        }
    }
}

.b-menu__inner--open>.b-menu__leaf {
    opacity: 0.2;
    &:hover {
        opacity: 1;
    }
}

.b-menu__inner--open>.b-menu__leaf--active {
    opacity: 1;
    &>.b-menu__submenu {
        opacity: 1;
        visibility: visible;
    }
}

.b-menu__subleaf+.b-menu__subleaf {
    margin-top: 28px;
}

.b-menu__leaf,
.b-menu__subleaf {
    &>a {
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (max-width:1599px) {
    .b-menu__inner {
        font-size: 24px;
    }
    .b-menu__leaf {
        &+& {
            margin-top: 33px;
        }
    }
    .b-menu__submenu {
        top: -2px;
        font-size: 18px;
    }
    .b-menu__subleaf+.b-menu__subleaf {
        margin-top: 21px;
    }
}

@media screen and (max-width:1023px) {
    .b-menu__inner {
        left: 10%;
        font-size: 22px;
        &--open {
            left: 51%;
        }
    }
    .b-menu__submenu {
        left: -98%;
        top: -2px;
        font-size: 16px;
    }
    .b-menu__subleaf {
        height: 20px;
    }
    .b-menu__subleaf+.b-menu__subleaf {
        margin-top: 19px;
    }
}

@media (--xs) {
    .b-menu__inner {
        position: relative;
        left: 0;
        top: 52px;
        margin: 0 0 0 20px;
        font-size: 18px;
        &--open {
            left: 0;
        }
    }
    .b-menu__inner--open>.b-menu__leaf {
        opacity: 0.8;
    }
    .b-menu__inner--open>.b-menu__leaf--active {
        opacity: 1;
    }
    .b-menu__leaf--active>.b-menu__submenu {
        display: block;
    }
    .b-menu__submenu {
        transition: none!important;
        position: relative;
        left: 0;
        top: 0;
        margin: 0 0 0 40px;
        padding: 0 0;
        font-size: 16px;
    }
    .b-menu__subleaf {
        margin-top: 21px;
    }
}