.b-months-slider {
    position: absolute;
    @media (--smMinus) {
    	visibility: hidden;
    }
    @media (--mdPlus) {
        height: 150%;
        top: -50%;
    }

    &__slide{
    	cursor: pointer;
    	opacity: 0;
    	transition: all 0.2s;
    	&.swiper-slide-active{
    		opacity: 1;
    	}

    	&.swiper-slide-next,&.swiper-slide-prev{
    		opacity: 0.2;
    	}
        @media (--md) {
            font-size:0.98em;
            padding-right:3px;
        }
    }
}
