.b-one-action {
    position: relative;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    @media (--sm) {
        padding-top: 74%;
    }
    @media (--mdPlus) {
        padding-top: 64%;
    }

    &__content-box {
        background: #fff;
        display: block;
        color: #000!important;
        @media (--xs) {
            padding: 26px 34px;
        }

        @media (--sm) {
            padding: 23px 23px 20px 26px;
            right: 40%;
        }

        @media (--smPlus) {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @media (--mdPlus) {
            padding: 26px 34px;
            right: 60%;
        }
    }

    &__bg {
        background-size: cover;
        background-position: center left;
        background-repeat: no-repeat;
        @media (--xs) {

            padding-top: 64%;
        }
        @media (--smPlus) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    &__header {
        font-weight: 700;
        font-size: 24px;
        font-family: "MuseoCyrl", Arial, sans-serif;
        padding-bottom: 29px;
        @media (--sm) {
            font-size: 20px;
            padding-bottom: 18px;
        }
    }

    &__desc {
        font-size: 18px;
        line-height: 1.3;
        @media (--sm) {
            font-size: 16px;
        }
    }

    &__readmore {
        font-size: 22px;
        margin-top: 20px;
    }
}