.b-preloader {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    transition-delay: 3s;
    transform: translateZ(0);
    &--active {
        opacity: 1;
        visibility: visible;
    }

    &--transparent {
        background: none;
    }

    &__inner {
        position: absolute;
        width: 282px;
        height: 30px;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -141px;
        perspective: 200px;
    }

    &__blot {
        position: relative;
        width: 30px;
        height: 30px;
        background: #CCC;
        float: left;
        text-align: center;
        line-height: 30px;
        font-family: Verdana;
        font-size: 20px;
        color: #FFF;
        margin: 0 5px;
        background: rgb(73,87,125);
        border-radius: 50%;
        transform: scale(.5) translateY(0px) rotateX(0deg);


    }
}

.b-preloader--active > .b-preloader__inner > .b-preloader__blot{

        &--n1 {

            animation: preloaderMovement 600ms ease 0ms infinite alternate;
        }
        &--n2 {

            animation: preloaderMovement 600ms ease 75ms infinite alternate;
        }
        &--n3 {
            animation: preloaderMovement 600ms ease 150ms infinite alternate;
        }

        &--n4 {
            animation: preloaderMovement 600ms ease 225ms infinite alternate;
        }

        &--n5 {
            animation: preloaderMovement 600ms ease 300ms infinite alternate;
        }

        &--n6 {
            animation: preloaderMovement 600ms ease 375ms infinite alternate;
        }

        &--n7 {
            animation: preloaderMovement 600ms ease 450ms infinite alternate;
        }
}

@keyframes preloaderMovement {
    0% {
        transform: scale(.5) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgb(73,87,125,0.15);
    }
    100% {
        transform: scale(1) translateY(-25px) rotateX(10deg);
        box-shadow: 0 25px 40px rgba(73,87,125,0);
        background: #677292;
    }
}