.b-promo {
    max-width: 1520px;
    width: calc(100% - 96px);
    font-size: 18px;
    line-height: 1.2;
    user-select: none;

    &--step2 {
        /*@media (--mdPlus) {
            transform: translateY(calc(  ((100vh - 100%)/2) + (100%-72)));
        }*/
    }
    &__arrows {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        @media (--mdPlus) {
            display: none;
        }
    }
    &__arrow {
        position: absolute;
        top: 21px;
        width: 14px;
        height: 15px;
        background: url(../img/icon_str_mainSl.png) center no-repeat;
        &--left {
            left: 0;
        }
        &--right {
            right: 0;
            transform: rotate(180deg);
            transform-origin: center;
        }
        &--disable {
            opacity: 0.2;
        }
    }
    &__slider {
        @media (--mdPlus) {
            overflow: visible;
        }
    }
    &__pager {
        height: 100px;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 0;
        line-height: 0;
        &--disabled {
            pointer-events: none;
        }
    }
    &__bullet {
        display: inline-block;
        cursor: pointer;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #fff;
        margin: 0 10px;
        position: relative;
    }
    &__slide {
        display: table;
    }
    &__row {
        display: table-row;
    }
    &__cell {
        display: table-cell;
        width: 33.33333%;
        vertical-align: middle;
        position: relative;
        &--n1 {
            padding-right: 8%;
        }
        &--n2 {
            vertical-align: top;
        }
        &.cell--vertical_top {
            vertical-align: top;
        }
        &--n3 {
            padding-left: 8%;
            & p {
                margin-top: 20px;
            }
            & p:first-of-type:not(:only-child) {
                margin-top: 0;
            }
            & .b-promo__cell__link {
                &:after {
                    content: url(/img/icon_more_1.png);
                    position: relative;
                    right: -15px;
                    top: 1px;
                }
                & a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    &__pic {
        width: 100%;
        margin-bottom: 80px;
    }
    &__slide-header {
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'MuseoCyrl';
        font-weight: 700;
        font-size: 1em;
        width: 70%;
    }


    &__bottom {
        text-align: center;
        overflow: hidden;
    }
    &__choice-btn {
        display: block;
        width: 271px;
        height: 53px;
        background: #fff;
        border-radius: 27px;
        text-align: center;
        margin: 0 auto 20px;
        font: 700 16px/55px 'MuseoCyrl';
        color: #445279;
        letter-spacing: 0.1em;
        transition: all 0.3s ease;
        &:active {
            background: #c2cbe4;
            box-shadow: none;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            box-shadow: 0 14px 45px rgba(0, 1, 5, 0.34);
        }
    }

    &__animated-item {
        @media (--smMinus) {
            transform: none!important;
        }
    }

    &__pager-centerer {
        text-align: center;
    }

    &__pager-wrap {
        position: relative;
        display: inline-block;
    }

    &__miniblot {
        position: absolute;
        background: url(../img/svg_icons/slider_bullet.svg) center no-repeat;
        background-size: contain;
        width: 16px;
        height: 14px;
        margin: -7px 0 0 -8px;
        left: 12px;
        top: 28px;
        pointer-events: none;
        @media (--lg) {
            top: 0;
        }
    }

    &__miniblot-tail {
        position: absolute;
        width: 11px;
        height: 9px;
        border-radius: 50%;
        background: #fff;
        left: 3px;
        transition: all .19s;
        top: 2px;
        opacity: 0.8;
    }
}

@media screen and (max-width:1599px) {
    .b-promo {
        font-size: 16px;
        &__pager {
            padding-top: 25px;
        }
        &__cell {
            &--n1 {
                padding-right: 5%;
            }
            &--n3 {
                padding-left: 5%;
            }
        }
        &__pic {
            margin-bottom: 60px;
        }
        &__slide-header {
            top: -100px;
            width: 100%;
        }
        &__read-more-link {
            font-size: 14px;
        }
        &__read-more-link:before,
        &__read-more-link:after {
            top: 2px;
        }
    }
}

@media screen and (max-width:1023px) {
    .b-promo {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 75%;
        margin: 125px auto 0;

        &__pager {
            height: 65px;
        }
        &__row {
            margin-bottom: 40px;
        }
        &__slide,
        &__row,
        &__cell {
            display: block;
        }
        &__cell {
            text-align: center;
            width: auto;
            &--n1 {
                padding-right: 0;
            }
            &--n3 {
                padding-left: 0;
            }
        }
        &__pic {
            max-width: 330px;
            margin: 35px 0 50px;
        }
        &__slide-header {
            position: relative;
            top: 0;
            margin-bottom: 35px;
        }
        &__choice-btn {
            width: 215px;
            height: 42px;
            border-radius: 21px;
            margin-bottom: 14px;
            font-size: 14px;
            line-height: 44px;
        }
    }
}

@media (--xs) {
    .b-promo {
        width: auto;
        margin: 0 20px;
    }
    .b-promo__pager {
        height: 97px;
    }
}


@media(--md) {
    @media (max-height: 900px) {
        .main_flat_choice{
            padding-bottom: 85px;
        }
        .b-promo {
            &__cell {
                font-size: 90%;
                width: 40%;
                &--n2 {
                    width: 20%;
                }
            }
        }
    }
}