.b-sections-slider{
	&__slide{
		@media (--smPlus) {
			display:inline-block;
			width: auto;
			opacity: 0.2;
			transition: opacity 0.4s;
			align-self: flex-end;
			pointer-events: none;
			&--active, &--next, &--prev{
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}