.b-splashscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media (--xs) {
        position: relative;
        padding-bottom: 140px;
    }
    @media (--md) {
        overflow: hidden;
    }
    &__logo-wrap {
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -240px 0 0 -82px;
        z-index: 3;
        @media (--xs) {
            margin: -150px 0 0 -64px;
            position: absolute;
        }
        @media (--sm) {
            position: absolute;
        }
    }
    &__logo {
        width: 164px;
        @media (--xs) {
            width: 128px;
        }
    }
    &__inner {
        height: 100%;
        @media(--xs) {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../img/bg_hello_screen_1.jpg);
            height: calc(100vh - 210px);
        }
        @media(--smPlus) {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
        &--step2 {
            @media(--smPlus) {
                transform: translateY(94px);
            }
        }
    }
    &__video {
        position: absolute;
        display: block;
        transition: all 0.3s;
        transition-delay: 0.05s;
        visibility: visible;
        opacity: 1;
        &--hidden {
            visibility: hidden;
            opacity: 0;
        }

        @media(--xs) {
            display: none;
        }
        @media (--smPlus) {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
    }
    &__poster {
        @media (--xs) {
            display: none;
        }
        @media (--smPlus) {
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: 1920px;
            height: 1080px;
            background: #FCFDF5 url("/img/splash.jpg") center no-repeat;
            background-size: cover;
        }
    }
    &__more {
        @media (--xs) {
            position: absolute;
            left: 50%;
            bottom: 49px;
            margin-left: -42px;
            padding-bottom: 31px;
            font: 100 16px/1 'MuseoCyrl';
            color: #fff!important;
            text-decoration: none;
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -7px;
                background: url(../img/icon_str_mainSl.png) center no-repeat;
                width: 14px;
                height: 15px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
                transform-origin: center;
            }
        }
        @media (--smPlus) {
            display: none;
        }
    }
}


.objectfit .b-splashscreen__video {
    top: 0;
    left: 0;
    transform: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.objectfit .b-splashscreen__poster {
    top: 0;
    left: 0;
    transform: none;
    height: 100%;
    width: 100%;
}