.b-title-switcher {
    height: 22px;
    overflow: visible!important;
    margin-bottom: 22px;
    &__item {
        font: 18px/1.2 'MarckScript';
        letter-spacing: 0.1em;
        text-align: center;
    }

    &__text {
        display: block;
        @media (--smMinus) {
            transform: none!important;
        }
    }
}