.ContactsSubHeader {
    margin-bottom: 40px;
    &_link {
        font-family: MuseoCyrl;
        font-weight: 500;
        text-decoration: underline;
        color: #fff;
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}
