.parking-gag {
    width: 40%;
}

.parking-gag-content {
    padding-left: 8%;
    padding-top: 120px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.parking-gag-content__title {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    padding-bottom: 60px;
}

.parking-gag-content__text {
    font-family: AvenirNext;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 25px;
}

.parking-gag-content__for-btn-text {
    font-family: AvenirNext;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-right: 20px;
}

.parking-gag-content__btn-download {
    border: 1px dashed #fff;
    color: #fff!important;
    background: transparent url(../img/adobe-icon.svg) no-repeat 20px;
    font-size: 14px;
    font-family: MuseoCyrl;
    height: 40px;
    padding: 0 0 0 20px;
    border-radius: 20px;
    margin-right: 15px;
    outline: none;
    width: 135px;
    line-height: 40px;
    text-align: center;
    display: block;
}
.parking-gag-content__btn-download:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
}

.parking-gag-content__btn {
    width: 250px;
    height: 42px;
    background: #fff;
    border-radius: 21px;
    border: none;
    color: #435178;
    font-size: 14px;
    font-weight: 600;
    font-family: MuseoCyrl;
    margin-top: 60px;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    display: block;
    margin-top: 40px;
    outline: none;
}

.parking-gag-content__btn:hover {
    box-shadow: 0 14px 46px rgba(0, 0, 5, .16);
    cursor: pointer;
}

.parking-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}



.parking-mask:after {
    content: "";
    display: block;
    position: absolute;
    left: 30%;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/parking_mask.png) no-repeat 0;
    background-size: 100% 100%;
    z-index: 999;
    pointer-events: none;
}

.parking-gag-content__btns-wrap {
    display: flex;
    align-items: center;
    display: none;
}

.parking-gag-content__btns-wrap_active {
    display: flex;
}

.parking-mask-stage {
    position: absolute;
    right: 0;
    top:190px;
    z-index: 1000;
    width: 60%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.parking-mask-stage__link {
    font-family: MuseoCyrl;
    font-size: 16px;
    color:#ffffff;
    text-decoration: none;
    margin: 0 10px;
    opacity: 0.2;
}

.parking-mask-stage__link:hover {
    opacity: 0.8;
    color:#ffffff;
}

.parking-mask-stage__link:focus {
    color:#ffffff;
}


.parking-mask-schemes_bg {
    position: relative;
    top:230px;
    text-align: center;
}

.parking-mask-schemes {
    position: absolute;
    width: 60%;
    right:0;
    height: 100%;
}

.parking-mask-schemes .swiper-slide {
     background-color: #33436d;
}

.parking-mask-stage .swiper-button-disabled {
    opacity: 1;
}

.parking-mask-schemes_bg img {
    max-width: 100%;
}


.parking-blocks {
    position: absolute;
    right: 0;
    top:120px;
    z-index: 1000;
    width: 60%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.parking-blocks.ui-tabs-nav li .parking-blocks__btn {
    border:1px solid #ffffff;
    background: transparent;
    color:#ffffff;
    text-transform: uppercase;
    font-family: MuseoCyrl;
    font-weight: 600;
    font-size: 12px;
    outline: none;
    padding: 0px 25px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.parking-blocks.ui-tabs-nav .ui-tabs-active a {
    background: #ffffff;
    color:#33436d;
}

.parking-blocks.ui-tabs-nav li {
    display: block;
    margin: 0;
}

.parking-blocks li:nth-child(1) .parking-blocks__btn {
    border-radius: 20px 0 0 20px
}

.parking-blocks li:nth-child(2) .parking-blocks__btn {
    border-radius: 0 20px 20px 0;
}




@media (max-width: 1023px) {

    .parking-gag {
        height: auto;
        width: 100%;
    }

    .parking-gag-content {
        width: 100%;
        box-sizing: border-box;
        padding: 100px 20px 20px 20px;
    }

    .parking-mask {
        position: relative;
    }

    .parking-mask-schemes_bg {
        top:0;
        padding: 0 30px
    }

    .parking-mask:after {
        width: 100%;
        left: 0;
        top: -10%;
        background: url(../img/map_mask_xs.png) no-repeat top;
        background-size: 100% 280px;
        background-position: top;
        left: 0;
    }

    .parking-gag-content__btn {
        margin: 60px auto 20px;
    }


    .parking-gag-content__title {
        padding-bottom: 30px;
    }

    .parking-mask-stage {
        width: 100%;
        position: relative;
        top:0;
        margin-top: 30px;
    }

    .parking-mask-schemes {
        width: 100%;
        position: relative;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .parking-mask-schemes .swiper-slide {
        background-color: transparent;
    }

    .parking-blocks {
        position: relative;
        top:0;
        width: 100%;
    }

    .parking-gag-content__btn {
        margin: 0 auto;
    }

    .parking-gag-content__btns-wrap {
        float: left;
    }
}

@media (max-width: 767px) {

    .parking-mask:before {
        background: url(../img/parking_scheme.png) no-repeat center top;
        background-size: 90%;
    }


    .parking-gag-content__btns-wrap {
        flex-direction: column;
        float: none;
    }

    .parking-gag-content__btn-download {
        margin: 10px 0;
    }

    .parking-gag-content__for-btn-text {
        margin-bottom: 10px;
    }

    .parking-mask:after {
        display: none;
    }


    .parking-gag-content__btn {
        margin: 30px auto 30px;
    }



}
.parking-block1, .parking-block2 {padding:0;}