{% macro block(id, labelText, isAccept) %}
<div class="b-custom-checkbox">
    <input type="checkbox" class="b-custom-checkbox__input" id="{{id}}" name="agree" required="required">
    <label for="{{id}}" class="b-custom-checkbox__label">
        {% if isAccept %} Согласие на<a class="b-custom-checkbox__link text-primary" href="http://www.pdf995.com/samples/pdf.pdf" target="_blank"> <u>обработку персональных данных</a></u>{% else %} {{labelText}}{% endif %}
    </label>
</div>
{% endmacro %}