<div class="b-diary-innersly swiper-container">
    <div class="swiper-wrapper">
        <div class="b-diary-innersly__slide swiper-slide swiper-slide_video">
            <div class="slider-video" data-video="https://www.youtube.com/embed/BrKVLFjn8U8">
                <img src="img/video-bg-1.jpg" class="swiper-lazy b-diary-innersly__img" alt="">
            </div>
        </div>
        <div class="b-diary-innersly__slide swiper-slide">
            <template>
                <p>Фотоотчет 11.0{{i}}.201{{i}}</p>
                <p>Продолжаются работы по возведению монолита. Корпус&nbsp;2А</p>
            </template>
            <template>
                <p>Загружено 11.02.2017 19:54</p>
                <p>Воздвиженский И.В.</p>
            </template>
            <img class="swiper-lazy b-diary-innersly__img" src="/img/pusher-160x90.png" data-src="/tmp/1024x768.png" alt="">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="b-diary-innersly__slide swiper-slide">
            <template>
                <p>Фотоотчет 22.0{{i}}.201{{i}}</p>
                <p>Продолжаются работы по возведению монолита. Корпус&nbsp;2А</p>
            </template>
            <template>
                <p>Загружено 22.02.2017 19:54</p>
                <p>Воздвиженский И.В.</p>
            </template>
            <img class="swiper-lazy b-diary-innersly__img" src="/img/pusher-160x90.png" data-src="/tmp/200x200.png" alt="">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="b-diary-innersly__slide swiper-slide">
            <template>
                <p>Фотоотчет 33.0{{i}}.201{{i}}</p>
                <p>Продолжаются работы по возведению монолита. Корпус&nbsp;2А</p>
            </template>
            <template>
                <p>Загружено 33.02.2017 19:54</p>
                <p>Воздвиженский И.В.</p>
            </template>
            <img class="swiper-lazy b-diary-innersly__img" src="/img/pusher-160x90.png" data-src="/tmp/300x1022.png" alt="">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="b-diary-innersly__slide swiper-slide">
            <template>
                <p>Фотоотчет 44.0{{i}}.201{{i}}</p>
                <p>Продолжаются работы по возведению монолита. Корпус&nbsp;2А</p>
            </template>
            <template>
                <p>Загружено 44.02.2017 19:54</p>
                <p>Воздвиженский И.В.</p>
            </template>
            <img class="swiper-lazy b-diary-innersly__img" src="/img/pusher-160x90.png" data-src="/tmp/1600x900.png" alt="">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
    </div>
</div>
