<div class="b-doccard">
    <div class="b-doccard__title">
        {% if i % 2 === 0 %} ЗАКЛЮЧЕНИЕ ГОС ЭКСПЕРТИЗЫ ПРОЕКТНОЙ ДОКУМЕНТАЦИИ ПО 10-МУ ДОМУ (К1 И К 2) {% else %} ЗАКЛЮЧЕНИЕ ГОС ЭКСПЕРТИЗЫ ПРОЕКТНОЙ {% endif %}
    </div>
    <div class="b-doccard__bottom">
        <div class="b-doccard__inforow">
            <div class="b-doccard__infolabel">Загружено:</div>
            <div class="b-doccard__infoval">15:03 16.06.2017</div>
        </div>
        <div class="b-doccard__inforow">
            <div class="b-doccard__infolabel">Загрузил:</div>
            <div class="b-doccard__infoval">Воздвиженский И.</div>
        </div>
        <div class="b-doccard__dlrow">
            <div class="b-doccard__dlicon-wrap">
                <img src="img/pdf-2.svg" class="b-doccard__dlicon" alt="PDF-ICON">
            </div>
            <div class="b-doccard__dlsize">677,44 Kb</div>
            <div class="b-doccard__dllink-wrap"><a class="b-doccard__dllink" href="#">СКАЧАТЬ</a>&nbsp;</div>
        </div>
    </div>
</div>
