<div class="b-promo">
    <div class="b-promo__arrows">
        <a href="#" class="b-promo__arrow b-promo__arrow--left"></a>
        <a href="#" class="b-promo__arrow b-promo__arrow--right b-promo__arrow b-promo__arrow--disable"></a>
    </div>
    <div class="b-promo__pager-centerer">
        <div class="b-promo__pager-wrap">
            <div class="b-promo__miniblot">
                <div class="b-promo__miniblot-tail"></div>
            </div>
            <div class="b-promo__pager"></div>
        </div>
    </div>
    <div class="b-promo__slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="b-promo__slide">
                    <div class="b-promo__row">
                        <div class="b-promo__cell b-promo__cell--n1">
                            <h5 class="b-promo__slide-header">Исторический район ВДНХ – одно из&nbsp;самых знаменитых и&nbsp;любимых москвичами мест столицы
                <br><a href="#" class="b-corned-btn b-corned-btn--with-ico">Подробнее<i class="b-corned-btn__ico"></i></a>
            </h5>
                            <div class="b-promo__animated-item">
                                <p>ЖК “Серебряный фонтан” — уникальный в&nbsp;своем роде проект. Немалую роль играет расположение жилого комплекса в&nbsp;историческом районе столицы, который прославился своим неповторимым архитектурным обликом.</p>
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n2">
                            <div class="b-promo__animated-item">
                                <img class="b-promo__pic" src="img/bg_mainSlide_1.png" alt="">
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n3">
                            <div class="b-promo__animated-item">
                                <p>Район ВДНХ по праву считается одним из самых знаменитых и по-настоящему любимых москвичами мест в городе. Он имеет богатую и интересную историю, воплотившуюся в памятниках архитектуры и объектах культурного наследия: от церкви Тихвинской Богоматери и храма Троицы Живоначальной в стиле «русское узорочье» до Алексеевской водоподъемной станции и Выставки достижений народного хозяйства.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="b-promo__slide">
                    <div class="b-promo__row">
                        <div class="b-promo__cell b-promo__cell--n1">
                            <h5 class="b-promo__slide-header">Изысканная и&nbsp;сложная архитектура, созвучная историческому облику района<br><a href="#" class="b-corned-btn b-corned-btn--with-ico">Подробнее<i class="b-corned-btn__ico"></i></a></h5>
                            <div class="b-promo__animated-item">
                                <p>Жилой комплекс “Серебряный фонтан” станет неотъемлемой и органичной частью архитектурной среды района. Изысканная и сложная архитектура комплекса полностью созвучна стилю окружающих исторических зданий и представляет собой его естественное продолжение и развитие.</p>
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n2">
                            <div class="b-promo__animated-item">
                                <img class="b-promo__pic" src="img/bg_mainSlide_2.png" alt="">
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n3">
                            <div class="b-promo__animated-item">
                                <p>Изящное решение фасадов призвано выигрышно подчеркнуть неразрывную взаимосвязь жилого комплекса с&nbsp;архитектурным наследием района, его эстетикой и неповторимой атмосферой.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="b-promo__slide">
                    <div class="b-promo__row">
                        <div class="b-promo__cell b-promo__cell--n1">
                            <h5 class="b-promo__slide-header">
                Прогрессивные технологии<br>комфорта
                <br><a href="#" class="b-corned-btn b-corned-btn--with-ico">Подробнее<i class="b-corned-btn__ico"></i></a>
            </h5>
                            <div class="b-promo__animated-item">
                                <p>Важным достоинством комплекса станет использование прогрессивных технологий комфорта на всех уровнях реализации проекта — от проектирования, строительства и отделки до комплектации корпусов сверхсовременным оборудованием. Применение инноваций на стадии проектирования позволило использовать крупнопролетную схему несущих конструкций, поэтому квартиры в ЖК “Серебряный фонтан” отличаются свободной просторной планировкой.</p>
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n2">
                            <div class="b-promo__animated-item">
                                <img class="b-promo__pic" src="img/bg_mainSlide_3.png" alt=""></div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n3 cell--vertical_top">
                            <div class="b-promo__animated-item">
                                <p>Благоприятный микроклимат во всех корпусах и в холодную пору и в летнюю жару обеспечит эффективная система принудительной приточно-вытяжной вентиляции и вентилируемые фасады зданий.</p>
                                <p>Интеллектуальная система управления лифтами, лифтовые кабины от ведущих европейских производителей, отапливаемый паркинг с автомоечными постами — все это логично дополняет общую картину современного жилья высокого класса.</p>
                                <p>Первый московский проект бизнес-класса от Группы «Эталон» сертифицирован по «зеленому» стандарту</p>
                                <p class="b-promo__cell__link"><a href="green-zoom.html">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="b-promo__slide">
                    <div class="b-promo__row">
                        <div class="b-promo__cell b-promo__cell--n1">
                            <h5 class="b-promo__slide-header">
                Атмосфера «своего круга», внимание к&nbsp;нюансам, определяющим уровень жизни
                <br><a href="#" class="b-corned-btn b-corned-btn--with-ico">Подробнее<i class="b-corned-btn__ico"></i></a>
            </h5>
                            <div class="b-promo__animated-item">
                                <p>Завершающий штрих — это по-настоящему особенная социальная среда жилого комплекса.</p>
                                <p>Заведомая общность, однозначно определяемая выбором недвижимости такого уровня.</p>
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n2">
                            <div class="b-promo__animated-item">
                                <img class="b-promo__pic" src="img/bg_mainSlide_4.png" alt="">
                            </div>
                        </div>
                        <div class="b-promo__cell b-promo__cell--n3">
                            <div class="b-promo__animated-item">
                                <p>Во всех нюансах учитывающей культурные и исторические особенности района, послужит залогом формирования действительно благоприятной среды проживания, добрососедских отношений и гарантией высокого уровня комфорта, который является идеологической основой всего проекта.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main_flat_choice">
                    <div class="b-promo__animated-item">
                        <h1>Широкий ассортимент как классических,<br class="hidden-xs"> так и европейских планировок квартир</h1>
                        <div class="main_flat_grid">
                            <div class="main_flat_item main_flat_item--n1">
                                <a href="#" data-filters-params="1,3"></a>
                                <div class="main_flat_count">1-комнатные</div>
                                <div class="main_flat_square">39,3-51,7 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n2">
                                <a href="#" data-filters-params="2,3"></a>
                                <div class="main_flat_count">2-комнатные классические</div>
                                <div class="main_flat_square">65,3-73,4 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n3">
                                <a href="#" data-filters-params="3,3"></a>
                                <div class="main_flat_count">3-комнатные классические</div>
                                <div class="main_flat_square">86,4-105,4 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n4">
                                <a href="#" data-filters-params="4,3"></a>
                                <div class="main_flat_count">4-комнатные классические</div>
                                <div class="main_flat_square">114,1-116 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n5">
                                <a href="#" data-filters-params="5,3"></a>
                                <div class="main_flat_count">5-комнатные классические</div>
                                <div class="main_flat_square">136,5 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n6">
                                <a href="#" data-filters-params="2,2"></a>
                                <div class="main_flat_count">2-комнатные евро</div>
                                <div class="main_flat_square">59,2-66,3 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n7">
                                <a href="#" data-filters-params="3,2"></a>
                                <div class="main_flat_count">3-комнатные евро</div>
                                <div class="main_flat_square">79,9-89,7 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n8">
                                <a href="#" data-filters-params="4,2"></a>
                                <div class="main_flat_count">4-комнатные евро</div>
                                <div class="main_flat_square">108,4-118,7 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n9">
                                <a href="#" data-filters-params="5,2"></a>
                                <div class="main_flat_count">5-комнатные евро</div>
                                <div class="main_flat_square">121,8 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                            <div class="main_flat_item main_flat_item--n10">
                                <a href="#" data-filters-params="6,2"></a>
                                <div class="main_flat_count">6-комнатные классические</div>
                                <div class="main_flat_square">182,4 м²</div>
                                <span class="main_flat_border_1"></span>
                                <span class="main_flat_border_2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-promo__bottom">
        <a href="/filters.html" class="b-promo__choice-btn">ВЫБРАТЬ КВАРТИРУ</a> {#
        <p class="b-promo__slide-title">в историческом районе Москвы</p> #}
        <div class="b-title-switcher swiper-container">
            <div class="b-title-switcher__wrapper swiper-wrapper">
                <div class="b-title-switcher__item swiper-slide">
                    <span class="b-title-switcher__text"> 1 в историческом районе Москвы</span></div>
                <div class="b-title-switcher__item swiper-slide">
                    <span class="b-title-switcher__text"> 2 ЖК с вековой липовой аллеей</span></div>
                <div class="b-title-switcher__item swiper-slide">
                    <span class="b-title-switcher__text"> 3 в историческом районе Москвы</span></div>
                <div class="b-title-switcher__item swiper-slide">
                    <span class="b-title-switcher__text"> 4 ЖК с вековой липовой аллеей</span></div>
                <div class="b-title-switcher__item swiper-slide">
                    <span class="b-title-switcher__text"> 5 в историческом районе Москвы</span></div>
            </div>
        </div>
    </div>
</div>