

<div class="call_me">

    <div class="call_me_head">
        <small>Помогите нам стать лучше</small>
    </div>

    <form method="GET"
        data-action="/ajax/help_us_form_response.json"
        id="helpUsForm">

        <div class="row">

            <div class="col-xs-12 col-md-6 call_me_left call_me_left--with-3-fields">

                <div class="form-group">

                    <input name="name"
                        placeholder="Имя"
                        type="text">

                </div>

                <div class="form-group">

                    <input name="phone"
                        placeholder="Телефон"
                        type="text">

                </div>

                <div class="form-group">

                    <input name="email"
                        placeholder="Email"
                        type="email">

                </div>
            </div>

            <div class="col-xs-12 col-md-6">

                <div class="form-group">

                    <textarea placeholder="Сообщение *"
                        required
                        name="comment"
                        class="span-to-3-fields"></textarea>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    <div class="row note">* — поля, обязательные для заполнения

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group call_me_btnwrap">

                    <input name="Submit"
                        value="Отправить"
                        type="submit">

                </div>
            </div>
        </div>
    </form>
</div>
